---
import UIAppBar from './_UIAppBar.astro'
import { CSSClasses } from '../_styles/classes'
import { ElementIds } from '../_scripts/shared/ids'

type ZO = 0 | 1
function disableRadius(topLeft: ZO, topRight: ZO, bottomLeft: ZO, bottomRight: ZO) {
	const d: Record<string, string> = {}
	if (topLeft    ) d['border-top-left-radius'    ] = '0'
	if (topRight   ) d['border-top-right-radius'   ] = '0'
	if (bottomLeft ) d['border-bottom-left-radius' ] = '0'
	if (bottomRight) d['border-bottom-right-radius'] = '0'

	return d
}
---

<main class={CSSClasses.main}>
	<div style={disableRadius(1, 1, 1, 0)}/>
	<div style={disableRadius(1, 1, 0, 0)}/>
	<div style={disableRadius(1, 1, 0, 1)}/>
	<div style={disableRadius(1, 0, 1, 0)}/>
	<div
		class={CSSClasses.content}
		id={ElementIds.bd_container}
		style={{'--percentage': '0%'}}>
		<UIAppBar/>
		<h1 id={ElementIds.bd_levelText}>&lt;?&gt;%</h1>
		<div data-css="status" id={ElementIds.bd_statusText}>Charging</div>
	</div>
	<div style={disableRadius(0, 1, 0, 1)}/>
	<div style={disableRadius(1, 0, 1, 1)}/>
	<div style={disableRadius(0, 0, 1, 1)}/>
	<div style={disableRadius(0, 1, 1, 1)}/>
</main>
