---
import Icon from '@/components/Icon/index.astro'
import { CSSClasses } from "../_styles/_css"
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
---

<main class={CSSClasses.body}>
	<h1 id={ElementIds.bd_levelText}>100%</h1>
	<div class={CSSClasses.bodyStatus} aria-label="Status">
		<Icon id={ElementIds.bd_statusIcon} IconCode={IconCodes.QuestionCircle}/>
		<span id={ElementIds.bd_statusText}>Unknown</span>
	</div>
</main>