---
import Popover from '@/native-components/Popover/index.astro'
import Button from '@/native-components/Button/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Divider from '@/native-components/Divider/index.astro'
import IconButton from '@/native-components/Button/IconButton.astro'
import { IconCodes } from '@/enums/icons'
import { ButtonVariant } from '../Button'
import './index.scss'
import { type DatePickerProps, DatePickerViewType, DatePickerClasses } from '.'
import { attrClassList } from '@/utils/attributes'

type Props = DatePickerProps
const {
	'class': className,
	DatePickerStartDate = new Date(0),
	DatePickerEndDate,
	DatePickerValue,
	DatePickerHeaderAttr,
	DatePickerTitleAttr,
	DatePickerPreviousAttr,
	DatePickerNextAttr,
	DatePickerDaysAttr,
	DatePickerDayAttr = [],
	DatePickerDividerAttr,
	DatePickerYearAttr,
	DatePickerYearButtonAttr = [],
	DatePickerMonthAttr,
	DatePickerMonthButtonAttr = [],
	DatePickerDateAttr,
	DatePickerDateEmptyAttr = [],
	DatePickerDateButtonAttr = [],
	DatePickerContentAttr,
	...other
} = Astro.props
const {'class': headerClass, ...headerOther} = DatePickerHeaderAttr ?? {}
const {'class': titleClass, ButtonVariant: titleVariant = ButtonVariant.filled, ...titleOther} = DatePickerTitleAttr ?? {}
const {
	'class': previousClass,
	ButtonVariant: previousVariant = ButtonVariant.tonal,
	IconButtonCode: previousIconCode = IconCodes.chevronLeft,
	...previousOther
} = DatePickerPreviousAttr ?? {}
const {
	'class': nextClass,
	ButtonVariant: nextVariant = ButtonVariant.tonal,
	IconButtonCode: nextIconCode = IconCodes.chevronRight,
	...nextOther
} = DatePickerNextAttr ?? {}
const {'class': daysClass, ...daysOther} = DatePickerDaysAttr ?? {}
const {'class': dividerClass, ...dividerOther} = DatePickerDividerAttr ?? {}
const {'class': yearClass, ...yearOther} = DatePickerYearAttr ?? {}
const {'class': monthClass, ...monthOther} = DatePickerMonthAttr ?? {}
const {'class': dateClass, ...dateOther} = DatePickerDateAttr ?? {}
const {'class': contentClass, ...contentOther} = DatePickerContentAttr ?? {}
---

<Popover
	class={attrClassList(DatePickerClasses.datepicker, className)}
	data-c-datepicker-start={DatePickerStartDate.toISOString()}
	data-c-datepicker-end={DatePickerEndDate?.toISOString()}
	data-c-datepicker-value={DatePickerValue?.toISOString()}
	data-c-datepicker-viewtype={DatePickerViewType.day}
	{...other}>
	<div
		class={attrClassList(DatePickerClasses.header, headerClass)}
		{...headerOther}>
		<Button
			ButtonVariant={titleVariant}
			class={attrClassList(DatePickerClasses.title, titleClass)}
			{...titleOther}>
			January 2025
		</Button>
		<IconButton
			ButtonVariant={previousVariant}
			class={attrClassList(DatePickerClasses.previous, previousClass)}
			IconButtonCode={previousIconCode}
			{...previousOther}
		/>
		<IconButton
			ButtonVariant={nextVariant}
			class={attrClassList(DatePickerClasses.next, nextClass)}
			IconButtonCode={nextIconCode}
			{...nextOther}
		/>
	</div>
	<Divider class={attrClassList(DatePickerClasses.divider, dividerClass)} {...dividerOther}/>
	<Tooltip class={attrClassList(DatePickerClasses.days, daysClass)} {...daysOther}>
		{['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].map((v, i) => {
			const {
				'class': className,
				'data-tooltip': tooltip = v,
				...other
			} = DatePickerDayAttr[i] ?? {}
			return <span
				class={attrClassList(DatePickerClasses.day, className)}
				data-tooltip={tooltip}
				{...other}>
				{v.substring(0, 3)}
			</span>
		})}
	</Tooltip>
	<div
		class={attrClassList(DatePickerClasses.year, yearClass)}
		{...yearOther}>
		{Array(16).fill(2025).map((v, i) => {
			const {
				'class': className,
				...other
			} = DatePickerYearButtonAttr[i] ?? {}
			return <Button
				class={attrClassList(DatePickerClasses.yearButton, className)}
				{...other}>
				{v + i}
			</Button>
		})}
	</div>
	<div
		class={attrClassList(DatePickerClasses.month, monthClass)}
		{...monthOther}>
		{[
			'January', 'February', 'March', 'April',
			'May', 'June', 'July', 'August', 'September',
			'October', 'November', 'December'].map((v, i) =>
		{
			const {'class': className, ...other} = DatePickerMonthButtonAttr[i] ?? {}
			return <Button
				class={attrClassList(DatePickerClasses.monthButton, className)}
				{...other}>
				{v}
			</Button>
		})}
	</div>
	<div class={attrClassList(DatePickerClasses.date, dateClass)} {...dateOther}>
		{Array(6).fill(0).map((_, i) => {
			const {'class': className, ...other} = DatePickerDateEmptyAttr[i] ?? {}
			return <div class={attrClassList(DatePickerClasses.dateEmpty, className)} {...other}></div>
		})}
		{Array(31).fill(0).map((_, i) => {
			const {
				'class': className,
				...other
			} = DatePickerDateButtonAttr[i] ?? {}
			return <Button
				class={attrClassList(DatePickerClasses.dateButton, className)}
				{...other}>
				{i + 1}
			</Button>
		})}
	</div>
	<div
		class={attrClassList(DatePickerClasses.content, contentClass)}
		{...contentOther}>
		<slot />
	</div>
</Popover>
<script>
	import { registerDatePickerRef } from '.'
	registerDatePickerRef()
</script>