---
import { RoutesLinks, ExternalLinks } from '@/enums/links'
import Html from '@/layouts/Html/index.astro'
import Appbar from '@/layouts/Appbar/index.astro'
import Splash from '@/layouts/Splash/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import Main from '@/layouts/Main/index.astro'
import { CSSClasses } from './_styles/_css'
import { pxToRem } from '@/utils/css'

export const prerender = true
---

<Html
	title="About Us • Redmerah"
	description="Welcome to Redmerah, your one-stop for becoming a productivity powerhouse. We're more than just a platform; we're your partner in streamlining your workflow and conquering your to-do list. Ever feel overwhelmed by a overflowing task list? Redmerah can help. With the right tools at your fingertips, you can tackle any project with confidence.">
	<Splash>
		<svg style={{width: pxToRem(32) + 'rem'}} viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_536_18)">
				<rect y="10" width="8" height="22" rx="2" fill="#FF1414"/>
				<path d="M14.1504 19.4785C12.7754 18.4093 12.0879 17.8747 12.0142 17.4068C11.9505 17.0018 12.1036 16.5932 12.4224 16.3179C12.7906 16 13.6786 16 15.4544 16H29.9394C30.6607 16 31.0213 16 31.2968 16.1336C31.5391 16.251 31.7362 16.4385 31.8596 16.669C32 16.9311 32 17.2743 32 17.9605V29.2243C32 30.5454 32 31.2059 31.7161 31.5421C31.4693 31.8344 31.0954 32.0031 30.7013 32C30.2481 31.9963 29.7105 31.5783 28.6354 30.7423L14.1504 19.4785Z" fill="url(#paint0_linear_536_18)"/>
				<rect x="22" width="8" height="22" rx="2" transform="rotate(90 22 0)" fill="url(#paint1_linear_536_18)"/>
				<path d="M31.0477 3.02574C31.6985 2.0423 32.0239 1.55059 31.9986 1.14307C31.9766 0.788019 31.8005 0.460331 31.5166 0.246004C31.1908 0 30.6011 0 29.4219 0H11.9496C11.2672 0 10.926 0 10.6653 0.132816C10.436 0.249644 10.2496 0.43606 10.1328 0.665348C10 0.926014 10 1.26724 10 1.9497V28.3519C10 30.2994 10 31.2731 10.3413 31.6271C10.636 31.9329 11.0688 32.0632 11.4833 31.9709C11.9633 31.864 12.5007 31.052 13.5754 29.4279L31.0477 3.02574Z" fill="#FF1414"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_536_18" x1="32.7513" y1="31.9802" x2="8.79067" y2="11.6166" gradientUnits="userSpaceOnUse">
					<stop offset="0.388321" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<linearGradient id="paint1_linear_536_18" x1="25.9481" y1="22" x2="25.9481" y2="-6.43077" gradientUnits="userSpaceOnUse">
					<stop offset="0.239659" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<clipPath id="clip0_536_18">
					<rect width="32" height="32" fill="white"/>
				</clipPath>
			</defs>
		</svg>
	</Splash>
	<Appbar route={RoutesLinks.about} />
	<Main>
		<article class={CSSClasses.article}>
			<h1>About Us</h1>
			<p>Welcome to Redmerah, your one-stop for becoming a productivity powerhouse. We're more than just a platform; we're your partner in streamlining your workflow and conquering your to-do list. Ever feel overwhelmed by a overflowing task list? Redmerah can help. With the right tools at your fingertips, you can tackle any project with confidence.</p>
			<section>
				<h2 id="Supercharged-by-Innovation"><a href="#Supercharged-by-Innovation">Supercharged by Innovation</a></h2>
				<p>Redmerah stays ahead of the curve by harnessing the latest web technologies. This translates to applications that run smoothly and offer robust features, whether you're conquering tasks online or working offline.  Stuck on a plane with no Wi-Fi? No problem! Redmerah keeps your data readily available, even without an internet connection. We understand that reliable connectivity isn't always a guarantee, and that's why we prioritize flexibility. With Redmerah, you can work seamlessly even in remote locations, ensuring your productivity never takes a backseat.</p>
				<p>Speaking of data, we prioritize your privacy. Unlike other platforms that hoard your information like digital dragons guarding their treasure, Redmerah applications save everything locally on your device. This means your settings, history, and all your important data remain under your control. You decide what stays and what goes. Redmerah empowers you to be the master of your digital domain.</p>
			</section>
			<section>
				<h2 id="Designed-for-You-by-Humans"><a href="#Designed-for-You-by-Humans">Designed for You, by Humans</a></h2>
				<p>We're obsessed with crafting user interfaces (UI) and user experiences (UX) that are a joy to use. Our applications are meticulously designed to adapt seamlessly to any device you choose, be it a desktop computer, a tablet, or your trusty smartphone. We believe that productivity shouldn't be a chore. Our interfaces are intuitive and aesthetically pleasing, making it a pleasure to organize your tasks and conquer your goals. No matter your tech savviness, Redmerah's user-friendly design makes it easy to get started and maximize your efficiency</p>
			</section>
			<section>
				<h2 id="Focus-on-What-Matters"><a href="#Focus-on-What-Matters">Focus on What Matters</a></h2>
				<p>Unlike other platforms that bombard you with ads, turning your screen into a chaotic marketplace, Redmerah is a distraction-free zone. We prioritize functionality over flashy banners or intrusive pop-ups. Here, you can concentrate on getting things done without the annoyance of constant interruptions</p>
			</section>
			<section>
				<h2 id="Fueling-the-Future"><a href="#Fueling-the-Future">Fueling the Future</a></h2>
				<p>Redmerah is a passionate project driven by the support of amazing people like you. We operate on donations and sponsorships, and if you find our tools valuable, we encourage you to consider becoming a sponsor. Reach out to us at <a href={"mailto:" + ExternalLinks.contactEmail}>{ExternalLinks.contactEmail}</a> or donate us <a href={ExternalLinks.donate}>here</a>. Every contribution fuels our passion to develop even more useful applications that empower you to achieve more.</p>
			</section>
			<section>
				<h2 id="Your-Voice-Shapes-Our-Journey"><a href="#Your-Voice-Shapes-Our-Journey">Your Voice Shapes Our Journey</a></h2>
				<p>Have an idea for a feature? Encountered a bug? We&#39;re all ears! Contact us at <a href={"mailto:" + ExternalLinks.contactEmail}>{ExternalLinks.contactEmail}</a>, and we&#39;ll listen. Your feedback is the cornerstone of our development process, and it helps us create tools that truly meet your needs.</p>
				<p>Thank you for joining the Redmerah community! We're thrilled to have you on board as we embark on this journey to unlock your full potential.</p>
			</section>
		</article>
	</Main>
	<BottomBar />
	<script src="./_scripts/_index.ts"/>
</Html>
