---
import CheckBox from '@/components/CheckBox/index.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import Button from '@/components/Button/index.astro'
import ColorPicker from '@/components/ColorPicker/index.astro'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { ButtonVariant } from '@/components/Button'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelColorpicker}
	hidden>
	<h2>ColorPicker</h2>
	<p>A color picker is a UI element that allows users to select a color from a defined color space. It typically provides a visual representation of colors and offers various methods for color selection, such as palettes, sliders, or color wheels.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<Button
				id={ElementIds.panelColorpickerPreviewButton}
				ButtonVariant={ButtonVariant.tonal}
				popovertarget={ElementIds.panelColorpickerPreviewColorPicker}>
				Pick color
			</Button>
		</Tooltip>
		<ColorPicker
			PopoverAnchorBy={ElementIds.panelColorpickerPreviewButton}
			id={ElementIds.panelColorpickerPreviewColorPicker}
		/>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelColorpickerOptions}>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelColorpickerOptionsHueOnly,
			}}>
			Hue only
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelColorpickerOptionsDisabledOpacity,
			}}>
			Disabled opacity
		</CheckBox>
	</div>
</div>