---
import { DEFAULT_DATA, DEFAULT_PAGE } from '../../_scripts/_shared/_constant'
import { Pages } from '../../_scripts/_shared/_enums'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { CSSClasses } from '../../_styles/_css'
import TextAreaField from '@/components/TextAreaField/index.astro'
import Button from '@/components/Button/index.astro'
import Toast from '@/components/Toast/index.astro'
import Icon from '@/components/Icon/index.astro'
import { IconCodes } from '@/enums/icons'
import { pxToRem } from '@/utils/css'
import { ButtonVariant } from '@/components/Button'
---

<div
	id={ElementIds.pg_generate}
	class={[CSSClasses.bodyPage, CSSClasses.pageGenerate].join(' ')}
	role="tabpanel"
	hidden={DEFAULT_PAGE !== Pages.generate}>
	<TextAreaField
		style={{
			'max-width': `min(100%,${pxToRem(720)}rem)`
		}}
		id={ElementIds.pgGen_input}
		placeholder="Link, email, or any text"
		value={DEFAULT_DATA}
	/>
	<div style={{
		display: 'flex',
		marginTop: pxToRem(16) + 'rem',
		gap: pxToRem(16) + 'rem',
	}}>
		<canvas id={ElementIds.pgGen_output}/>
		<div style={{
			display: 'flex',
			gap: pxToRem(8) + 'rem',
			'flex-direction': 'column',
			width: pxToRem(192) + 'rem'
		}}>
			<p style="font-size:var(--g-font-size-xs);">Donwload:</p>
			<Button id={ElementIds.pgGen_png} disabled ButtonVariant={ButtonVariant.tonal}>PNG</Button>
			<Button id={ElementIds.pgGen_jpg} disabled ButtonVariant={ButtonVariant.tonal}>JPEG</Button>
			<Button id={ElementIds.pgGen_svg} disabled ButtonVariant={ButtonVariant.tonal}>SVG</Button>
		</div>
	</div>
</div>
<Toast id={ElementIds.toa_generateError} ToastCloseDelay={5000}>
	<Icon IconCode={IconCodes.warning} slot="leading"/>
	<span id={ElementIds.toa_generateErrorMessage}/>
</Toast>