---
import { CButton } from '@/components/Button'
import { DEFAULT_PAGE } from '../../_scripts/_shared/_constant'
import { Pages } from '../../_scripts/_shared/_enums'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { CSSClasses } from '../../_styles/_css'
import TextAreaField from '@/components/TextAreaField/index.astro'
import Button from '@/components/Button/index.astro'
import Icon from '@/components/Icon/index.astro'
import { IconCodes } from '@/enums/icons'
---

<div
	id={ElementIds.pg_scan}
	class={[CSSClasses.bodyPage, CSSClasses.pageScan].join(' ')}
	role="tabpanel"
	hidden={DEFAULT_PAGE !== Pages.Scan}>
	<Button ButtonVariant={CButton.Variant.Filled} id={ElementIds.pgScan_pickImg}>
		<Icon IconCode={IconCodes.QrCode}/>
		Pick QR code image
	</Button>
	<label for={ElementIds.pgScan_output}>Data:</label>
	<TextAreaField readonly id={ElementIds.pgScan_output}/>
	<img src="" alt="" id={ElementIds.pgScan_imgPreview}/>
</div>