---
import { attrClassList } from '@/utils/attributes'
import { ModalClasses, type ModalProps } from './index'

import './index.scss'

type Props = ModalProps

const {
	ModalAnchorBy,
	ModalDraggable,
	ModalImportant,
	ModalAutoFocus,
	ModalAnimation,
	ModalGap,
	ModalPadding,
	ModalPosition,
	ModalDragHandleAttr = {},
	ModalContentAttr = {},
	'class': className,
	...other
} = Astro.props

const {
	'class': dragHandleClassName,
	tabindex: dragHandleTabIndex = 0,
	...dragHandleOther
} = ModalDragHandleAttr ?? {}

const {
	'class': contentClassName,
	...contentOther
} = ModalContentAttr ?? {}

---
<dialog
	class={attrClassList(ModalClasses.modal, className)}
	data-c-modal-anchorby={ModalAnchorBy}
	data-c-modal-draggable={ModalDraggable? '' : undefined}
	data-c-modal-important={ModalImportant? '' : undefined}
	data-c-modal-autofocus={ModalAutoFocus? '' : undefined}
	data-c-modal-animation={ModalAnimation? '' : undefined}
	data-c-modal-gap={ModalGap}
	data-c-modal-padding={ModalPadding}
	data-c-modal-position={ModalPosition}
	{...other}>
	<div
		class={attrClassList(ModalClasses.content, contentClassName)}
		{...contentOther}>
		<slot />
	</div>

	{/* Keep below content to avoid auto focus */}
	<div
		class={attrClassList(ModalClasses.dragHandle, dragHandleClassName)}
		tabindex={dragHandleTabIndex}
		{...dragHandleOther}
	/>
</dialog>
<script>
	import { registerModal } from '.'
	registerModal()
</script>