---
import { joinClassList } from '@/utils/attributes'

import {
	ModalClasses,
	type ModalProps
} from './index'
import './index.scss'

type Props = ModalProps
const {
	ModalAnchorBy,
	ModalDraggable,
	ModalImportant,
	ModalAutoFocus,
	ModalAnimation,
	ModalGap,
	ModalPadding,
	ModalPosition,
	ModalDragHandleAttr = {},
	ModalContentAttr = {},
	'class': className,
	...other
} = Astro.props
const {
	'class': dragHandleClass,
	tabindex: dragHandleTabIndex = 0,
	draggable: dragHandleDraggable = 'false',
	...dragHandleOther
} = ModalDragHandleAttr ?? {}
const {
	'class': contentClass,
	...contentOther
} = ModalContentAttr ?? {}

---
<dialog
	class={joinClassList(ModalClasses.modal, className)}
	data-c-modal-anchorby={ModalAnchorBy}
	data-c-modal-draggable={ModalDraggable? '' : undefined}
	data-c-modal-important={ModalImportant? '' : undefined}
	data-c-modal-autofocus={ModalAutoFocus? '' : undefined}
	data-c-modal-animation={ModalAnimation? '' : undefined}
	data-c-modal-gap={ModalGap}
	data-c-modal-padding={ModalPadding}
	data-c-modal-position={ModalPosition}
	{...other}>
	<div
		class={joinClassList(ModalClasses.content, contentClass)}
		{...contentOther}>
		<slot />
	</div>

	{/* Keep below content to avoid auto focus */}
	<div
		class={joinClassList(ModalClasses.dragHandle, dragHandleClass)}
		tabindex={dragHandleTabIndex}
		draggable={dragHandleDraggable}
		{...dragHandleOther}
	/>
</dialog>
<script>
	import { registerModalRef } from '.'
	registerModalRef()
</script>