---
import { attrClassList } from '@/utils/attributes'

import {
	PopoverClasses,
	type PopoverProps
} from '.'
import './index.scss'

type Props = PopoverProps

const {
	PopoverAnchorBy,
	PopoverDraggable,
	PopoverGap,
	PopoverPadding,
	PopoverPosition,
	PopoverDragHandleAttr = {},
	PopoverContentAttr = {},
	'class': className,
	popover,
	...other
} = Astro.props

const {'class': dragHandleClass, draggable: dragHandleDraggable = 'false', ...dragHandleOther} = PopoverDragHandleAttr
const {'class': contentClass   , ...contentOther   } = PopoverContentAttr

---
<div
	class={attrClassList(PopoverClasses.popover, className)}
	popover={popover ?? 'auto'}
	data-c-popover-anchorby={PopoverAnchorBy}
	data-c-popover-draggable={PopoverDraggable? '' : undefined}
	data-c-popover-gap={PopoverGap}
	data-c-popover-padding={PopoverPadding}
	data-c-popover-position={PopoverPosition}
	{...other}>
	<div
		class={attrClassList(PopoverClasses.content, contentClass)}
		{...contentOther}>
		<slot />
	</div>

	{/* Keep below content to avoid auto focus */}
	<div
		class={attrClassList(PopoverClasses.dragHandle, dragHandleClass)}
		draggable={dragHandleDraggable}
		tabindex="0"
		{...dragHandleOther}
	/>
</div>
<script>
	import { registerPopoverRef } from '.'
	registerPopoverRef()
</script>