---
import { IconCodes } from '@/enums/icons'
import { ButtonVariant } from '@/native-components/Button'
import Button from '@/native-components/Button/index.astro'
import IconButton from '@/native-components/Button/IconButton.astro'
import Icon from '@/native-components/Icon/index.astro'
import Toast from '@/native-components/Toast/index.astro'
import ColorPicker from '@/native-components/ColorPicker/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import { CSSClasses } from '../_styles/_css'
import { DEFAULT_COLOR, DEFAULT_PALETTE } from '../_scripts/_shared/_constant'
import { ElementIds } from '../_scripts/_shared/_ids'
import { generateColorPalette } from '@/utils/color'
import { Commands } from '../_scripts/_shared/_commands'
---
<main class={CSSClasses.body}>
	<div class={CSSClasses.bodyControl}>
		<Tooltip style={{
			display: 'flex',
			gap: '4px'
		}}>
			<Button
				ButtonVariant={ButtonVariant.filled}
				id={ElementIds.bd_pickerBtn}
				popovertarget={ElementIds.bd_picker}
				data-tooltip="Pick color">
				<Icon IconCode={IconCodes.eyedropper} IconFilled/>
				<span style="font-weight:bold" id={ElementIds.bd_pickerBtnSpan}>{DEFAULT_COLOR}</span>
			</Button>
			<IconButton
				id={ElementIds.bd_saveBtn}
				ButtonVariant={ButtonVariant.tonal}
				IconButtonCode={IconCodes.save}
				aria-label="Save palette"
				data-tooltip="Save palette"
			/>
		</Tooltip>
		<p>Light mode:</p>
		<div
			data-css-color
			style={{
				backgroundColor: 'rgb(var(--g-color-accent-light))'
			}}>
			<span style={{color: 'rgb(var(--g-color-on-accent-light))'}}>
				Accent Light<br/><span id={ElementIds.bd_accentLight}>#00658F</span>
			</span>
			<span style={{
				backgroundColor: 'rgb(var(--g-color-on-accent-light))',
				color: 'rgb(var(--g-color-accent-light))',
			}}>
				On Accent Light<br/><span id={ElementIds.bd_onAccentLight}>#FFFFFF</span>
			</span>
		</div>
		<p>Dark mode:</p>
		<div
			data-css-color
			style={{
				backgroundColor: 'rgb(var(--g-color-accent-dark))'
			}}>
			<span style={{color: 'rgb(var(--g-color-on-accent-dark))'}}>
				Accent Dark<br/><span id={ElementIds.bd_accentDark}>#86CEFF</span>
			</span>
			<span style={{
				backgroundColor: 'rgb(var(--g-color-on-accent-dark))',
				color: 'rgb(var(--g-color-accent-dark))',
			}}>
				On Accent Dark<br/><span id={ElementIds.bd_onAccentDark}>#00344C</span>
			</span>
		</div>
	</div>
	<Tooltip>
		<ul class={CSSClasses.bodyList}>
			{DEFAULT_PALETTE.map(seed => {
				const pal = generateColorPalette(seed)
				return (<li data-seed-color={seed}>
					<p>
						<Icon
							IconFilled
							IconCode={IconCodes.circle}
							style={`color:${seed}`}
						/>
						{seed}
						<span style="display:block;flex:1"></span>
						<IconButton
							aria-label="Copy"
							data-tooltip="Copy"
							data-command={Commands.pal_copy}
							IconButtonCode={IconCodes.copy}
						/>
						<IconButton
							aria-label="Delete"
							data-tooltip="Delete"
							data-command={Commands.pal_delete}
							IconButtonCode={IconCodes.delete}
						/>
					</p>
					<div style={`background-color:${pal.color};color:${pal.onColor}`}>
						<span data-tooltip="Accent Light">{pal.color.toUpperCase()}</span>
						<span
							data-tooltip="On Accent Light"
							style={`background-color:${pal.onColor};color:${pal.color}`}>{
							pal.onColor.toUpperCase()
						}</span>
					</div>
					<div style={`background-color:${pal.colorDark};color:${pal.onColorDark}`}>
						<span data-tooltip="Accent Dark">{pal.colorDark.toUpperCase()}</span>
						<span
							data-tooltip="On Accent Dark"
							style={`background-color:${pal.onColorDark};color:${pal.colorDark}`}>{
							pal.onColorDark.toUpperCase()
						}</span>
					</div>
				</li>)
			})}
		</ul>
	</Tooltip>
</main>
<ColorPicker
	ColorPickerValue={DEFAULT_COLOR}
	id={ElementIds.bd_picker}
	PopoverDraggable
	ColorPickerDisabledOpacity
	PopoverAnchorBy={ElementIds.bd_pickerBtn}
	PopoverGap={8}
	PopoverPadding={12}
/>
<Toast id={ElementIds.toa_copied} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.copy} slot="leading"/>
	Copied
</Toast>