---
import Button from '@/components/Button/index.astro'
import Toast from '@/components/Toast/index.astro'
import Icon from '@/components/Icon/index.astro'
import { IconCodes } from '@/enums/icons'
import { CSSClasses } from '../_styles/_css'
import { ElementIds } from '../_scripts/_shared/_ids'
import { CButton } from '@/components/Button'
import { pxToRem } from '@/utils/css'
---

<main class={CSSClasses.body}>
	<Button
		id={ElementIds.bd_startPause}
		style={{'margin-bottom': pxToRem(16) + 'rem'}}
		ButtonVariant={CButton.Variant.Filled}>
		<Icon IconCode={IconCodes.LocationFilled}/>
		Show my location
	</Button>
	<ul>
		<li>
			<Icon IconCode={IconCodes.Road}/>
			<div>Accuracy:<br/><span id={ElementIds.bd_accuracy}>N/A</span></div></li>
		<li>
			<Icon IconCode={IconCodes.ArrowBidirectionalUpDown}/>
			<div>Latitude:<br/><span id={ElementIds.bd_latitude}>N/A</span></div></li>
		<li>
			<Icon IconCode={IconCodes.ArrowBidirectionalLeftRight}/>
			<div>Longitude:<br/><span id={ElementIds.bd_longitude}>N/A</span></div></li>
		<li>
			<Icon IconCode={IconCodes.MountainLocationTop}/>
			<div>Altitude:<br/><span id={ElementIds.bd_altitude}>N/A</span></div></li>
		<li>
			<Icon IconCode={IconCodes.LocationCheckmark}/>
			<div>Altitude accuracy:<br/><span id={ElementIds.bd_altitudeAccuracy}>N/A</span></div></li>
		<li>
			<Icon IconCode={IconCodes.TopSpeed}/>
			<div>Speed:<br/><span id={ElementIds.bd_speed}>N/A</div></span>
		</li>
		<li>
			<Icon IconCode={IconCodes.CompassNorthwest}/>
			<div>
				Heading:<br/><span id={ElementIds.bd_heading}>N/A</span>
			</div>
		</li>
	</ul>
</main>
<Toast
	id={ElementIds.toa_location}
	ToastCloseDelay={10000}
	ToastContentAttr={{style: {
		'align-items': 'flex-start',
		'padding-top': pxToRem(8) + 'rem',
		'padding-bottom': pxToRem(8) + 'rem',
	}}}>
	<Icon IconCode={IconCodes.GlobeOff} slot="leading"/>
	Unable to retrive geolocation. Make sure to:
	<ol style="margin-left:1em">
		<li>Allow location permission.</li>
		<li>Connect to internet.</li>
		<li>Enable location mode on your device.</li>
	</ol>
</Toast>
<Toast id={ElementIds.toa_permission} ToastCloseDelay={10000}>
	<Icon IconCode={IconCodes.GlobeShield} slot="leading"/>
	Permission to use geolocation is denied. Please allow location permission to use this app.
</Toast>