---
import Button from '@/components/Button/index.astro'
import CheckBox from '@/components/CheckBox/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Icon from '@/components/Icon/index.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { ButtonVariant } from '@/components/Button'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { IconCodes } from '@/enums/icons'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelButtons}
	hidden>
	<h2>Buttons</h2>
	<p>A button is an interactive UI element that triggers a specific action when clicked or tapped. It typically has a clear label indicating its function and provides visual feedback upon interaction. Buttons are essential for guiding users through an interface and facilitating user-system communication.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<IconButton
				data-tooltip="Icon Button"
				id={ElementIds.panelButtonsPreview1}
				IconButtonCode={IconCodes.add}
			/>
			<Button id={ElementIds.panelButtonsPreview2} data-tooltip="Button">
				Click me
			</Button>
			<Button id={ElementIds.panelButtonsPreview3} data-tooltip="Button">
				<Icon IconCode={IconCodes.add} data-tooltip="Icon"/>
				Click me
			</Button>
		</Tooltip>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelButtonsOptions}>
		<div class={CSS.bodyOptionsGroup}>
			<label for={ElementIds.panelButtonsOptionsVariant}>Variant:</label>
			<ComboBox
				id={ElementIds.panelButtonsOptionsVariant}
				style="min-width:140px;margin-right:12px">
				<ComboBoxOption value={ButtonVariant.filled}>Filled</ComboBoxOption>
				<ComboBoxOption value={ButtonVariant.tonal}>Tonal</ComboBoxOption>
				<ComboBoxOption value={ButtonVariant.transparent} selected>Transparent</ComboBoxOption>
				<ComboBoxOption value={ButtonVariant.outlined}>Outlined</ComboBoxOption>
			</ComboBox>
		</div>
		<CheckBox
			CheckBoxInputAttr={{id: ElementIds.panelButtonsOptionsDisabled}}>
			Disabled
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{id: ElementIds.panelButtonsOptionsFocused}}>
			Focused
		</CheckBox>
	</div>
</div>