---
import CheckBox from '@/native-components/CheckBox/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelCheckbox}
	hidden>
	<h2>CheckBox</h2>
	<p>A checkbox is a UI element that allows users to select multiple options from a list. It typically displays a square box that can be checked or unchecked to indicate selection or deselection.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<CheckBox
				data-tooltip="CheckBox"
				CheckBoxInputAttr={{
					id: ElementIds.panelCheckboxPreview1,
					checked: true
				}}>
				Option 1
			</CheckBox>
			<CheckBox
				data-tooltip="CheckBox"
				CheckBoxInputAttr={{id: ElementIds.panelCheckboxPreview2}}>
				Option 2
			</CheckBox>
			<CheckBox
				data-tooltip="CheckBox"
				CheckBoxInputAttr={{id: ElementIds.panelCheckboxPreview3}}>
				Option 3
			</CheckBox>
		</Tooltip>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelCheckboxOptions}>
		<CheckBox
			CheckBoxInputAttr={{id: ElementIds.panelCheckboxOptionsDisabled}}>
			Disabled
		</CheckBox>
	</div>
</div>