---
import Tooltip from '@/components/Tooltip/index.astro'
import Button from '@/components/Button/index.astro'
import CheckBox from '@/components/CheckBox/index.astro'
import Dialog from '@/components/Dialog/index.astro'
import TextField from '@/components/TextField/index.astro'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { ButtonVariant } from '@/components/Button'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelDialog}
	hidden>
	<h2>Dialog</h2>
	<p>A dialog is an overlay window that interrupts the user's main workflow to deliver important information or request user input. It typically contains a title, content area, and buttons for user actions.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<Button
				id={ElementIds.panelDialogPreviewButton}
				ButtonVariant={ButtonVariant.tonal}
				aria-haspopup="dialog"
				aria-controls={ElementIds.panelDialogPreviewDialog}>
				Open dialog
			</Button>
		</Tooltip>
		<Dialog style="width:500px" id={ElementIds.panelDialogPreviewDialog} aria-label="Dialog title">
			<Fragment slot="header">Do You Like Cookies?</Fragment>
			<TextField style="margin-bottom:8px" TextFieldInputAttr={{placeholder: 'Type something ...', autofocus: true}}/>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellat aliquid iste vel laudantium iusto quos qui debitis quod libero veniam nobis repudiandae aperiam nulla earum, est porro suscipit delectus!</p>
			<form style="display:contents" method="dialog" slot="footer">
				<Button ButtonVariant={ButtonVariant.tonal}>Close</Button>
				<Button ButtonVariant={ButtonVariant.tonal}>Options</Button>
				<Button ButtonVariant={ButtonVariant.filled}>Accept</Button>
			</form>
		</Dialog>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelDialogOptions}>
		<CheckBox
			CheckBoxInputAttr={{id: ElementIds.panelDialogOptionsImportant}}>
			Important
		</CheckBox>
	</div>
</div>