---
import CheckBox from '@/components/CheckBox/index.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import Icon from '@/components/Icon/index.astro'
import List from '@/components/List/index.astro'
import Button from '@/components/Button/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import IconButton from '@/components/Button/IconButton.astro'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { ButtonVariant } from '@/components/Button'
import { ListVariant } from '@/components/List'
import { IconCodes } from '@/enums/icons'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelList}
	hidden>
	<h2>List</h2>
	<p>A list is a UI element that displays a collection of items in a sequential order. It typically includes components like title, subtitle, leading icon (placed before the title), and trailing buttons (placed after the title).</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<List
				id={ElementIds.panelListPreviewList}
				style="padding-right:4px"
				ListVariant={ListVariant.tonal}
				ListTrailingAttr={{
					id: ElementIds.panelListPreviewTrailing,
					style: 'display:flex;align-items:center;gap:4px;'
				}}
				ListLeadingAttr={{
					id: ElementIds.panelListPreviewLeading
				}}
				ListSubtitleAttr={{
					id: ElementIds.panelListPreviewSubtitle
				}}>
				<Icon data-tooltip="Icon" IconCode={IconCodes.alert} slot="leading"/>
				<p id={ElementIds.panelListPreviewTitle} data-tooltip="Title">Ullamco Lorem amet culpa ad quis duis enim ut magna.</p>
				<p slot="subtitle" data-tooltip="Subtitle">Duis commodo ad laboris tempor incididunt excepteur et esse ipsum irure tempor.</p>
				<Fragment slot="trailing">
					<Button data-tooltip="Button" ButtonVariant={ButtonVariant.filled}>Show more</Button>
					<IconButton data-tooltip="IconButton" IconButtonCode={IconCodes.chevronDown}/>
				</Fragment>
			</List>
		</Tooltip>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelListOptions}>
		<div class={CSS.bodyOptionsGroup}>
			<label for={ElementIds.panelListOptionsVariant}>Variant:</label>
			<ComboBox
				id={ElementIds.panelListOptionsVariant}
				style="min-width: 140px; margin-right: 12px">
				<ComboBoxOption value={ListVariant.filled}>Filled</ComboBoxOption>
				<ComboBoxOption value={ListVariant.tonal} selected>Tonal</ComboBoxOption>
				<ComboBoxOption value={ListVariant.transparent}>Transparent</ComboBoxOption>
				<ComboBoxOption value={ListVariant.outlined}>Outlined</ComboBoxOption>
			</ComboBox>
		</div>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelListOptionsLeading,
				checked: true
			}}>
			Leading
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelListOptionsTrailing,
				checked: true
			}}>
			Trailing
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelListOptionsTitle,
				checked: true
			}}>
			Title
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelListOptionsSubtitle,
				checked: true
			}}>
			Subtitle
		</CheckBox>
	</div>
</div>