---
import CheckBox from '@/components/CheckBox/index.astro'
import TextField from '@/components/TextField/index.astro'
import Modal from '@/components/Modal/index.astro'
import Button from '@/components/Button/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { ButtonVariant } from '@/components/Button'
import { FlyoutPosition } from '@/enums/position'
import { pxToRem } from '@/utils/css'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelModal}
	hidden>
	<h2>Modal</h2>
	<p>A modal is an overlay window that appears on top of the main content, blocking user interaction with the underlying elements until it is dismissed. Modals are often used for critical tasks or to present important information.</p>
	<div class={CSS.bodyPlayground}>
		<Button
			ButtonVariant={ButtonVariant.tonal}
			id={ElementIds.panelModalPreviewButtonOpen}
			aria-controls={ElementIds.panelModalPreviewModal}
			aria-haspopup="true">
			Open popover
		</Button>
		<Modal
			aria-label="Modal"
			id={ElementIds.panelModalPreviewModal}
			ModalAnchorBy={ElementIds.panelModalPreviewButtonOpen}
			ModalContentAttr={{
				style: {
					padding: pxToRem(16) + 'rem',
					width: pxToRem(280) + 'rem'
				}
			}}
			ModalPadding={16}
			ModalGap={8}>
			<TextField
				TextFieldInputAttr={{
					placeholder: 'Feedback',
					style: 'width: 100%'
				}}
			/>
			<p style={{
				padding: `${pxToRem(8)}rem 0 ${pxToRem(16)}rem 0`
			}}>Consequat commodo sint incididunt nulla duis commodo elit enim aliquip ex occaecat eiusmod.</p>
			<Button
				id={ElementIds.panelModalPreviewButtonClose}
				aria-controls={ElementIds.panelModalPreviewModal}
				ButtonVariant={ButtonVariant.filled}>
				Close popover
			</Button>
		</Modal>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelModalOptions}>
		<div class={CSS.bodyOptionsGroup}>
			<label for={ElementIds.panelModalOptionsPosition}>Position:</label>
			<ComboBox
				id={ElementIds.panelModalOptionsPosition}
				style={{
					'margin-right': pxToRem(12) + 'rem'
				}}>
				{[
					[FlyoutPosition.centerBottom, 'Center bottom'],
					[FlyoutPosition.centerBottomToLeft, 'Center bottom to left'],
					[FlyoutPosition.centerBottomToRight, 'Center bottom to right'],
					[FlyoutPosition.centerCenter, 'Center center'],
					[FlyoutPosition.centerCenterBottom, 'Center center bottom'],
					[FlyoutPosition.centerCenterLeft, 'Center center left'],
					[FlyoutPosition.centerCenterLeftBottom, 'Center center left bottom'],
					[FlyoutPosition.centerCenterLeftTop, 'Center center left top'],
					[FlyoutPosition.centerCenterRight, 'Center center right'],
					[FlyoutPosition.centerCenterRightBottom, 'Center center right bottom'],
					[FlyoutPosition.centerCenterRightTop, 'Center center right top'],
					[FlyoutPosition.centerCenterTop, 'Center center top'],
					[FlyoutPosition.centerTop, 'Center top'],
					[FlyoutPosition.centerTopToLeft, 'Center top to left'],
					[FlyoutPosition.centerTopToRight, 'Center top to right'],
					[FlyoutPosition.leftBottom, 'Left bottom'],
					[FlyoutPosition.leftCenter, 'Left center'],
					[FlyoutPosition.leftCenterToBottom, 'Left center to bottom'],
					[FlyoutPosition.leftCenterToTop, 'Left center to top'],
					[FlyoutPosition.leftTop, 'Left top'],
					[FlyoutPosition.rightBottom, 'Right bottom'],
					[FlyoutPosition.rightCenter, 'Right center'],
					[FlyoutPosition.rightCenterToBottom, 'Right center to bottom'],
					[FlyoutPosition.rightCenterToTop, 'Right center to top'],
					[FlyoutPosition.rightTop, 'Right top'],
				].map(v =>
					<ComboBoxOption value={v[0]} selected={v[0] === FlyoutPosition.centerBottom}>{v[1]}</ComboBoxOption>
				)}
			</ComboBox>
		</div>
		<div
			class={CSS.bodyOptionsGroup}
			style={{
				'margin-right': pxToRem(12) + 'rem'
			}}>
			<label
				for={ElementIds.panelModalOptionsPadding}>
				Padding:
			</label>
			<TextField
				TextFieldInputAttr={{
					value: '16',
					type: 'number',
					min: 0,
					style: {
						width: pxToRem(100) + 'rem'
					},
					id: ElementIds.panelModalOptionsPadding
				}}
			/>
		</div>
		<div
			class={CSS.bodyOptionsGroup}
			style={{
				'margin-right': pxToRem(12) + 'rem'
			}}>
			<label
				for={ElementIds.panelModalOptionsGap}>
				Gap:
			</label>
			<TextField
				TextFieldInputAttr={{
					value: '8',
					type: 'number',
					min: 0,
					style: {
						width: pxToRem(100) + 'rem'
					},
					id: ElementIds.panelModalOptionsGap
				}}
			/>
		</div>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelModalOptionsAnchor,
				checked: true
			}}>
			Anchor
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelModalOptionsAutofocus,
				checked: true
			}}>
			Autofocus
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelModalOptionsImportant,
			}}>
			Important
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelModalOptionsDraggable,
			}}>
			Draggable
		</CheckBox>
	</div>
</div>