---
import Button from '@/native-components/Button/index.astro'
import Select from '@/native-components/Select/index.astro'
import SelectOption from '@/native-components/Select/SelectOption.astro'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { SelectVariant } from '@/native-components/Select'
import { ButtonVariant } from '@/native-components/Button'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelSelect}
	hidden>
	<h2>Select</h2>
	<p>A Select is a UI element that displays a list of options when clicked. It provides a compact way to present multiple choices while saving screen space.</p>
	<div class={CSS.bodyPlayground}>
		<Select
			id={ElementIds.panelSelectPreview}
			style="min-width:120px">
			{[
				['a', 'Bird'],
				['b', 'Monkey'],
				['c', 'Whale'],
				['d', 'Tiger'],
				['e', 'Anoa'],
				['f', 'Lion'],
				['g', 'Komodo'],
				['h', 'Elephant'],
				['i', 'Dolphin'],
				['j', 'Fish'],
			].map(v =>
				<SelectOption value={v[0]}>{v[1]}</SelectOption>
			)}
			<Fragment slot="placeholder">Select animal</Fragment>
		</Select>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelSelectOptions}>
		<Button
			id={ElementIds.panelSelectOptionsReset}
			ButtonVariant={ButtonVariant.filled}
			style="margin-right:8px;display:none">
			Reset selection
		</Button>
		<div class={CSS.bodyOptionsGroup}>
			<label id={ElementIds.panelSelectOptionsVariantLabel}>Variant:</label>
			<Select
				aria-labelledby={ElementIds.panelSelectOptionsVariantLabel}
				id={ElementIds.panelSelectOptionsVariant}
				style="min-width: 140px">
				<SelectOption value={SelectVariant.filled}>Filled</SelectOption>
				<SelectOption value={SelectVariant.tonal} SelectOptionSelected>Tonal</SelectOption>
				<SelectOption value={SelectVariant.transparent}>Transparent</SelectOption>
				<SelectOption value={SelectVariant.outlined}>Outlined</SelectOption>
			</Select>
		</div>
	</div>
</div>