---
import Tooltip from '@/components/Tooltip/index.astro'
import TextField from '@/components/TextField/index.astro'
import TextFieldButton from '@/components/TextField/TextFieldButton.astro'
import CheckBox from '@/components/CheckBox/index.astro'
import Icon from '@/components/Icon/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { ElementIds } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { IconCodes } from '@/enums/icons'

const types = [
	'button', 'checkbox', 'color', 'date', 'datetime-local',
	'email', 'file', 'hidden', 'image', 'month', 'number',
	'password', 'radio', 'range', 'reset', 'search', 'submit',
	'tel', 'text', 'time', 'url', 'week'
].sort((a, b) => a.localeCompare(b))
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ElementIds.panelTextfield}
	hidden>
	<h2>TextField</h2>
	<p>A TextField is a UI element that allows users to input text. It typically includes a text box for entering content and may have additional features like labels, placeholders, and validation rules.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<TextField
				id={ElementIds.panelTextfieldPreview}
				TextFieldInputAttr={{
					style: "padding:0",
					placeholder: 'Type here ...',
					id: ElementIds.panelTextfieldPreviewInput
				}}>
				<Icon
					data-tooltip="Icon"
					style="margin-left:8px"
					IconCode={IconCodes.attach}
					slot="leading"
					id={ElementIds.panelTextfieldPreviewLeading}
				/>
				<TextFieldButton
					aria-label="Search"
					data-tooltip="TextFieldButton"
					style="margin-right:4px"
					slot="trailing"
					id={ElementIds.panelTextfieldPreviewTrailing}>
					<Icon IconCode={IconCodes.search}/>
				</TextFieldButton>
			</TextField>
		</Tooltip>
	</div>
	<div class={CSS.bodyOptions} id={ElementIds.panelTextfieldOptions}>
		<div class={CSS.bodyOptions} style="margin-right:12px">
			<label for={ElementIds.panelTextfieldOptionsType}>Type:</label>
			<ComboBox
				id={ElementIds.panelTextfieldOptionsType}
				style="min-width:150px">
				{types.map(v =>
					<ComboBoxOption value={v} selected={v === 'text'}>{v}</ComboBoxOption>
				)}
			</ComboBox>
		</div>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelTextfieldOptionsLeading,
				checked: true
			}}>
			Leading
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelTextfieldOptionsTrailing,
				checked: true
			}}>
			Trailing
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{id: ElementIds.panelTextfieldOptionsReadonly}}>
			Read only
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ElementIds.panelTextfieldOptionsPlaceholder,
				checked: true
			}}>
			Placeholder
		</CheckBox>
	</div>
</div>