---
import * as Ids from './_scripts/shared/ids.enum.js'
import * as Icons from '@/enums/icons.enum.js'
import * as Styles from './_styles/styles.enum.js'

type Props = {
	title: string
	subtitle?: string
	datetime?: Date
	author?: string
	authorPictureUrl?: string
	coverPictureUrl?: string
	disabledAuthor?: boolean
}

const props = Astro.props
---
<article class={Styles.Article}>
	<section class={Styles.Header}>
		<h1>{props.title}</h1>
		{props.subtitle && <p>{props.subtitle}</p>}
		{props.coverPictureUrl && <img src={props.coverPictureUrl} alt={props.title}/>}
		{!props.disabledAuthor && <div>
			{props.authorPictureUrl && <img
				src={props.authorPictureUrl}
				alt={props.author ?? ''}
			/>}
			<p data-css-empty={props.author || props.datetime? undefined : ''}>
				{props.author}
				{props.author && props.datetime && <br/>}
				{props.datetime && <time datetime={props.datetime?.toISOString() ?? ''}>{
					props.datetime?.toLocaleDateString('en', {
						year: 'numeric', month: 'long', day: 'numeric'
					})
				}</time>}
			</p>
			<div style={{flex: '1'}}/>
			<button br:variant="tonal" id={Ids.ShareButton}>
				<br-icon set:html={Icons.ShareAndroid}/>
				Share
			</button>
		</div>}
	</section>
	<div class={Styles.Body}>
		<slot />
	</div>
</article>
<script src="./_scripts/index.ts"/>
<script src="@/web-components/components/br-icon.ts"/>
<script src="@/web-components/components/button.ts"/>