---
import UIClock from './_pages/_UIClock.astro'
import UITimer from './_pages/_UITimer.astro'
import UIStopwatch from './_pages/_UIStopwatch.astro'
import Dialog from '@/components/Dialog/index.astro'
import Icon from '@/components/Icon/index.astro'
import Button from '@/components/Button/index.astro'
import Toast from '@/components/Toast/index.astro'
import { CSSClasses } from "../_styles/_css"
import { ElementIds } from '../_scripts/_shared/_ids'
import { IconCodes } from '@/enums/icons'
import { CButton } from '@/components/Button'
import { pxToRem } from '@/utils/css'
---

<main class={CSSClasses.body}>
	<UIClock />
	<UITimer />
	<UIStopwatch />
	<Dialog
		id={ElementIds.bdDlg_wakeLockError}
		style={{
			width: pxToRem(360) + 'rem'
		}}>
		<Fragment slot="header">
			<Icon
				IconCode={IconCodes.warning}
				style={{
					'--c-icon-size': pxToRem(32) + 'rem'
				}}
			/>
			Keep Awake Error
		</Fragment>
		<p>
			There was a problem preventing the screen from staying on. This might be because of a browser error, a permission block, or battery saver being active.
		</p>
		<form style="display:contents" slot="footer" method="dialog">
			<Button ButtonVariant={CButton.Variant.filled}>Close</Button>
		</form>
	</Dialog>
	<Toast id={ElementIds.toa_copied}>
		<Icon slot="leading" IconCode={IconCodes.copy}/>
		Copied
	</Toast>
</main>