---
import SideBar from '@/components/SideBar/index.astro'
import Icon from '@/components/Icon/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Drawer from '@/components/Drawer/index.astro'
import DrawerButton from '@/components/Drawer/DrawerButton.astro'
import Button from '@/components/Button/index.astro'
import SideBarButton from '@/components/SideBar/SideBarButton.astro'
import { CButton } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { CSSClasses } from '../_styles/classes'
import { Pages } from '../_scripts/shared/enums'
import { ElementIds } from '../_scripts/shared/ids'
import { DEFAULT_PAGE } from '../_scripts/shared/constant'

const items: {
	icon: number
	name: string
	page: Pages
	controls: string
}[] = [
	{
		icon: IconCodes.Clock,
		name: 'Clock',
		page: Pages.Clock,
		controls: ElementIds.pg_clock,
	},
	{
		icon: IconCodes.Timer,
		name: 'Stopwatch',
		page: Pages.Stopwatch,
		controls: ElementIds.pg_stopwatch,
	},
	{
		icon: IconCodes.Hourglass,
		name: 'Timer',
		page: Pages.Timer,
		controls: ElementIds.pg_timer,
	},
]
---

<SideBar
	role="tablist"
	class={CSSClasses.navigationSideBar}
	id={ElementIds.nav_sideBar}
	aria-label="Navigation">
	<IconButton
		style={{width: 'fit-content'}}
		IconButtonCode={IconCodes.LineHorizontal3}
		data-tooltip="Minimize side bar"
		id={ElementIds.nav_minimizeBtn}
	/>
	{items.map(v => <SideBarButton
		role="tab"
		data-page={v.page}
		aria-selected={DEFAULT_PAGE === v.page}
		aria-controls={v.controls}
		SideBarButtonSelected={DEFAULT_PAGE === v.page}
		ButtonVariant={DEFAULT_PAGE === v.page ? CButton.Variant.Tonal : undefined}>
		<Icon
			slot="leading"
			IconCode={v.icon}
			data-tooltip={v.name}
		/>
		{v.name}
	</SideBarButton>)}
</SideBar>
<Drawer
	id={ElementIds.nav_drawer}
	aria-label="Navigation">
	<Button
		slot="header"
		style="width:min-content"
		popovertarget={ElementIds.nav_drawer}
		popovertargetaction="hide">
		<Icon IconCode={IconCodes.LineHorizontal3}/>
	</Button>
	{items.map(v => <DrawerButton
		aria-selected={DEFAULT_PAGE === v.page}
		aria-controls={v.controls}
		data-page={v.page}
		DrawerButtonSelected={DEFAULT_PAGE === v.page}
		ButtonVariant={DEFAULT_PAGE === v.page ? CButton.Variant.Tonal : undefined}>
		<Icon
			IconCode={v.icon}
		/>
		{v.name}
	</DrawerButton>)}
</Drawer>