---
import Button from '@/components/Button/index.astro'
import Icon from '@/components/Icon/index.astro'
import { CButton } from '@/components/Button'
import { AppCSSColors } from '@/enums/app-data'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { Commands } from '../../_scripts/_shared/_commands'
import { CSSClasses } from "../../_styles/_css"
import { Pages } from '../../_scripts/_shared/_enums'
import { DEFAULT_BASIC_INPUT, DEFAULT_BASIC_OUTPUT, DEFAULT_PAGE } from '../../_scripts/_shared/_constant'
---
<div
	class={CSSClasses.bd_page}
	role="tabpanel"
	id={ElementIds.pg_basic}
	hidden={DEFAULT_PAGE !== Pages.Basic}>
	<div class={CSSClasses.bdPage_input}>
		<input
			id={ElementIds.pgBas_input}
			readonly
			placeholder="0"
			value={DEFAULT_BASIC_INPUT}
			class={CSSClasses.bd_inField}
		/>
		<input
			id={ElementIds.pgBas_output}
			readonly
			value={DEFAULT_BASIC_OUTPUT ?? '0'}
			class={CSSClasses.bd_outField}
		/>
	</div>
	<div class={CSSClasses.bdPage_options}>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Button data-command={Commands.MemoClear} data-tooltip="Memory clear (Ctrl+Shift+C)">MC</Button>
			<Button data-command={Commands.MemoAdd} data-tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">M+</Button>
			<Button data-command={Commands.MemoSub} data-tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">M-</Button>
			<Button class={CSSClasses.bdPage_memoPreview} data-command={Commands.MemoRecall} data-tooltip="Memory recall (Ctrl+Shift+R)">MR: 0</Button>
		</div>
	</div>
	<div class={CSSClasses.bdPage_buttons} style="grid-template-columns: repeat(4, 1fr);">
		<Button data-command={Commands.KeyChar} data-char="%" ButtonVariant={CButton.Variant.Tonal}>%</Button>
		<Button data-command={Commands.KeyChar} data-char="√" ButtonVariant={CButton.Variant.Tonal}>√</Button>
		<Button data-command={Commands.KeyClear} ButtonVariant={CButton.Variant.Tonal} style={`color:rgb(${AppCSSColors.Accent})`}>C</Button>
		<Button data-command={Commands.KeyBackspace} ButtonVariant={CButton.Variant.Tonal} style={`color:rgb(${AppCSSColors.Accent})`}><Icon IconCode={IconCodes.Backspace}/></Button>

		<Button data-command={Commands.KeyChar} data-char="7" data-type="number" ButtonVariant={CButton.Variant.Tonal}>7</Button>
		<Button data-command={Commands.KeyChar} data-char="8" data-type="number" ButtonVariant={CButton.Variant.Tonal}>8</Button>
		<Button data-command={Commands.KeyChar} data-char="9" data-type="number" ButtonVariant={CButton.Variant.Tonal}>9</Button>
		<Button data-command={Commands.KeyChar} data-char="÷" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.SlashForward}/></Button>

		<Button data-command={Commands.KeyChar} data-char="4" data-type="number" ButtonVariant={CButton.Variant.Tonal}>4</Button>
		<Button data-command={Commands.KeyChar} data-char="5" data-type="number" ButtonVariant={CButton.Variant.Tonal}>5</Button>
		<Button data-command={Commands.KeyChar} data-char="6" data-type="number" ButtonVariant={CButton.Variant.Tonal}>6</Button>
		<Button data-command={Commands.KeyChar} data-char="×" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.Dismiss}/></Button>

		<Button data-command={Commands.KeyChar} data-char="1" data-type="number" ButtonVariant={CButton.Variant.Tonal}>1</Button>
		<Button data-command={Commands.KeyChar} data-char="2" data-type="number" ButtonVariant={CButton.Variant.Tonal}>2</Button>
		<Button data-command={Commands.KeyChar} data-char="3" data-type="number" ButtonVariant={CButton.Variant.Tonal}>3</Button>
		<Button data-command={Commands.KeyChar} data-char="-" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.LineHorizontal1}/></Button>

		<Button data-command={Commands.KeyChar} data-char="0" data-type="number" ButtonVariant={CButton.Variant.Tonal}>0</Button>
		<Button data-command={Commands.KeyDec} ButtonVariant={CButton.Variant.Tonal}>.</Button>
		<Button data-command={Commands.KeyEqual} ButtonVariant={CButton.Variant.Filled} style="font-weight:bold">=</Button>
		<Button data-command={Commands.KeyChar} data-char="+" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.Add}/></Button>
	</div>
</div>