---
import Button from '@/components/Button/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Icon from '@/components/Icon/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { CSSClasses } from "../../_styles/classes"
import { AppCSSColors } from '@/enums/app-data'
import { CButton } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { CComboBox } from '@/components/ComboBox'
import { ElementIds } from '../../_scripts/shared/ids'
import { Commands } from '../../_scripts/shared/commands'
import { CONVERTER_TYPES, DEFAULT_CONVERTER_INPUT, DEFAULT_CONVERTER_INPUT_UNIT, DEFAULT_CONVERTER_OUTPUT, DEFAULT_CONVERTER_OUTPUT_UNIT, DEFAULT_CONVERTER_TYPE } from '../../_scripts/shared/constant'
import { LengthUnits } from '../../_scripts/shared/units'
import { Pages } from '../../_scripts/shared/enums'
import { DEFAULT_PAGE } from '../../_scripts/shared/constant'
import { pxToRem } from '@/utils/css'
---
<div
	class={CSSClasses.bd_page}
	role="tabpanel"
	id={ElementIds.pg_converter}
	hidden={DEFAULT_PAGE !== Pages.Converter}>
	<div class={CSSClasses.bdPage_input}>
		<input
			id={ElementIds.pgConv_input}
			readonly
			placeholder="0"
			value={DEFAULT_CONVERTER_INPUT}
			class={CSSClasses.bd_inField}
		/>
		<input
			id={ElementIds.pgConv_output}
			readonly
			value={DEFAULT_CONVERTER_OUTPUT ?? '0'}
			class={CSSClasses.bd_outField}
		/>
	</div>
	<div class={CSSClasses.bdPage_options} id={ElementIds.pgConv_options}>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Button data-command={Commands.MemoClear} data-tooltip="Memory clear (Ctrl+Shift+C)">MC</Button>
			<Button data-command={Commands.MemoAdd} data-tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">M+</Button>
			<Button data-command={Commands.MemoSub} data-tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">M-</Button>
			<Button class={CSSClasses.bdPage_memoPreview} data-command={Commands.MemoRecall} data-tooltip="Memory recall (Ctrl+Shift+R)">MR: 0</Button>
		</div>
		<div class={CSSClasses.bdPage_optionGroup}>
			<label
				style={{
					margin: `0 ${pxToRem(8)}rem 0 ${pxToRem(12)}rem`
				}}
				for={ElementIds.pgConv_type}>Type:</label>
			<ComboBox
				id={ElementIds.pgConv_type}
				aria-label="Converter type"
				style={{
					width: pxToRem(186) + 'rem'
				}}
				ComboBoxVariant={CComboBox.Variant.Outlined}>
				{CONVERTER_TYPES.map(c =>
					<ComboBoxOption value={c.type}
						selected={c.type === DEFAULT_CONVERTER_TYPE}>
						{c.text}
					</ComboBoxOption>
				)}
			</ComboBox>
		</div>
		<div
			class={CSSClasses.bdPage_optionGroup}
			style={{
				display: 'grid',
				'grid-template-columns': `1fr ${pxToRem(40)}rem 1fr`,
				gap: pxToRem(4) + 'rem'
			}}>
			<ComboBox id={ElementIds.pgConv_inputUnit} aria-label="Unit from">
				{LengthUnits.all.map(c =>
					<ComboBoxOption value={c.id} style="gap:0" selected={c.equals(DEFAULT_CONVERTER_INPUT_UNIT)}>
						{c.name} [&nbsp;<span style={`color:rgb(${AppCSSColors.Accent})`}>{c.symbol}</span>&nbsp;]
					</ComboBoxOption>
				)}
			</ComboBox>
			<IconButton data-command={Commands.KeyUnitSwap} id={ElementIds.pgConv_swap} aria-label="Swap unit" IconButtonCode={IconCodes.ArrowRight}/>
			<ComboBox id={ElementIds.pgConv_outputUnit} aria-label="Unit To">
				{LengthUnits.all.map(c =>
					<ComboBoxOption value={c.id} style="gap:0" selected={c.equals(DEFAULT_CONVERTER_OUTPUT_UNIT)}>
						{c.name} [&nbsp;<span style={`color:rgb(${AppCSSColors.Accent})`}>{c.symbol}</span>&nbsp;]
					</ComboBoxOption>
				)}
			</ComboBox>
		</div>
	</div>
	<div class={CSSClasses.bdPage_buttons} style="grid-template-columns: repeat(3, 1fr);">
		<Button data-command={Commands.KeyPlusMin} ButtonVariant={CButton.Variant.Tonal}>±</Button>
		<Button data-command={Commands.KeyClear} ButtonVariant={CButton.Variant.Tonal} style={`color:rgb(${AppCSSColors.Accent})`}>C</Button>
		<Button data-command={Commands.KeyBackspace} ButtonVariant={CButton.Variant.Tonal} style={`color:rgb(${AppCSSColors.Accent})`}><Icon IconCode={IconCodes.Backspace}/></Button>

		<Button data-command={Commands.KeyChar} data-char="7" data-type="number" ButtonVariant={CButton.Variant.Tonal}>7</Button>
		<Button data-command={Commands.KeyChar} data-char="8" data-type="number" ButtonVariant={CButton.Variant.Tonal}>8</Button>
		<Button data-command={Commands.KeyChar} data-char="9" data-type="number" ButtonVariant={CButton.Variant.Tonal}>9</Button>

		<Button data-command={Commands.KeyChar} data-char="4" data-type="number" ButtonVariant={CButton.Variant.Tonal}>4</Button>
		<Button data-command={Commands.KeyChar} data-char="5" data-type="number" ButtonVariant={CButton.Variant.Tonal}>5</Button>
		<Button data-command={Commands.KeyChar} data-char="6" data-type="number" ButtonVariant={CButton.Variant.Tonal}>6</Button>

		<Button data-command={Commands.KeyChar} data-char="1" data-type="number" ButtonVariant={CButton.Variant.Tonal}>1</Button>
		<Button data-command={Commands.KeyChar} data-char="2" data-type="number" ButtonVariant={CButton.Variant.Tonal}>2</Button>
		<Button data-command={Commands.KeyChar} data-char="3" data-type="number" ButtonVariant={CButton.Variant.Tonal}>3</Button>

		<Button data-command={Commands.KeyChar} data-char="0" data-type="number" ButtonVariant={CButton.Variant.Tonal}>0</Button>
		<Button data-command={Commands.KeyDec} ButtonVariant={CButton.Variant.Tonal}>.</Button>
		<Button data-command={Commands.KeyEqual} ButtonVariant={CButton.Variant.Filled} style="font-weight:bold">=</Button>
	</div>
</div>