---
import ComboBox from '@/components/ComboBox/index.astro'
import Button from '@/components/Button/index.astro'
import DatePicker from '@/components/DatePicker/index.astro'
import Icon from '@/components/Icon/index.astro'
import TextField from '@/components/TextField/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { CSSClasses } from "../../_styles/classes"
import { CButton } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { FlyoutPosition } from '@/enums/position'
import { ElementIds } from '../../_scripts/shared/ids'
import { DateOperation } from '../../_scripts/shared/enums'
import { Pages } from '../../_scripts/shared/enums'
import { DEFAULT_DATE_INPUT_DAYS, DEFAULT_DATE_INPUT_FROM, DEFAULT_DATE_INPUT_MONTHS, DEFAULT_DATE_INPUT_TO, DEFAULT_DATE_INPUT_YEAR, DEFAULT_DATE_OPERATION, DEFAULT_DATE_OUTPUT, DEFAULT_PAGE } from '../../_scripts/shared/constant'
import { pxToRem } from '@/utils/css'
---

<div
	id={ElementIds.pg_date}
	role="tabpanel"
	class={CSSClasses.bdPage_date}
	hidden={DEFAULT_PAGE !== Pages.Date}>
	<label for={ElementIds.pgDate_operation}>Operation</label>
	<ComboBox
		id={ElementIds.pgDate_operation}
		style={{
			width: pxToRem(256) + 'rem',
			'margin-top': pxToRem(4) + 'rem',
			'margin-bottom': pxToRem(16) + 'rem',
		}}>
		<ComboBoxOption
			selected={DEFAULT_DATE_OPERATION === DateOperation.Add}
			value={DateOperation.Add}>Add</ComboBoxOption>
		<ComboBoxOption
			selected={DEFAULT_DATE_OPERATION === DateOperation.Subtract}
			value={DateOperation.Subtract}>Subtract</ComboBoxOption>
		<ComboBoxOption
			selected={DEFAULT_DATE_OPERATION === DateOperation.Difference}
			value={DateOperation.Difference}>Difference</ComboBoxOption>
	</ComboBox>
	<label for={ElementIds.pgDate_fromBtn}>From</label>
	<Button
		style={{
			margin: `${pxToRem(4)}rem 0 ${pxToRem(16)}rem 0`,
			width: pxToRem(256) + 'rem'
		}}
		id={ElementIds.pgDate_fromBtn}
		ButtonVariant={CButton.Variant.Tonal}
		popovertarget={ElementIds.pgDate_fromPicker}>
		<span style="display:block">{DEFAULT_DATE_INPUT_FROM.toLocaleDateString('en', {day:'numeric', month: 'long', year: 'numeric'})}</span>
		<div style="flex:1"/>
		<Icon IconCode={IconCodes.Calendar}/>
	</Button>
	<DatePicker
		id={ElementIds.pgDate_fromPicker}
		PopoverAnchorBy={ElementIds.pgDate_fromBtn}
		PopoverPosition={FlyoutPosition.CenterBottomToRight}
		PopoverGap={pxToRem(8)}
		PopoverPadding={pxToRem(13)}
	/>

	<div style="display: contents" id={ElementIds.pgDate_diff}>
		<label for={ElementIds.pgDate_toBtn}>To</label>
		<Button
			style={{
				margin: `${pxToRem(4)}rem 0 ${pxToRem(16)}rem`,
				width: pxToRem(256) + 'rem'
			}}
			id={ElementIds.pgDate_toBtn}
			ButtonVariant={CButton.Variant.Tonal}
			popovertarget={ElementIds.pgDate_toPicker}>
			<span style="display:block">{DEFAULT_DATE_INPUT_TO.toLocaleDateString('en', {day:'numeric', month: 'long', year: 'numeric'})}</span>
			<div style="flex:1"/>
			<Icon IconCode={IconCodes.Calendar}/>
		</Button>
		<DatePicker
			id={ElementIds.pgDate_toPicker}
			PopoverAnchorBy={ElementIds.pgDate_toBtn}
			PopoverPosition={FlyoutPosition.CenterBottomToRight}
			PopoverGap={pxToRem(8)}
			PopoverPadding={pxToRem(13)}
		/>
	</div>

	<div
		style={{
			display: 'none',
			'grid-template-columns': 'repeat(3,1fr)',
			width: pxToRem(256) + 'rem',
			gap: pxToRem(8) + 'rem',
			'margin-bottom': pxToRem(16) + 'rem'
		}}
		id={ElementIds.pgDate_addSub}>
		<div>
			<label for={ElementIds.pgDate_years}>Years</label>
			<TextField
				style={{
					'margin-top': pxToRem(4) + 'rem'
				}}
				TextFieldInputAttr={{
					id: ElementIds.pgDate_years,
					type: 'number',
					min: '0',
					value: DEFAULT_DATE_INPUT_YEAR
				}}
			/>
		</div>
		<div>
			<label for={ElementIds.pgDate_months}>Months</label>
			<TextField
				style={{
					'margin-top': pxToRem(4) + 'rem'
				}}
				TextFieldInputAttr={{
					id: ElementIds.pgDate_months,
					type: 'number',
					min: '0',
					value: DEFAULT_DATE_INPUT_MONTHS
				}}
			/>
		</div>
		<div>
			<label for={ElementIds.pgDate_days}>Days</label>
			<TextField
				style={{
					'margin-top': pxToRem(4) + 'rem'
				}}
				TextFieldInputAttr={{
					id: ElementIds.pgDate_days,
					type: 'number',
					min: '0',
					value: DEFAULT_DATE_INPUT_DAYS
				}}
			/>
		</div>
	</div>
	<label for={ElementIds.pgDate_output}>Result</label>
	<output id={ElementIds.pgDate_output}>{DEFAULT_DATE_OUTPUT}</output>
</div>