---
import Button from '@/components/Button/index.astro'
import Popover from '@/components/Popover/index.astro'
import Icon from '@/components/Icon/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import CheckBox from '@/components/CheckBox/index.astro'
import Divider from '@/components/Divider/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { CSSClasses } from "../../_styles/_css"
import { AppCSSColors } from '@/enums/app-data'
import { CButton } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { Commands } from '../../_scripts/_shared/_commands'
import { ScientificAngleType } from '../../_scripts/_shared/_enums'
import { Pages } from '../../_scripts/_shared/_enums'
import { DEFAULT_PAGE, DEFAULT_SCIENTIFIC_ANGLE, DEFAULT_SCIENTIFIC_INPUT, DEFAULT_SCIENTIFIC_OUTPUT } from '../../_scripts/_shared/_constant'
import { pxToRem } from '@/utils/css'
import { FlyoutPosition } from '@/enums/position'
---
<div
	class={CSSClasses.bd_page}
	role="tabpanel"
	id={ElementIds.pg_scientific}
	hidden={DEFAULT_PAGE !== Pages.Scientific}>
	<div class={CSSClasses.bdPage_input}>
		<input
			id={ElementIds.pgSci_input}
			readonly
			placeholder="0"
			value={DEFAULT_SCIENTIFIC_INPUT}
			class={CSSClasses.bd_inField}
		/>
		<input
			id={ElementIds.pgSci_output}
			readonly
			value={DEFAULT_SCIENTIFIC_OUTPUT ?? '0'}
			class={CSSClasses.bd_outField}
		/>
	</div>
	<div class={CSSClasses.bdPage_options}>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Button data-command={Commands.MemoClear} data-tooltip="Memory clear (Ctrl+Shift+C)">MC</Button>
			<Button data-command={Commands.MemoAdd} data-tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">M+</Button>
			<Button data-command={Commands.MemoSub} data-tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">M-</Button>
			<Button class={CSSClasses.bdPage_memoPreview} data-command={Commands.MemoRecall} data-tooltip="Memory recall (Ctrl+Shift+R)">MR: 0</Button>
		</div>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Button
				ButtonVariant={CButton.Variant.Tonal}
				id={ElementIds.pgSci_fnBtn}
				aria-haspopup="true"
				aria-expanded="false"
				aria-controls={ElementIds.pgSci_fnMenu}
				popovertarget={ElementIds.pgSci_fnMenu}>
				<Icon IconCode={IconCodes.MathFormula}/>
				Functions
				<div style={{
					'min-width': pxToRem(4) + 'rem',
					'max-width': pxToRem(4) + 'rem',
				}}/>
				<Icon IconCode={IconCodes.ChevronDown}/>
			</Button>
			<Popover
				popover="manual"
				PopoverDraggable
				PopoverGap={pxToRem(8)}
				PopoverPosition={FlyoutPosition.CenterBottomToRight}
				PopoverPadding={pxToRem(16)}
				id={ElementIds.pgSci_fnMenu}
				PopoverAnchorBy={ElementIds.pgSci_fnBtn}>
				<div class={CSSClasses.bdPageSci_menuGrid}>
					<Button data-command={Commands.KeyChar} data-char="abs(" ButtonVariant={CButton.Variant.Tonal}>abs(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="log(" ButtonVariant={CButton.Variant.Tonal}>log(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="ln(" ButtonVariant={CButton.Variant.Tonal}>ln(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="ceil(" ButtonVariant={CButton.Variant.Tonal}>ceil(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="round(" ButtonVariant={CButton.Variant.Tonal}>round(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="floor(" ButtonVariant={CButton.Variant.Tonal}>floor(x)</Button>
				</div>
				<Divider/>
				<div style={{
					padding: `${pxToRem(16)}rem ${pxToRem(16)}rem 0 ${pxToRem(18)}rem`,
					display: 'flex',
					gap: pxToRem(4) + 'rem'
				}}>
					<CheckBox CheckBoxInputAttr={{id: ElementIds.pgSci_fnInv}}>Invers</CheckBox>
					<CheckBox CheckBoxInputAttr={{id: ElementIds.pgSci_fnHyper}}>Hyperbolic</CheckBox>
				</div>
				<div
					style={{
						'padding-top': pxToRem(4) + 'rem'
					}}
					class={CSSClasses.bdPageSci_menuGrid}>
					<Button data-command={Commands.KeyChar} data-char="sin(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={CButton.Variant.Tonal}>sin(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="cos(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={CButton.Variant.Tonal}>cos(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="tan(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={CButton.Variant.Tonal}>tan(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="csc(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={CButton.Variant.Tonal}>csc(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="sec(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={CButton.Variant.Tonal}>sec(x)</Button>
					<Button data-command={Commands.KeyChar} data-char="cot(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={CButton.Variant.Tonal}>cot(x)</Button>
				</div>
			</Popover>
			<ComboBox id={ElementIds.pgSci_angle}>
				<ComboBoxOption
					selected={DEFAULT_SCIENTIFIC_ANGLE === ScientificAngleType.RAD}
					value={ScientificAngleType.RAD}>RAD</ComboBoxOption>
				<ComboBoxOption
					selected={DEFAULT_SCIENTIFIC_ANGLE === ScientificAngleType.DEG}
					value={ScientificAngleType.DEG}>DEG</ComboBoxOption>
				<ComboBoxOption
					selected={DEFAULT_SCIENTIFIC_ANGLE === ScientificAngleType.GRAD}
					value={ScientificAngleType.GRAD}>GRAD</ComboBoxOption>
			</ComboBox>
		</div>
	</div>
	<div class={CSSClasses.bdPage_buttons} style="grid-template-columns: repeat(5, 1fr);">
		<Button data-command={Commands.KeyChar} data-char="mod" ButtonVariant={CButton.Variant.Tonal}>mod</Button>
		<Button data-command={Commands.KeyChar} data-char="(" ButtonVariant={CButton.Variant.Tonal}>(</Button>
		<Button data-command={Commands.KeyChar} data-char=")" ButtonVariant={CButton.Variant.Tonal}>)</Button>
		<Button data-command={Commands.KeyClear} ButtonVariant={CButton.Variant.Tonal} style={`color:rgb(${AppCSSColors.Accent})`}>C</Button>
		<Button data-command={Commands.KeyBackspace} ButtonVariant={CButton.Variant.Tonal} style={`color:rgb(${AppCSSColors.Accent})`}><Icon IconCode={IconCodes.Backspace}/></Button>

		<Button data-command={Commands.KeyChar} data-char="%" ButtonVariant={CButton.Variant.Tonal}>%</Button>
		<Button data-command={Commands.KeyChar} data-char="10^" ButtonVariant={CButton.Variant.Tonal}>10^</Button>
		<Button data-command={Commands.KeyChar} data-char="^2" ButtonVariant={CButton.Variant.Tonal}>^2</Button>
		<Button data-command={Commands.KeyChar} data-char="e^" ButtonVariant={CButton.Variant.Tonal}>e^</Button>
		<Button data-command={Commands.KeyChar} data-char="^" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.ChevronUp}/></Button>

		<Button data-command={Commands.KeyChar} data-char="!" ButtonVariant={CButton.Variant.Tonal}>!</Button>
		<Button data-command={Commands.KeyChar} data-char="7" data-type="number" ButtonVariant={CButton.Variant.Tonal}>7</Button>
		<Button data-command={Commands.KeyChar} data-char="8" data-type="number" ButtonVariant={CButton.Variant.Tonal}>8</Button>
		<Button data-command={Commands.KeyChar} data-char="9" data-type="number" ButtonVariant={CButton.Variant.Tonal}>9</Button>
		<Button data-command={Commands.KeyChar} data-char="÷" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.SlashForward}/></Button>

		<Button data-command={Commands.KeyChar} data-char="e" ButtonVariant={CButton.Variant.Tonal}>e</Button>
		<Button data-command={Commands.KeyChar} data-char="4" data-type="number" ButtonVariant={CButton.Variant.Tonal}>4</Button>
		<Button data-command={Commands.KeyChar} data-char="5" data-type="number" ButtonVariant={CButton.Variant.Tonal}>5</Button>
		<Button data-command={Commands.KeyChar} data-char="6" data-type="number" ButtonVariant={CButton.Variant.Tonal}>6</Button>
		<Button data-command={Commands.KeyChar} data-char="×" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.Dismiss}/></Button>

		<Button data-command={Commands.KeyChar} data-char="π" ButtonVariant={CButton.Variant.Tonal}>π</Button>
		<Button data-command={Commands.KeyChar} data-char="1" data-type="number" ButtonVariant={CButton.Variant.Tonal}>1</Button>
		<Button data-command={Commands.KeyChar} data-char="2" data-type="number" ButtonVariant={CButton.Variant.Tonal}>2</Button>
		<Button data-command={Commands.KeyChar} data-char="3" data-type="number" ButtonVariant={CButton.Variant.Tonal}>3</Button>
		<Button data-command={Commands.KeyChar} data-char="-" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.LineHorizontal1}/></Button>

		<Button data-command={Commands.KeyChar} data-char="√" ButtonVariant={CButton.Variant.Tonal}>√</Button>
		<Button data-command={Commands.KeyChar} data-char="0" data-type="number" ButtonVariant={CButton.Variant.Tonal}>0</Button>
		<Button data-command={Commands.KeyDec} ButtonVariant={CButton.Variant.Tonal}>.</Button>
		<Button data-command={Commands.KeyEqual} ButtonVariant={CButton.Variant.Filled} style="font-weight:bold">=</Button>
		<Button data-command={Commands.KeyChar} data-char="+" ButtonVariant={CButton.Variant.Tonal}><Icon IconCode={IconCodes.Add}/></Button>
	</div>
</div>