---
import Button from '@/components/Button/index.astro'
import TextField from '@/components/TextField/index.astro'
import Icon from '@/components/Icon/index.astro'
import TextFieldButton from '@/components/TextField/TextFieldButton.astro'
import Toast from '@/components/Toast/index.astro'
import { EMOJIS_ACTIVITIES, EMOJIS_ANIMAL_AND_NATURE, EMOJIS_FLAGS, EMOJIS_FOOD_AND_DRINK, EMOJIS_OBJECT, EMOJIS_PERSON_AND_BODY, EMOJIS_PERSON_AND_BODY_DARK_SKIN_TONE, EMOJIS_PERSON_AND_BODY_LIGHT_SKIN_TONE, EMOJIS_PERSON_AND_BODY_MEDIUM_DARK_SKIN_TONE, EMOJIS_PERSON_AND_BODY_MEDIUM_LIGHT_SKIN_TONE, EMOJIS_PERSON_AND_BODY_MEDIUM_SKIN_TONE, EMOJIS_SMILEY_AND_EMOTION, EMOJIS_SYMBOLS, EMOJIS_TRAVEL_AND_PLACES } from "@/constants/emoji"
import { CSSClasses } from '../_styles/_css'
import { CButton } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { AppCSSColors, AppCSSOpacity, AppCSSBlur } from '@/enums/app-data'
import { ElementIds } from '../_scripts/_shared/_ids'
import { SkinToneEmoji } from '../_scripts/_shared/_enums'
import { RadioNames } from '../_scripts/_shared/_input-names'
import { DEFAULT_SKIN_TONE } from '../_scripts/_shared/_constant'
import { pxToRem } from '@/utils/css'

const maxEmojiList = Math.max(
	EMOJIS_SMILEY_AND_EMOTION.length,
	EMOJIS_PERSON_AND_BODY.length,
	EMOJIS_PERSON_AND_BODY_LIGHT_SKIN_TONE.length,
	EMOJIS_PERSON_AND_BODY_MEDIUM_LIGHT_SKIN_TONE.length,
	EMOJIS_PERSON_AND_BODY_MEDIUM_SKIN_TONE.length,
	EMOJIS_PERSON_AND_BODY_MEDIUM_DARK_SKIN_TONE.length,
	EMOJIS_PERSON_AND_BODY_DARK_SKIN_TONE.length,
	EMOJIS_ANIMAL_AND_NATURE.length,
	EMOJIS_FOOD_AND_DRINK.length,
	EMOJIS_TRAVEL_AND_PLACES.length,
	EMOJIS_ACTIVITIES.length,
	EMOJIS_OBJECT.length,
	EMOJIS_SYMBOLS.length,
	EMOJIS_FLAGS.length
)

const skinTones: {
	name: string
	skinTone: SkinToneEmoji
	color: string
}[] = [
	{
		name: 'Skin Tone: None',
		color: '#FFC64E',
		skinTone: SkinToneEmoji.none
	},
	{
		name: 'Skin Tone: Light',
		color: '#F7C1B0',
		skinTone: SkinToneEmoji.light
	},
	{
		name: 'Skin Tone: Medium Light',
		color: '#E4AB94',
		skinTone: SkinToneEmoji.mediumLight
	},
	{
		name: 'Skin Tone: Medium',
		color: '#B18378',
		skinTone: SkinToneEmoji.medium
	},
	{
		name: 'Skin Tone: Medium Dark',
		color: '#8A5D5C',
		skinTone: SkinToneEmoji.mediumDark
	},
	{
		name: 'Skin Tone: Dark',
		color: '#4B3234',
		skinTone: SkinToneEmoji.dark
	},
]
---
<main class={CSSClasses.body} id={ElementIds.body}>
	<section>
		<div style={{
			padding: `${pxToRem(4)}rem 0 ${pxToRem(16)}rem 0`,
			position: 'sticky',
			borderRadius: `0 0 ${pxToRem(1)}rem ${pxToRem(1)}rem`,
			top: pxToRem(58) + 'rem',
			backdropFilter: `blur(${AppCSSBlur.glass})`,
			backgroundColor: `rgba(${AppCSSColors.background},${AppCSSOpacity.glass})`
		}}>
			<h1 id={ElementIds.bd_title}>Smiley & Emotion</h1>
			<TextField
				TextFieldInputAttr={{
					placeholder: '😃😗😪💤',
					style: {
						'padding-left': pxToRem(6) + 'rem',
						'padding-right': pxToRem(4) + 'rem',
						'font-size': 'var(--g-font-size-xm)',
						'min-height': pxToRem(36) + 'rem'
					},
					id: ElementIds.bd_input
				}}>
				<div
					slot='trailing'
					style={{
						display: 'flex',
						'align-items': 'center',
						gap: pxToRem(4) + 'rem'
					}}>
					<TextFieldButton
						id={ElementIds.bd_dismissInput}
						data-tooltip="Clear"
						aria-label="Clear text">
						<Icon IconCode={IconCodes.dismiss}/>
					</TextFieldButton>
					<TextFieldButton
						id={ElementIds.bd_copyInput}
						data-tooltip="Copy"
						aria-label="Copy text"
						style={{'margin-right': pxToRem(4) + 'rem'}}>
						<Icon IconCode={IconCodes.copy}/>
					</TextFieldButton>
				</div>
			</TextField>
			<div
				id={ElementIds.bd_skinTone}
				class={CSSClasses.bodySkinTone}
				style={{
					display: 'none',
					alignItems: 'center',
					gap: pxToRem(4) + 'rem',
					marginTop: pxToRem(4) + 'rem'
				}}>
				{skinTones.map(v =>
					<label
						class={[CButton.Classes.button, CButton.Classes.icon].join(' ')}
						aria-label={v.name}
						data-tooltip={v.name}>
						<input
							name={RadioNames.skinTone}
							type="radio"
							checked={DEFAULT_SKIN_TONE === v.skinTone}
							autocomplete="off"
							value={v.skinTone}
						/>
						<Icon style={{
							color: v.color
						}} IconCode={IconCodes.circle} IconFilled/>
					</label>
				)}
			</div>
		</div>
		<ul id={ElementIds.bd_emojiList}>
			{new Array(maxEmojiList).fill(0).map((_, i) => {
				const v = EMOJIS_SMILEY_AND_EMOTION[i]
				return (<li style={v ? undefined : 'display:none'}><Button
					ButtonVariant={CButton.Variant.tonal}
					data-tooltip={v?.[1] ?? ''}
					data-emoji={v?.[0] ?? ''}>{v?.[0] ?? ''}</Button></li>)
			})}
		</ul>
	</section>
</main>
<Toast id={ElementIds.toa_copied} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.copy} slot="leading"/>
	Copied
</Toast>