---
import UIPickers from './_UIPickers.astro'
import Icon from '@/native-components/Icon/index.astro'
import ComboBox from '@/native-components/ComboBox/index.astro'
import TextField from '@/native-components/TextField/index.astro'
import TextFieldButton from '@/native-components/TextField/TextFieldButton.astro'
import ComboBoxOption from '@/native-components/ComboBox/ComboBoxOption.astro'
import Toast from '@/native-components/Toast/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import { CSSClasses } from '../_styles/_css'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
import { ColorPickerMode, ColorSpace } from '../_scripts/_shared/_enums'
import { DEFAULT_COLOR, DEFAULT_PICKER_MODE } from '../_scripts/_shared/_constant'
import { hexToRgb, hexToHsl, hexToHsv, hexToHwb, hexToCmyk } from '@/utils/color'
import { Commands } from '../_scripts/_shared/_commands'

const modes: {text: string, mode: ColorPickerMode}[] = [
	{mode: ColorPickerMode.image, text: 'Image'},
	{mode: ColorPickerMode.rectangle, text: 'Rectangle'},
	{mode: ColorPickerMode.rectangleHsl, text: 'Rectangle HSL'},
	// {mode: ColorPickerMode.palette, text: 'Palette'},
	{mode: ColorPickerMode.spectrum, text: 'Spectrum'},
	// {mode: ColorPickerMode.wheel, text: 'Wheel'},
	{mode: ColorPickerMode.sliderRgb, text: 'Slider RGB'},
	{mode: ColorPickerMode.sliderHsl, text: 'Slider HSL'},
	{mode: ColorPickerMode.sliderCmyk, text: 'Slider CMYK'},
	{mode: ColorPickerMode.sliderHex, text: 'Slider HEX'},
	{mode: ColorPickerMode.sliderHsv, text: 'Slider HSV'},
	{mode: ColorPickerMode.sliderHwb, text: 'Slider HWB'},
]
---

<main class={CSSClasses.body}>
	<div class={CSSClasses.bodyPicker}>
		<label for={ElementIds.bd_pickerMode}>Picker mode:</label>
		<ComboBox id={ElementIds.bd_pickerMode}>
			{modes.map(v =>
				<ComboBoxOption value={v.mode} selected={v.mode === DEFAULT_PICKER_MODE}>{
					v.text
				}</ComboBoxOption>
			)}
		</ComboBox>
		<UIPickers/>
	</div>
	<Tooltip class={CSSClasses.bodyInputs}>
		<output
			for={ElementIds.bdInp_hex}
			data-css-preview
			style={{backgroundColor: DEFAULT_COLOR}}
			id={ElementIds.bd_preview}
		/>
		<div data-css-group>
			<TextField
				TextFieldInputAttr={{
					id: ElementIds.bdInp_hex,
					value: DEFAULT_COLOR
				}}>
				<TextFieldButton
					data-command={Commands.copyColor}
					data-color-space={ColorSpace.hex}
					slot="trailing"
					aria-label="Copy"
					data-tooltip="Copy">
					<Icon IconCode={IconCodes.copy}/>
				</TextFieldButton>
			</TextField>
			<label for={ElementIds.bdInp_hex}>Hex</label>
		</div>
		<div data-css-group>
			<TextField TextFieldInputAttr={{
				id: ElementIds.bdInp_rgb,
				value: (() => {
					const rgb = hexToRgb(DEFAULT_COLOR)
					return [
						Math.round(rgb.r * 0xff),
						Math.round(rgb.g * 0xff),
						Math.round(rgb.b * 0xff)
					].join(', ')
				})()
			}}>
				<TextFieldButton
					data-command={Commands.copyColor}
					data-color-space={ColorSpace.rgb}
					slot="trailing"
					aria-label="Copy"
					data-tooltip="Copy">
					<Icon IconCode={IconCodes.copy}/>
				</TextFieldButton>
			</TextField>
			<label for={ElementIds.bdInp_rgb}>RGB</label>
		</div>
		<div data-css-group>
			<TextField TextFieldInputAttr={{
				id: ElementIds.bdInp_hsl,
				value: (() => {
					const hsl = hexToHsl(DEFAULT_COLOR)
					return [
						Math.round(hsl.h * 360) + '°',
						Math.round(hsl.s * 100) + '%',
						Math.round(hsl.l * 100) + '%',
					].join(', ')
				})()
			}}>
				<TextFieldButton
					data-command={Commands.copyColor}
					data-color-space={ColorSpace.hsl}
					slot="trailing"
					aria-label="Copy"
					data-tooltip="Copy">
					<Icon IconCode={IconCodes.copy}/>
				</TextFieldButton>
			</TextField>
			<label for={ElementIds.bdInp_hsl}>HSL</label>
		</div>
		<div data-css-group>
			<TextField TextFieldInputAttr={{
				id: ElementIds.bdInp_hsv,
				value: (() => {
					const hsv = hexToHsv(DEFAULT_COLOR)
					return [
						Math.round(hsv.h * 360) + '°',
						Math.round(hsv.s * 100) + '%',
						Math.round(hsv.v * 100) + '%',
					].join(', ')
				})()
			}}>
				<TextFieldButton
					data-command={Commands.copyColor}
					data-color-space={ColorSpace.hsv}
					slot="trailing"
					aria-label="Copy"
					data-tooltip="Copy">
					<Icon IconCode={IconCodes.copy}/>
				</TextFieldButton>
			</TextField>
			<label for={ElementIds.bdInp_hsv}>HSV</label>
		</div>
		<div data-css-group>
			<TextField TextFieldInputAttr={{
				id: ElementIds.bdInp_hwb,
				value: (() => {
					const hwb = hexToHwb(DEFAULT_COLOR)
					return [
						Math.round(hwb.h * 360) + '°',
						Math.round(hwb.w * 100) + '%',
						Math.round(hwb.b * 100) + '%',
					].join(', ')
				})()
			}}>
				<TextFieldButton
					data-command={Commands.copyColor}
					data-color-space={ColorSpace.hwb}
					slot="trailing"
					aria-label="Copy"
					data-tooltip="Copy">
					<Icon IconCode={IconCodes.copy}/>
				</TextFieldButton>
			</TextField>
			<label for={ElementIds.bdInp_hwb}>HWB</label>
		</div>
		<div data-css-group>
			<TextField TextFieldInputAttr={{
				id: ElementIds.bdInp_cmyk,
				value: (() => {
					const cmyk = hexToCmyk(DEFAULT_COLOR)
					return [
						Math.round(cmyk.c * 100) + '%',
						Math.round(cmyk.m * 100) + '%',
						Math.round(cmyk.y * 100) + '%',
						Math.round(cmyk.k * 100) + '%',
					].join(', ')
				})()
			}}>
				<TextFieldButton
					data-command={Commands.copyColor}
					data-color-space={ColorSpace.cmyk}
					slot="trailing"
					aria-label="Copy"
					data-tooltip="Copy">
					<Icon IconCode={IconCodes.copy}/>
				</TextFieldButton>
			</TextField>
			<label for={ElementIds.bdInp_cmyk}>CMYK</label>
		</div>
	</Tooltip>
</main>
<Toast id={ElementIds.toa_copied} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.copy} slot="leading"/>
	Copied
</Toast>