---
import * as Ids from '../_scripts/shared/ids.enum.js'
import * as Pages from '../_scripts/shared/pages.enum.js'
import * as Constant from '../_scripts/shared/constant.enum.js'
import * as Styles from '../_styles/styles.enum.js'
import * as Commands from '../_scripts/shared/commands.enum.js'
import * as BrTheme from '@/web-components/components/br-theme.server.js'
import * as Icons from '@/enums/icons.enum.js'
import { ProgrammerNumTypes } from '../_scripts/shared/calculator.js'

const btnVal = Styles.PageProgrammerBtnValue
const btnHex = Styles.PageProgrammerBtnHex
const btnDec = Styles.PageProgrammerBtnDec
const btnOct = Styles.PageProgrammerBtnOct
const btnBin = Styles.PageProgrammerBtnBin
---

<br-view
	br:query={`page=${Pages.Programmer}`}
	br:animation-for={Ids.PageProgrammer}
	br:animation-start-duration="500"
	br:animation-start-keyframes={JSON.stringify({
		opacity: [0, 1],
		scale: [.9, 1]
	})}>
	<div class={Styles.Page} id={Ids.PageProgrammer}>
		<div class={Styles.InputOutput}>
			<input
				id={Ids.PageProgrammerInput}
				type="text"
				placeholder="0"
				value={Constant.DEFAULT_PROGRAMMER_INPUT}
			/>
			<div class={Styles.PageProgrammerOutputGroup}>
				<p><code>HEX: <input readonly id={Ids.PageProgrammerOutputHex} value={Constant.DEFAULT_PROGRAMMER_OUTPUT?.toString(16).toUpperCase() ?? '0'}/></code></p>
				<p><code>DEC: <input readonly id={Ids.PageProgrammerOutputDec} value={Constant.DEFAULT_PROGRAMMER_OUTPUT ?? '0'}/></code></p>
				<p><code>OCT: <input readonly id={Ids.PageProgrammerOutputOct} value={Constant.DEFAULT_PROGRAMMER_OUTPUT?.toString(8) ?? '0'}/></code></p>
				<p><code>BIN: <input readonly id={Ids.PageProgrammerOutputBin} value={Constant.DEFAULT_PROGRAMMER_OUTPUT?.toString(2) ?? '0'}/></code></p>
			</div>
		</div>
		<div class={Styles.InputOptions}>
			<br-focusgroup br:direction="horizontal">
				<select id={Ids.PageProgrammerNumTypes}>
					<option selected={Constant.DEFAULT_PROGRAMMER_NUMBER_TYPE === ProgrammerNumTypes.Hexadecimal} value={ProgrammerNumTypes.Hexadecimal}>Hexadecimal</option>
					<option selected={Constant.DEFAULT_PROGRAMMER_NUMBER_TYPE === ProgrammerNumTypes.Decimal} value={ProgrammerNumTypes.Decimal}>Decimal</option>
					<option selected={Constant.DEFAULT_PROGRAMMER_NUMBER_TYPE === ProgrammerNumTypes.Octal} value={ProgrammerNumTypes.Octal}>Octal</option>
					<option selected={Constant.DEFAULT_PROGRAMMER_NUMBER_TYPE === ProgrammerNumTypes.Binary} value={ProgrammerNumTypes.Binary}>Binary</option>
				</select>
				<button
					data-command={Commands.MemoryClear}
					br:tooltip="Memory clear (Ctrl+Shift+C)">
					MC
				</button>
				<button
					data-command={Commands.MemoryAdd}
					br:tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">
					M+
				</button>
				<button
					data-command={Commands.MemorySubtract}
					br:tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">
					M-
				</button>
				<button
					data-command={Commands.MemoryRecall}
					br:tooltip="Memory recall (Ctrl+Shift+R)">
					MR: {Constant.DEFAULT_MEMORY}
				</button>
			</br-focusgroup>
		</div>
		<div class={Styles.InputButtons} style="grid-template-columns: repeat(5, 1fr);">
			<br-focusgroup br:direction="grid">
				<button data-command={Commands.KeyPlusMin} br:variant="tonal">±</button>
				<button data-command={Commands.KeyChar} data-char="(" br:variant="tonal">(</button>
				<button data-command={Commands.KeyChar} data-char=")" br:variant="tonal">)</button>
				<button data-command={Commands.KeyClear} br:variant="tonal" style={`color:rgb(var(${BrTheme.CSSVars.ColorAccent}))`}>C</button>
				<button data-command={Commands.KeyBackspace} br:variant="tonal" style={`color:rgb(var(${BrTheme.CSSVars.ColorAccent}))`}><br-icon set:html={Icons.Backspace}/></button>

				<button data-command={Commands.KeyChar} data-char="F" class={[btnVal, btnHex].join(' ')} data-type="number" disabled br:variant="tonal">F</button>
				<button data-command={Commands.KeyChar} data-char="not(" br:variant="tonal">not</button>
				<button data-command={Commands.KeyChar} data-char="mod" br:variant="tonal">mod</button>
				<button data-command={Commands.KeyChar} data-char="lsh" br:variant="tonal">lsh</button>
				<button data-command={Commands.KeyChar} data-char="rsh" br:variant="tonal">rsh</button>

				<button data-command={Commands.KeyChar} class={[btnVal, btnHex].join(' ')} data-char="E" data-type="number" disabled br:variant="tonal">E</button>
				<button data-command={Commands.KeyChar} data-char="or" br:variant="tonal">or</button>
				<button data-command={Commands.KeyChar} data-char="and" br:variant="tonal">and</button>
				<button data-command={Commands.KeyChar} data-char="xor" br:variant="tonal">xor</button>
				<button data-command={Commands.KeyChar} data-char="^" br:variant="tonal"><br-icon set:html={Icons.ChevronUp}/></button>

				<button data-command={Commands.KeyChar} class={[btnVal, btnHex].join(' ')} data-char="D" data-type="number" disabled br:variant="tonal">D</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="7" data-type="number" br:variant="tonal">7</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec].join(' ')} data-char="8" data-type="number" br:variant="tonal">8</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec].join(' ')} data-char="9" data-type="number" br:variant="tonal">9</button>
				<button data-command={Commands.KeyChar} data-char="÷" br:variant="tonal"><br-icon set:html={Icons.SlashForward}/></button>

				<button data-command={Commands.KeyChar} class={[btnVal, btnHex].join(' ')} data-char="C" data-type="number" disabled br:variant="tonal">C</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="4" data-type="number" br:variant="tonal">4</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="5" data-type="number" br:variant="tonal">5</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="6" data-type="number" br:variant="tonal">6</button>
				<button data-command={Commands.KeyChar} data-char="×" br:variant="tonal"><br-icon set:html={Icons.Dismiss}/></button>

				<button data-command={Commands.KeyChar} class={[btnVal, btnHex].join(' ')} data-char="B" data-type="number" disabled br:variant="tonal">B</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct, btnBin].join(' ')} data-char="1" data-type="number" br:variant="tonal">1</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="2" data-type="number" br:variant="tonal">2</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="3" data-type="number" br:variant="tonal">3</button>
				<button data-command={Commands.KeyChar} data-char="-" br:variant="tonal"><br-icon set:html={Icons.LineHorizontal1}/></button>

				<button data-command={Commands.KeyChar} class={[btnVal, btnHex].join(' ')} data-char="A" data-type="number" disabled br:variant="tonal">A</button>
				<button data-command={Commands.KeyChar} class={[btnVal, btnHex, btnDec, btnOct, btnBin].join(' ')} data-char="0" data-type="number" br:variant="tonal">0</button>
				<button data-command={Commands.KeyDec} class={[btnVal, btnDec].join(' ')} br:variant="tonal">.</button>
				<button data-command={Commands.KeyEqual} br:variant="filled" style="font-weight:bold">=</button>
				<button data-command={Commands.KeyChar} data-char="+" br:variant="tonal"><br-icon set:html={Icons.Add}/></button>
			</br-focusgroup>
		</div>
	</div>
</br-view>