---
import Button from '@/components/Button/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Icon from '@/components/Icon/index.astro'
import Menu from '@/components/Menu/index.astro'
import MenuItem from '@/components/Menu/MenuItem.astro'
import MenuIndent from '@/components/Menu/MenuIndent.astro'
import SubMenuItem from '@/components/Menu/SubMenuItem.astro'
import SubMenu from '@/components/Menu/SubMenu.astro'
import Divider from '@/components/Divider/index.astro'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { CSSClasses } from '../../_styles/_css'
import { CButton } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { Commands } from '../../_scripts/_shared/_commands'
import { Pages } from '../../_scripts/_shared/_enums'
import { pxToRem } from '@/utils/css'
import { DEFAULT_PAGE, DEFAULT_STOPWATCH_LAPS, DEFAULT_STOPWATCH_MS, DEFAULT_STOPWATCH_RUNNING } from '../../_scripts/_shared/_constant'

function textHHMMSS(ms: number): string {
	let hour = 0
	let minute = 0
	let second = 0
	if (ms >= 3_600_000) {
		hour = Math.floor(ms / 3_600_000)
		ms = Math.floor(ms % 3_600_000)
	}
	if (ms >= 60_000) {
		minute = Math.floor(ms / 60_000)
		ms = Math.floor(ms % 60_000)
	}
	if (ms >= 1000) {
		second = Math.floor(ms / 1000)
		ms = Math.floor(ms % 1000)
	}

	ms = Math.floor(ms / 10)
	return (
		hour.toString()
		+ ':'
		+ [minute, second].map(v => v.toString().padStart(2, '0')).join(':')
	)
}

function textMS(ms: number): string {
	if (ms >= 3_600_000) {
		ms = Math.floor(ms % 3_600_000)
	}
	if (ms >= 60_000) {
		ms = Math.floor(ms % 60_000)
	}
	if (ms >= 1000) {
		ms = Math.floor(ms % 1000)
	}

	ms = Math.floor(ms / 10)
	return ms.toString().padStart(2, '0')
}

function msText(ms: number): string {
	let hour = 0
	let minute = 0
	let second = 0
	if (ms >= 3_600_000) {
		hour = Math.floor(ms / 3_600_000)
		ms = Math.floor(ms % 3_600_000)
	}
	if (ms >= 60_000) {
		minute = Math.floor(ms / 60_000)
		ms = Math.floor(ms % 60_000)
	}
	if (ms >= 1000) {
		second = Math.floor(ms / 1000)
		ms = Math.floor(ms % 1000)
	}

	ms = Math.floor(ms / 10)
	return (
		hour.toString()
		+ ':'
		+ [minute, second].map(v => v.toString().padStart(2, '0')).join(':')
		+ ','
		+ ms.toString().padStart(2, '0')
	)
}
---

<div
	id={ElementIds.pg_stopwatch}
	class={[CSSClasses.bodyPage, CSSClasses.bodyPageStopwatch].join(' ')}
	role="tabpanel"
	hidden={DEFAULT_PAGE !== Pages.stopwatch}>
	<h2>
		<span
			id={ElementIds.pgSw_hhmmss}>{textHHMMSS(DEFAULT_STOPWATCH_MS)}</span
		>,<small id={ElementIds.pgSw_ms}>{textMS(DEFAULT_STOPWATCH_MS)}</small>
	</h2>
	<div
		style={{
			display: 'flex',
			'justify-content': 'center',
			gap: pxToRem(8) + 'rem',
			'padding-bottom': pxToRem(16) + 'rem'
		}}>
		<Button
			style={{
				width: pxToRem(92) + 'rem'
			}}
			id={ElementIds.pgSw_playPause}
			ButtonVariant={CButton.Variant.filled}>
			<Icon IconCode={DEFAULT_STOPWATCH_RUNNING? IconCodes.pause : IconCodes.play} IconFilled/>
			<span>{DEFAULT_STOPWATCH_RUNNING? 'Pause' : 'Start'}</span>
		</Button>
		<IconButton
			style={DEFAULT_STOPWATCH_MS > 0? undefined : "display:none"}
			id={ElementIds.pgSw_resetLap}
			ButtonVariant={CButton.Variant.tonal}
			IconButtonCode={DEFAULT_STOPWATCH_RUNNING? IconCodes.flag : IconCodes.arrowReset}
			data-tooltip={DEFAULT_STOPWATCH_RUNNING? 'Lap' : 'Reset'}
			aria-label={DEFAULT_STOPWATCH_RUNNING? 'Lap' : 'Reset'}
		/>
		<IconButton
			style={DEFAULT_STOPWATCH_LAPS.length > 0? undefined : "display:none"}
			popovertarget={ElementIds.pgSw_moreMenu}
			id={ElementIds.pgSw_moreBtn}
			ButtonVariant={CButton.Variant.tonal}
			IconButtonCode={IconCodes.moreVertical}
			data-tooltip="More actions"
			aria-label="More actions"
		/>
		<Menu
			id={ElementIds.pgSw_moreMenu}
			PopoverAnchorBy={ElementIds.pgSw_moreBtn}>
			<MenuItem data-command={Commands.swCpLp_time}>
				<Icon IconCode={IconCodes.copy}/>
				Copy time
				<div style="flex:1"/>
				<MenuIndent/>
			</MenuItem>
			<MenuItem data-command={Commands.swCpLp_total}>
				<Icon IconCode={IconCodes.copy}/>
				Copy total
				<div style="flex:1"/>
				<MenuIndent/>
			</MenuItem>
			<MenuItem data-command={Commands.swCpLp_all}>
				<Icon IconCode={IconCodes.copy}/>
				Copy all
				<div style="flex:1"/>
				<MenuIndent/>
			</MenuItem>
			<Divider />
			<SubMenuItem popovertarget={ElementIds.pgSw_moreMSMenu}>
				<Icon IconCode={IconCodes.timer}/>
				Milliseconds
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu id={ElementIds.pgSw_moreMSMenu}>
				<MenuItem data-command={Commands.swCpLp_timeMS}>
					<Icon IconCode={IconCodes.copy}/>
					Copy time
				</MenuItem>
				<MenuItem data-command={Commands.swCpLp_totalMS}>
					<Icon IconCode={IconCodes.copy}/>
					Copy total
				</MenuItem>
				<MenuItem data-command={Commands.swCpLp_allMS}>
					<Icon IconCode={IconCodes.copy}/>
					Copy all
				</MenuItem>
			</SubMenu>
		</Menu>
	</div>
	<div
		class={CSSClasses.bodyPageStopwatchLaps}
		id={ElementIds.pgSw_laps}
		style={DEFAULT_STOPWATCH_LAPS.length > 0? 'display:flex' : undefined}>
		<div>
			<span>Laps</span>
			<span>Time</span>
			<span>Total</span>
		</div>
		<div id={ElementIds.pgSw_lapsContent}>
			{DEFAULT_STOPWATCH_LAPS.map((v, i) =>
				<div tabindex="0">
					<span>{DEFAULT_STOPWATCH_LAPS.length - i}</span>
					<span>{i < DEFAULT_STOPWATCH_LAPS.length-1
						? msText(v - DEFAULT_STOPWATCH_LAPS[i + 1])
						: msText(v)
					}</span>
					<span>{msText(v)}</span>
				</div>
			)}
		</div>
	</div>
</div>