---
import { CButton } from '@/components/Button'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { CSSClasses } from '../../_styles/_css'
import Button from '@/components/Button/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Icon from '@/components/Icon/index.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import Dialog from '@/components/Dialog/index.astro'
import TextField from '@/components/TextField/index.astro'
import { IconCodes } from '@/enums/icons'
import ringtone from '@/assets/audio/simple-ringtone-84595.mp3'
import { Pages } from '../../_scripts/_shared/_enums'
import { pxToRem } from '@/utils/css'
import { DEFAULT_PAGE, DEFAULT_TIMER_RUNNING, DEFAULT_TIMER_SECONDS } from '../../_scripts/_shared/_constant'

const hours = Math.floor(DEFAULT_TIMER_SECONDS / 3600)
const minutes = Math.floor(Math.floor(DEFAULT_TIMER_SECONDS % 3600) / 60)
const seconds = Math.floor(Math.floor(DEFAULT_TIMER_SECONDS % 3600) % 60)
---

<div
	id={ElementIds.pg_timer}
	class={[CSSClasses.bodyPage, CSSClasses.bodyPageTimer].join(' ')}
	role="tabpanel"
	hidden={DEFAULT_PAGE !== Pages.timer}>
	<h2 id={ElementIds.pgTm_time}>{[hours, minutes, seconds]
		.map(v => v.toString().padStart(2, '0'))
		.join(':')
	}</h2>
	<audio id={ElementIds.pgTm_audio} loop src={ringtone}></audio>
	<Tooltip
		style={{
			display: 'flex',
			'justify-content': 'center',
			gap: pxToRem(8) + 'rem'
		}}>
		<Button
			style={{
				width: pxToRem(92) + 'rem'
			}}
			ButtonVariant={CButton.Variant.filled}
			id={ElementIds.pgTm_playPause}>
			<Icon IconCode={DEFAULT_TIMER_RUNNING? IconCodes.pause : IconCodes.play} IconFilled/>
			<span>{DEFAULT_TIMER_RUNNING? 'Pause' : 'Start'}</span>
		</Button>
		<IconButton
			style={DEFAULT_TIMER_RUNNING? "display:none" : undefined}
			id={ElementIds.pgTm_editReset}
			IconButtonCode={IconCodes.edit}
			ButtonVariant={CButton.Variant.tonal}
			aria-label="Edit timer"
			data-tooltip="Edit timer"
		/>
	</Tooltip>
	<Dialog
		id={ElementIds.pgTm_editDialog}
		style={{
			width: pxToRem(360) + 'rem'
		}}>
		<Fragment slot="header">Edit Timer</Fragment>
		<div style={{
			display: 'grid',
			gridTemplateColumns: 'repeat(3,1fr)',
			gap: pxToRem(8) + 'rem',
			marginBottom: pxToRem(8) + 'rem'
		}}>
			<label for={ElementIds.pgTm_hours}>Hours:</label>
			<label for={ElementIds.pgTm_minutes}>Minutes:</label>
			<label for={ElementIds.pgTm_seconds}>Seconds:</label>
		</div>
		<div style={{
			display: 'grid',
			gridTemplateColumns: 'repeat(3,1fr)',
			gap: pxToRem(8) + 'rem'
		}}>
			<TextField TextFieldInputAttr={{
				type: 'number', value: hours, min: 0, max: 99, placeholder: 'Hours',
				id: ElementIds.pgTm_hours
			}}/>
			<TextField TextFieldInputAttr={{
				type: 'number', value: minutes, min: 0, max: 99, placeholder: 'Minutes',
				id: ElementIds.pgTm_minutes
			}}/>
			<TextField TextFieldInputAttr={{
				type: 'number', value: seconds, min: 0, max: 99, placeholder: 'Seconds',
				id: ElementIds.pgTm_seconds
			}}/>
		</div>
		<form slot="footer" method="dialog" style="display:contents">
			<Button ButtonVariant={CButton.Variant.tonal}>Cancel</Button>
			<Button id={ElementIds.pgTm_save} ButtonVariant={CButton.Variant.filled}>Save</Button>
		</form>
	</Dialog>
	<Dialog
		style={{
			width: pxToRem(360) + 'rem'
		}}
		id={ElementIds.pgTm_doneDialog}>
		<Fragment slot="header">Timer Done</Fragment>
		<p id={ElementIds.pgTm_doneTime}></p>
		<p id={ElementIds.pgTm_doneDate}></p>
		<form style="display:contents" method="dialog" slot="footer">
			<Button ButtonVariant={CButton.Variant.filled}>
				<Icon IconCode={IconCodes.dismiss}/>
				Dismiss
			</Button>
		</form>
	</Dialog>
</div>