---
import AppBar from '@/components/AppBar/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Menu from '@/components/Menu/index.astro'
import Button from '@/components/Button/index.astro'
import TextField from '@/components/TextField/index.astro'
import ColorPicker from '@/components/ColorPicker/index.astro'
import Dialog from '@/components/Dialog/index.astro'
import SubMenu from '@/components/Menu/SubMenu.astro'
import SubMenuItem from '@/components/Menu/SubMenuItem.astro'
import RadioMenuItem from '@/components/Menu/RadioMenuItem.astro'
import MenuHeader from '@/components/Menu/MenuHeader.astro'
import MenuItem from '@/components/Menu/MenuItem.astro'
import MenuIndent from '@/components/Menu/MenuIndent.astro'
import Icon from '@/components/Icon/index.astro'
import LinkMenuItem from '@/components/Menu/LinkMenuItem.astro'
import Divider from '@/components/Divider/index.astro'
import { PlatformAnimationMode, PlatformThemeMode } from '@/enums/platforms'
import logoRedmerah from '@/assets/images/logos/redmerah-logo.svg'
import { RoutesLinks, ExternalLinks } from '@/enums/links'
import { pxToRem } from '@/utils/css'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
import { RadioNames } from '../_scripts/_shared/_input-names'
import { APP, DEFAULT_ANIMATION, DEFAULT_ERROR_CORRECTION_LEVEL, DEFAULT_THEME, DEFAULT_ENCODING_MODE, DEFAULT_VERSION, DEFAULT_MARGIN, DEFAULT_BACKGROUND_COLOR, DEFAULT_COLOR } from '../_scripts/_shared/_constant'
import { EncodingMode, ErrorCorrectionLevel, QRVersion } from '../_scripts/_shared/_enums'
import { CButton } from '@/components/Button'
import { FlyoutPosition } from '@/enums/position'
import { CSSClasses } from '../_styles/_css'

const animations: {
	value: PlatformAnimationMode
	text: string
	icon: number
}[] = [
	{
		value: PlatformAnimationMode.auto,
		text: 'Automatic',
		icon: IconCodes.videoClipOptimize
	},
	{
		value: PlatformAnimationMode.on,
		text: 'On',
		icon: IconCodes.videoClip
	},
	{
		value: PlatformAnimationMode.off,
		text: 'Off',
		icon: IconCodes.videoClipOff
	},
]
const themes: {
	value: PlatformThemeMode
	text: string
	icon: number
}[] = [
	{
		value: PlatformThemeMode.auto,
		text: 'Automatic',
		icon: IconCodes.laptopSettings
	},
	{
		value: PlatformThemeMode.light,
		text: 'Light',
		icon: IconCodes.weatherSunny
	},
	{
		value: PlatformThemeMode.dark,
		text: 'Dark',
		icon: IconCodes.weatherMoon
	},
]
---

<AppBar
	id={ElementIds.appbar}
	AppBarLeadingAttr={{class: CSSClasses.smallScreenOnly}}>
	<Fragment slot="leading">
		<IconButton
			class={CSSClasses.smallScreenOnly}
			id={ElementIds.ap_openDrawerBtn}
			IconButtonCode={IconCodes.lineHorizontal3}
		/>
	</Fragment>
	<Fragment slot="headline">
		<img
			src={APP.logoUrl}
			alt={APP.name + ' logo'}
			style={{
				width: pxToRem(24) + 'rem',
				marginLeft: pxToRem(4) + 'rem'
			}}
		/>
		{APP.name}
	</Fragment>
	<Fragment slot="trailing">
		<IconButton
			id={ElementIds.apInf_btn}
			data-tooltip="Info"
			aria-label="Info"
			IconButtonCode={IconCodes.info}
			popovertarget={ElementIds.apInf_menu}
		/>
		<Menu id={ElementIds.apInf_menu} PopoverAnchorBy={ElementIds.apInf_btn}>
			<MenuHeader>{APP.name}</MenuHeader>
			<MenuItem id={ElementIds.apInf_shareBtn}>
				<Icon IconCode={IconCodes.shareAndroid}/>
				Share
			</MenuItem>
			<LinkMenuItem href={'mailto:' + ExternalLinks.contactEmail + '?subject=' + encodeURI(APP.name)}>
				<Icon IconCode={IconCodes.chat}/>
				Send feedback
			</LinkMenuItem>
			<Divider />
			<LinkMenuItem href="/">
				<img src={logoRedmerah.src} style={{width: pxToRem(20) + 'rem'}}/>
				Redmerah
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.apps}>
				<Icon IconCode={IconCodes.apps}/>
				More apps
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.about}>
				<Icon IconCode={IconCodes.info}/>
				About us
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.privacy}>
				<Icon IconCode={IconCodes.shieldCheckmark}/>
				Privacy policy
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.terms}>
				<Icon IconCode={IconCodes.receipt}/>
				Terms & conditions
				<MenuIndent />
			</LinkMenuItem>
			<LinkMenuItem href={ExternalLinks.donate} LinkButtonNewTab>
				<Icon IconCode={IconCodes.gift}/>
				Donate
			</LinkMenuItem>
			<MenuHeader>&copy; {new Date().getFullYear()} Redmerah</MenuHeader>
		</Menu>

		<IconButton
			id={ElementIds.apSett_btn}
			data-tooltip="Settings"
			IconButtonCode={IconCodes.settings}
			aria-label="Settings"
			popovertarget={ElementIds.apSett_menu}
		/>
		<Menu id={ElementIds.apSett_menu} PopoverAnchorBy={ElementIds.apSett_btn}>
			<SubMenuItem
				popovertarget={ElementIds.apSett_animationMenu}>
				<Icon IconCode={IconCodes.playCircleHint}/>
				Animation
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu style={{width: pxToRem(150) + 'rem'}} id={ElementIds.apSett_animationMenu}>
				{animations.map(v =>
					<RadioMenuItem
						RadioMenuItemName={RadioNames.animation}
						RadioMenuItemChecked={DEFAULT_ANIMATION === v.value}
						RadioMenuItemValue={v.value}>
						<Icon IconCode={v.icon}/>
						{v.text}
					</RadioMenuItem>
				)}
			</SubMenu>

			<SubMenuItem
				popovertarget={ElementIds.apSett_themeMenu}>
				<Icon IconCode={IconCodes.weatherSunny}/>
				Theme
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu style={{width: pxToRem(150) + 'rem'}} id={ElementIds.apSett_themeMenu}>
				{themes.map(v =>
					<RadioMenuItem
						RadioMenuItemName={RadioNames.theme}
						RadioMenuItemChecked={DEFAULT_THEME === v.value}
						RadioMenuItemValue={v.value}>
						<Icon IconCode={v.icon}/>
						{v.text}
					</RadioMenuItem>
				)}
			</SubMenu>

			<Divider/>
			<MenuHeader>QR code generator</MenuHeader>

			<SubMenuItem
				popovertarget={ElementIds.apSett_correctionMenu}>
				<Icon IconCode={IconCodes.errorCircleSettings}/>
				Error correction level
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu id={ElementIds.apSett_correctionMenu}>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.correction,
						checked: DEFAULT_ERROR_CORRECTION_LEVEL === ErrorCorrectionLevel.low,
						value: ErrorCorrectionLevel.low
					}}>
					Low
					<div style="flex:1"/>
					~7%
				</RadioMenuItem>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.correction,
						checked: DEFAULT_ERROR_CORRECTION_LEVEL === ErrorCorrectionLevel.medium,
						value: ErrorCorrectionLevel.medium
					}}>
					Medium
					<div style="flex:1"/>
					~15%
				</RadioMenuItem>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.correction,
						checked: DEFAULT_ERROR_CORRECTION_LEVEL === ErrorCorrectionLevel.quartile,
						value: ErrorCorrectionLevel.quartile
					}}>
					Quartile
					<div style="flex:1"/>
					~25%
				</RadioMenuItem>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.correction,
						checked: DEFAULT_ERROR_CORRECTION_LEVEL === ErrorCorrectionLevel.high,
						value: ErrorCorrectionLevel.high
					}}>
					High
					<div style="flex:1"/>
					~30%
				</RadioMenuItem>
			</SubMenu>

			<SubMenuItem
				popovertarget={ElementIds.apSett_encodingMenu}>
				<Icon IconCode={IconCodes.translate}/>
				Encoding mode
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu id={ElementIds.apSett_encodingMenu}>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.encoding,
						checked: DEFAULT_ENCODING_MODE === EncodingMode.auto,
						value: EncodingMode.auto
					}}>
					Automatic
				</RadioMenuItem>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.encoding,
						checked: DEFAULT_ENCODING_MODE === EncodingMode.alphanumeric,
						value: EncodingMode.alphanumeric
					}}>
					Alphanumeric
				</RadioMenuItem>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.encoding,
						checked: DEFAULT_ENCODING_MODE === EncodingMode.byte,
						value: EncodingMode.byte
					}}>
					Byte
				</RadioMenuItem>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.encoding,
						checked: DEFAULT_ENCODING_MODE === EncodingMode.kanji,
						value: EncodingMode.kanji
					}}>
					Kanji
				</RadioMenuItem>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.encoding,
						checked: DEFAULT_ENCODING_MODE === EncodingMode.numeric,
						value: EncodingMode.numeric
					}}>
					Numeric
				</RadioMenuItem>
			</SubMenu>

			<SubMenuItem
				popovertarget={ElementIds.apSett_versionMenu}>
				<Icon IconCode={IconCodes.numberRow}/>
				Version
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu id={ElementIds.apSett_versionMenu}>
				<RadioMenuItem
					RadioMenuItemInputAttr={{
						name: RadioNames.version,
						checked: DEFAULT_VERSION === QRVersion.auto,
						value: QRVersion.auto
					}}>
					Automatic
				</RadioMenuItem>
				{new Array(40).fill(1).map((_, i) =>
					<RadioMenuItem
						RadioMenuItemInputAttr={{
							name: RadioNames.version,
							checked: DEFAULT_VERSION === String(i + 1),
							value: String(i + 1)
						}}>
						{i + 1}
					</RadioMenuItem>
				)}
			</SubMenu>

			<MenuItem id={ElementIds.apSett_colorBtn}>
				<Icon IconCode={IconCodes.color}/>
				Color
				<MenuIndent />
			</MenuItem>
			<MenuItem id={ElementIds.apSett_marginBtn}>
				<Icon IconCode={IconCodes.checkboxIndeterminate} IconFilled/>
				Margin
				<MenuIndent />
			</MenuItem>
		</Menu>
	</Fragment>
</AppBar>
<Dialog id={ElementIds.apSett_colorDialog} style={{width: pxToRem(360) + 'rem'}}>
	<Fragment slot="header">Color</Fragment>
	<div style={{
		display: 'flex',
		flexWrap: 'wrap',
		gap: pxToRem(16) + 'rem',
		alignItems: 'flex-start'
	}}>
		<div
			id={ElementIds.apSett_colorPreviewBackground}
			style={{
				minWidth: pxToRem(64) + 'rem',
				maxWidth: pxToRem(64) + 'rem',
				minHeight: pxToRem(64) + 'rem',
				maxHeight: pxToRem(64) + 'rem',
				backgroundColor: DEFAULT_BACKGROUND_COLOR,
				display: 'flex',
				alignItems: 'center',
				justifyContent: 'center',
				borderRadius: pxToRem(4) +  'rem'
			}}>
			<svg
				id={ElementIds.apSett_colorPreviewForeground}
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 -960 960 960"
				style={{width: pxToRem(52) + 'rem'}}
				fill={DEFAULT_COLOR}>
				<path d="M120-560v-240q0-17 11.5-28.5T160-840h240q17 0 28.5 11.5T440-800v240q0 17-11.5 28.5T400-520H160q-17 0-28.5-11.5T120-560Zm80-40h160v-160H200v160Zm-80 440v-240q0-17 11.5-28.5T160-440h240q17 0 28.5 11.5T440-400v240q0 17-11.5 28.5T400-120H160q-17 0-28.5-11.5T120-160Zm80-40h160v-160H200v160Zm320-360v-240q0-17 11.5-28.5T560-840h240q17 0 28.5 11.5T840-800v240q0 17-11.5 28.5T800-520H560q-17 0-28.5-11.5T520-560Zm80-40h160v-160H600v160Zm160 480v-80h80v80h-80ZM520-360v-80h80v80h-80Zm80 80v-80h80v80h-80Zm-80 80v-80h80v80h-80Zm80 80v-80h80v80h-80Zm80-80v-80h80v80h-80Zm0-160v-80h80v80h-80Zm80 80v-80h80v80h-80Z"/>
			</svg>
		</div>
		<div style="flex:1">
			<p style={{
				'font-size': 'var(--g-font-size-xs)',
				'user-select': 'none',
				color: 'rgba(var(--g-color-on-surface),var(--g-opacity-inv2))'
			}}>Color:</p>
			<Button
				style={{
					'margin-top': pxToRem(4) + 'rem',
					width: '100%'
				}}
				ButtonVariant={CButton.Variant.tonal}
				id={ElementIds.apSett_colorForePickerBtn}
				popovertarget={ElementIds.apSett_colorForePicker}
				>{DEFAULT_COLOR}</Button>
			<ColorPicker
				id={ElementIds.apSett_colorForePicker}
				ColorPickerValue={DEFAULT_COLOR}
				PopoverAnchorBy={ElementIds.apSett_colorForePickerBtn}
				PopoverPosition={FlyoutPosition.centerCenterLeftTop}
			/>

			<p style={{
				'margin-top': pxToRem(8) + 'rem',
				'font-size': 'var(--g-font-size-xs)',
				'user-select': 'none',
				color: 'rgba(var(--g-color-on-surface),var(--g-opacity-inv2))'
			}}>Background color:</p>
			<Button
				style={{
					'margin-top': pxToRem(4) + 'rem',
					width: '100%'
				}}
				ButtonVariant={CButton.Variant.tonal}
				id={ElementIds.apSett_colorBackPickerBtn2}
				popovertarget={ElementIds.apSett_colorBackPicker}
				>{DEFAULT_BACKGROUND_COLOR}</Button>
			<ColorPicker
				id={ElementIds.apSett_colorBackPicker}
				ColorPickerValue={DEFAULT_BACKGROUND_COLOR}
				PopoverAnchorBy={ElementIds.apSett_colorBackPickerBtn2}
				PopoverPosition={FlyoutPosition.centerCenterLeftTop}
			/>
		</div>
	</div>
	<form style="display:contents" method="dialog" slot="footer">
		<Button ButtonVariant={CButton.Variant.tonal}>Cancel</Button>
		<Button ButtonVariant={CButton.Variant.filled} id={ElementIds.apSett_colorSave}>Save</Button>
	</form>
</Dialog>
<Dialog id={ElementIds.apSett_marginDialog} style={{width: pxToRem(360) + 'rem'}}>
	<Fragment slot="header">Margin</Fragment>
	<TextField TextFieldInputAttr={{
		'aria-label': 'Margin',
		type: 'number',
		id: ElementIds.apSett_marginInput,
		value: DEFAULT_MARGIN,
		min: '0'
	}}/>
	<form style="display:contents" method="dialog" slot="footer">
		<Button ButtonVariant={CButton.Variant.tonal}>Cancel</Button>
		<Button ButtonVariant={CButton.Variant.filled} id={ElementIds.apSett_marginSave}>Save</Button>
	</form>
</Dialog>