---
import SideBar from '@/components/SideBar/index.astro'
import Icon from '@/components/Icon/index.astro'
import Drawer from '@/components/Drawer/index.astro'
import DrawerButton from '@/components/Drawer/DrawerButton.astro'
import Button from '@/components/Button/index.astro'
import SideBarButton from '@/components/SideBar/SideBarButton.astro'
import { CButton } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { CSSClasses } from '../_styles/_css'
import { Pages } from '../_scripts/_shared/_enums'
import { ElementIds } from '../_scripts/_shared/_ids'
import { DEFAULT_PAGE } from '../_scripts/_shared/_constant'
import IconButton from '@/components/Button/IconButton.astro'

const items: {
	icon: number
	name: string
	page: Pages
	controls: string
}[] = [
	{
		icon: IconCodes.qrCode,
		name: 'Generate',
		page: Pages.generate,
		controls: ElementIds.pg_generate,
	},
	{
		icon: IconCodes.scanText,
		name: 'Scan',
		page: Pages.scan,
		controls: ElementIds.pg_scan,
	},
]
---

<SideBar
	role="tablist"
	class={CSSClasses.navigationSideBar}
	id={ElementIds.nav_sideBar}
	aria-label="Navigation">
	<IconButton
		style={{width: 'fit-content'}}
		IconButtonCode={IconCodes.lineHorizontal3}
		data-tooltip="Minimize side bar"
		id={ElementIds.nav_minimizeBtn}
	/>
	{items.map(v => <SideBarButton
		role="tab"
		data-page={v.page}
		aria-selected={DEFAULT_PAGE === v.page}
		aria-controls={v.controls}
		SideBarButtonSelected={DEFAULT_PAGE === v.page}
		ButtonVariant={DEFAULT_PAGE === v.page ? CButton.Variant.tonal : undefined}>
		<Icon
			slot="leading"
			IconCode={v.icon}
			data-tooltip={v.name}
		/>
		{v.name}
	</SideBarButton>)}
</SideBar>
<Drawer
	id={ElementIds.nav_drawer}
	aria-label="Navigation">
	<Button
		slot="header"
		style="width:min-content"
		popovertarget={ElementIds.nav_drawer}
		popovertargetaction="hide">
		<Icon IconCode={IconCodes.lineHorizontal3}/>
	</Button>
	{items.map(v => <DrawerButton
		aria-selected={DEFAULT_PAGE === v.page}
		aria-controls={v.controls}
		data-page={v.page}
		DrawerButtonSelected={DEFAULT_PAGE === v.page}
		ButtonVariant={DEFAULT_PAGE === v.page ? CButton.Variant.tonal : undefined}>
		<Icon
			IconCode={v.icon}
		/>
		{v.name}
	</DrawerButton>)}
</Drawer>