---
import Html from '@/components/Html/index.astro';
import Icon from '@/components/Icon/index.astro';
import LinkButton from '@/components/Button/LinkButton.astro';
import { ButtonVariant } from '@/components/Button';
import { SettingsElement, MainElement, NavigationMenu } from './_components'
import CSS from './_index.module.scss'

import { RoutesLinks, ExternalLinks } from '@/enums/links';
import { getDate_Y } from '@/utils/datetime';
import logo from '@/assets/logo.svg'

export const prerender = true;
---

<Html>
	<header class={CSS.header}>
        <LinkButton href={RoutesLinks.home}><img src={logo.src} alt="Redmerah logo" /> Redmerah</LinkButton>
        <nav>
            <LinkButton classList={[CSS.desktop_only]} selected href={RoutesLinks.apps} variant={ButtonVariant.filledTonal}><Icon code={0xE063} filled/>Apps</LinkButton>
            <LinkButton classList={[CSS.desktop_only]} href={RoutesLinks.about}><Icon code={0xE930}/>About</LinkButton>
            <LinkButton classList={[CSS.desktop_only]} href={ExternalLinks.donate} openInNewTab><Icon code={0xE84B}/>Donate</LinkButton>
        </nav>
        <div>
            <SettingsElement client:only="solid-js"/>
            <NavigationMenu client:only="solid-js"/>
        </div>
    </header>
    <MainElement client:only="solid-js"/>
    <footer class={CSS.footer}>
        <p>&copy; { getDate_Y() } Redmerah</p>
        <div>
            <a href={RoutesLinks.about}>About</a>
            <a href={RoutesLinks.apps}>Apps</a>
            <a href={ExternalLinks.androidApps}>Android apps</a>
            <a href={RoutesLinks.privacy}>Privacy</a>
            <a href={RoutesLinks.terms}>Terms</a>
            <a href={ExternalLinks.contactEmail}>Contact</a>
            <a href={ExternalLinks.donate}>Donate</a>
        </div>
    </footer>
</Html>