---
import Button from '@/native-components/Button/index.astro'
import CheckBox from '@/native-components/CheckBox/index.astro'
import IconButton from '@/native-components/Button/IconButton.astro'
import Icon from '@/native-components/Icon/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Select from '@/native-components/Select/index.astro'
import SelectOption from '@/native-components/Select/SelectOption.astro'
import { ButtonVariant } from '@/native-components/Button'
import { ElementIds, ID } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { IconCodes } from '@/enums/icons'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ID + ElementIds.panelButtons}
	hidden>
	<h2>Buttons</h2>
	<p>A button is an interactive UI element that triggers a specific action when clicked or tapped. It typically has a clear label indicating its function and provides visual feedback upon interaction. Buttons are essential for guiding users through an interface and facilitating user-system communication.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<IconButton
				data-tooltip="Icon Button"
				id={ID + ElementIds.panelButtonsPreview1}
				IconButtonCode={IconCodes.add}
			/>
			<Button id={ID + ElementIds.panelButtonsPreview2} data-tooltip="Button">
				Click me
			</Button>
			<Button id={ID + ElementIds.panelButtonsPreview3} data-tooltip="Button">
				<Icon IconCode={IconCodes.add} data-tooltip="Icon"/>
				Click me
			</Button>
		</Tooltip>
	</div>
	<div class={CSS.bodyOptions} id={ID + ElementIds.panelButtonsOptions}>
		<div class={CSS.bodyOptionsGroup}>
			<label id={ID + ElementIds.panelButtonsOptionsVariantLabel}>Variant:</label>
			<Select
				aria-labelledby={ID + ElementIds.panelButtonsOptionsVariantLabel}
				id={ID + ElementIds.panelButtonsOptionsVariant}
				style="min-width:140px;margin-right:12px">
				<SelectOption value={ButtonVariant.filled}>Filled</SelectOption>
				<SelectOption value={ButtonVariant.tonal}>Tonal</SelectOption>
				<SelectOption value={ButtonVariant.transparent} SelectOptionSelected>Transparent</SelectOption>
				<SelectOption value={ButtonVariant.outlined}>Outlined</SelectOption>
			</Select>
		</div>
		<CheckBox
			CheckBoxInputAttr={{id: ID + ElementIds.panelButtonsOptionsDisabled}}>
			Disabled
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{id: ID + ElementIds.panelButtonsOptionsFocused}}>
			Focused
		</CheckBox>
	</div>
</div>