---
import CheckBox from '@/native-components/CheckBox/index.astro'
import TextField from '@/native-components/TextField/index.astro'
import Menu from '@/native-components/Menu/index.astro'
import SubMenu from '@/native-components/Menu/SubMenu.astro'
import Icon from '@/native-components/Icon/index.astro'
import MenuItem from '@/native-components/Menu/MenuItem.astro'
import MenuHeader from '@/native-components/Menu/MenuHeader.astro'
import SubMenuItem from '@/native-components/Menu/SubMenuItem.astro'
import RadioMenuItem from '@/native-components/Menu/RadioMenuItem.astro'
import CheckMenuItem from '@/native-components/Menu/CheckMenuItem.astro'
import MenuIndent from '@/native-components/Menu/MenuIndent.astro'
import Divider from '@/native-components/Divider/index.astro'
import Button from '@/native-components/Button/index.astro'
import Select from '@/native-components/Select/index.astro'
import SelectOption from '@/native-components/Select/SelectOption.astro'
import { ElementIds, ID, RadioGroupNames } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { ButtonVariant } from '@/native-components/Button'
import { FlyoutPosition } from '@/enums/position'
import { ICON_CHEVRON_RIGHT, ICON_CLIPBOARD_PASTE, ICON_COPY, ICON_CUT } from '@/constants/icons'
import { MenuPosition } from '@/native-components/Menu'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ID + ElementIds.panelMenu}>
	<h2>Menu</h2>
	<p>A menu is a collection of options or commands that are presented to the user. It can be a simple list of items, a hierarchical structure, or a combination of both. Menus are commonly used for navigation, actions, or settings.</p>
	<div class={CSS.bodyPlayground}>
		<Button
			ButtonVariant={ButtonVariant.tonal}
			id={ID + ElementIds.panelMenuPreviewButton}
			aria-controls={ID + ElementIds.panelMenuPreviewMenu}
			aria-haspopup="menu"
			popovertarget={ID + ElementIds.panelMenuPreviewMenu}>
			Open menu
		</Button>
		<Menu
			PopoverPosition={MenuPosition.centerBottomToRight}
			PopoverAnchorBy={ID + ElementIds.panelMenuPreviewButton}
			id={ID + ElementIds.panelMenuPreviewMenu}>
			<MenuHeader>Actions</MenuHeader>
			<MenuItem>
				<Icon IconCode={ICON_COPY}/>
				Copy
				<div style="flex:1"/>
				<MenuIndent/>
			</MenuItem>
			<MenuItem>
				<Icon IconCode={ICON_CLIPBOARD_PASTE}/>
				Paste
				<div style="flex:1"/>
				<MenuIndent/>
			</MenuItem>
			<MenuItem>
				<Icon IconCode={ICON_CUT}/>
				Cut
				<div style="flex:1"/>
				<MenuIndent/>
			</MenuItem>
			<Divider/>
			<CheckMenuItem CheckMenuItemChecked>Auto correct<MenuIndent/></CheckMenuItem>
			<CheckMenuItem>Show error<MenuIndent/></CheckMenuItem>
			<Divider/>
			<MenuHeader>Font family</MenuHeader>
			<RadioMenuItem
				RadioMenuItemInputAttr={{name: RadioGroupNames.panelMenuPreview, checked: true}}>
				Sans serif
				<div style="flex:1"/>
				<MenuIndent/>
			</RadioMenuItem>
			<RadioMenuItem
				RadioMenuItemInputAttr={{name: RadioGroupNames.panelMenuPreview}}>
				Monospace
				<div style="flex:1"/>
				<MenuIndent/>
			</RadioMenuItem>
			<RadioMenuItem
				RadioMenuItemInputAttr={{name: RadioGroupNames.panelMenuPreview}}>
				Serif
				<div style="flex:1"/>
				<MenuIndent/>
			</RadioMenuItem>
			<Divider/>
			<MenuHeader>Sub menus</MenuHeader>
			<SubMenuItem aria-controls={ID + ElementIds.panelMenuPreviewMenu2}>
				<MenuIndent/>
				Level 1
				<div style="flex:1"/>
				<Icon IconCode={ICON_CHEVRON_RIGHT}/>
			</SubMenuItem>
			<SubMenu id={ID + ElementIds.panelMenuPreviewMenu2} slot="submenus">
				<MenuItem>
					<Icon IconCode={ICON_COPY}/>
					Copy
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<MenuItem>
					<Icon IconCode={ICON_CLIPBOARD_PASTE}/>
					Paste
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<MenuItem>
					<Icon IconCode={ICON_CUT}/>
					Cut
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
			</SubMenu>

			<SubMenuItem aria-controls={ID + ElementIds.panelMenuPreviewMenu3}>
				<MenuIndent/>
				Level 2
				<div style="flex:1"/>
				<Icon IconCode={ICON_CHEVRON_RIGHT}/>
			</SubMenuItem>
			<SubMenu id={ID + ElementIds.panelMenuPreviewMenu3} slot='submenus'>
				<MenuItem>
					<Icon IconCode={ICON_COPY}/>
					Copy
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<MenuItem>
					<Icon IconCode={ICON_CLIPBOARD_PASTE}/>
					Paste
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<MenuItem>
					<Icon IconCode={ICON_CUT}/>
					Cut
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<Divider />
				<SubMenuItem aria-controls={ID + ElementIds.panelMenuPreviewMenu5}>
					<MenuIndent/>
					Next level
					<div style="flex:1"/>
					<Icon IconCode={ICON_CHEVRON_RIGHT}/>
				</SubMenuItem>
				<SubMenu id={ID + ElementIds.panelMenuPreviewMenu5} slot='submenus'>
					<MenuItem>
						<Icon IconCode={ICON_COPY}/>
						Copy
						<div style="flex:1"/>
						<MenuIndent/>
					</MenuItem>
					<MenuItem>
						<Icon IconCode={ICON_CLIPBOARD_PASTE}/>
						Paste
						<div style="flex:1"/>
						<MenuIndent/>
					</MenuItem>
					<MenuItem>
						<Icon IconCode={ICON_CUT}/>
						Cut
						<div style="flex:1"/>
						<MenuIndent/>
					</MenuItem>
				</SubMenu>
			</SubMenu>

			<SubMenuItem aria-controls={ID + ElementIds.panelMenuPreviewMenu4}>
				<MenuIndent/>
				Level 3
				<div style="flex:1"/>
				<Icon IconCode={ICON_CHEVRON_RIGHT}/>
			</SubMenuItem>
			<SubMenu id={ID + ElementIds.panelMenuPreviewMenu4} slot="submenus">
				<MenuItem>
					<Icon IconCode={ICON_COPY}/>
					Copy
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<MenuItem>
					<Icon IconCode={ICON_CLIPBOARD_PASTE}/>
					Paste
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<MenuItem>
					<Icon IconCode={ICON_CUT}/>
					Cut
					<div style="flex:1"/>
					<MenuIndent/>
				</MenuItem>
				<Divider />
				<SubMenuItem aria-controls={ID + ElementIds.panelMenuPreviewMenu6}>
					<MenuIndent/>
					Next level
					<div style="flex:1"/>
					<Icon IconCode={ICON_CHEVRON_RIGHT}/>
				</SubMenuItem>
				<SubMenu id={ID + ElementIds.panelMenuPreviewMenu6} slot='submenus'>
					<MenuItem>
						<Icon IconCode={ICON_COPY}/>
						Copy
						<div style="flex:1"/>
						<MenuIndent/>
					</MenuItem>
					<MenuItem>
						<Icon IconCode={ICON_CLIPBOARD_PASTE}/>
						Paste
						<div style="flex:1"/>
						<MenuIndent/>
					</MenuItem>
					<MenuItem>
						<Icon IconCode={ICON_CUT}/>
						Cut
						<div style="flex:1"/>
						<MenuIndent/>
					</MenuItem>
					<Divider />
					<SubMenuItem aria-controls={ID + ElementIds.panelMenuPreviewMenu7}>
						<MenuIndent/>
						Next level
						<div style="flex:1"/>
						<Icon IconCode={ICON_CHEVRON_RIGHT}/>
					</SubMenuItem>
					<SubMenu id={ID + ElementIds.panelMenuPreviewMenu7} slot='submenus'>
						<MenuItem>
							<Icon IconCode={ICON_COPY}/>
							Copy
							<div style="flex:1"/>
							<MenuIndent/>
						</MenuItem>
						<MenuItem>
							<Icon IconCode={ICON_CLIPBOARD_PASTE}/>
							Paste
							<div style="flex:1"/>
							<MenuIndent/>
						</MenuItem>
						<MenuItem>
							<Icon IconCode={ICON_CUT}/>
							Cut
							<div style="flex:1"/>
							<MenuIndent/>
						</MenuItem>
					</SubMenu>
				</SubMenu>
			</SubMenu>
		</Menu>
	</div>
	<div class={CSS.bodyOptions} id={ID + ElementIds.panelMenuOptions}>
		<div class={CSS.bodyOptionsGroup} style="margin-right:12px">
			<label id={ID + ElementIds.panelMenuOptionsPositionLabel}>Position:</label>
			<Select
				aria-labelledby={ID + ElementIds.panelMenuOptionsPositionLabel}
				id={ID + ElementIds.panelMenuOptionsPosition}>
				{[
					[FlyoutPosition.centerBottom, 'Center bottom'],
					[FlyoutPosition.centerBottomToLeft, 'Center bottom to left'],
					[FlyoutPosition.centerBottomToRight, 'Center bottom to right'],
					[FlyoutPosition.centerCenter, 'Center center'],
					[FlyoutPosition.centerCenterBottom, 'Center center bottom'],
					[FlyoutPosition.centerCenterLeft, 'Center center left'],
					[FlyoutPosition.centerCenterLeftBottom, 'Center center left bottom'],
					[FlyoutPosition.centerCenterLeftTop, 'Center center left top'],
					[FlyoutPosition.centerCenterRight, 'Center center right'],
					[FlyoutPosition.centerCenterRightBottom, 'Center center right bottom'],
					[FlyoutPosition.centerCenterRightTop, 'Center center right top'],
					[FlyoutPosition.centerCenterTop, 'Center center top'],
					[FlyoutPosition.centerTop, 'Center top'],
					[FlyoutPosition.centerTopToLeft, 'Center top to left'],
					[FlyoutPosition.centerTopToRight, 'Center top to right'],
					[FlyoutPosition.leftBottom, 'Left bottom'],
					[FlyoutPosition.leftCenter, 'Left center'],
					[FlyoutPosition.leftCenterToBottom, 'Left center to bottom'],
					[FlyoutPosition.leftCenterToTop, 'Left center to top'],
					[FlyoutPosition.leftTop, 'Left top'],
					[FlyoutPosition.rightBottom, 'Right bottom'],
					[FlyoutPosition.rightCenter, 'Right center'],
					[FlyoutPosition.rightCenterToBottom, 'Right center to bottom'],
					[FlyoutPosition.rightCenterToTop, 'Right center to top'],
					[FlyoutPosition.rightTop, 'Right top'],
				].map(v =>
					<SelectOption value={v[0]} SelectOptionSelected={v[0] === FlyoutPosition.centerBottomToRight}>{v[1]}</SelectOption>
				)}
			</Select>
		</div>
		<div class={CSS.bodyOptionsGroup} style="margin-right:12px">
			<label
				for={ID + ElementIds.panelMenuOptionsGap}>
				Gap:
			</label>
			<TextField
				TextFieldInputAttr={{
					value: '8',
					type: 'number',
					min: 0,
					style: 'width:100px',
					id: ID + ElementIds.panelMenuOptionsGap
				}}
			/>
		</div>
		<CheckBox
			CheckBoxInputAttr={{
				id: ID + ElementIds.panelMenuOptionsAnchor,
				checked: true
			}}>
			Anchor
		</CheckBox>
	</div>
</div>