---
import Tooltip from '@/native-components/Tooltip/index.astro'
import CheckBox from '@/native-components/CheckBox/index.astro'
import TextField from '@/native-components/TextField/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import Button from '@/native-components/Button/index.astro'
import Select from '@/native-components/Select/index.astro'
import SelectOption from '@/native-components/Select/SelectOption.astro'
import { ElementIds, ID } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'
import { ButtonVariant } from '@/native-components/Button'
import { FlyoutPosition } from '@/enums/position'
import { ICON_ANIMAL_CAT } from '@/constants/icons'
import { TooltipPosition } from '@/native-components/Tooltip'
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ID + ElementIds.panelTooltip}
	hidden>
	<h2>Tooltip</h2>
	<p>A tooltip is a small, temporary window that appears when a user hovers over an element. It provides a brief explanation or description of the element's purpose or function. Tooltips are often used to clarify the meaning of icons, buttons, or other UI elements.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip
			id={ID + ElementIds.panelTooltipPreview}
			TooltipEndDelay={200}
			TooltipGap={40}
			TooltipStartDelay={1000}
			TooltipUseAnchor={false}
			TooltipPosition={TooltipPosition.centerTop}>
			<Button
				ButtonVariant={ButtonVariant.tonal}
				data-tooltip="Button">
				<Icon IconFilled IconCode={ICON_ANIMAL_CAT} data-tooltip="Icon"/>
				Hover me
			</Button>
		</Tooltip>
	</div>
	<div class={CSS.bodyOptions} id={ID + ElementIds.panelTooltipOptions}>
		<label id={ID + ElementIds.panelTooltipOptionsPositionLabel}>Position:</label>
		<Select
			aria-labelledby={ID + ElementIds.panelTooltipOptionsPositionLabel}
			style="margin-right:12px"
			id={ID + ElementIds.panelTooltipOptionsPosition}>
			{[
				[FlyoutPosition.centerBottom, 'Center bottom'],
				[FlyoutPosition.centerBottomToLeft, 'Center bottom to left'],
				[FlyoutPosition.centerBottomToRight, 'Center bottom to right'],
				[FlyoutPosition.centerCenter, 'Center center'],
				[FlyoutPosition.centerCenterBottom, 'Center center bottom'],
				[FlyoutPosition.centerCenterLeft, 'Center center left'],
				[FlyoutPosition.centerCenterLeftBottom, 'Center center left bottom'],
				[FlyoutPosition.centerCenterLeftTop, 'Center center left top'],
				[FlyoutPosition.centerCenterRight, 'Center center right'],
				[FlyoutPosition.centerCenterRightBottom, 'Center center right bottom'],
				[FlyoutPosition.centerCenterRightTop, 'Center center right top'],
				[FlyoutPosition.centerCenterTop, 'Center center top'],
				[FlyoutPosition.centerTop, 'Center top'],
				[FlyoutPosition.centerTopToLeft, 'Center top to left'],
				[FlyoutPosition.centerTopToRight, 'Center top to right'],
				[FlyoutPosition.leftBottom, 'Left bottom'],
				[FlyoutPosition.leftCenter, 'Left center'],
				[FlyoutPosition.leftCenterToBottom, 'Left center to bottom'],
				[FlyoutPosition.leftCenterToTop, 'Left center to top'],
				[FlyoutPosition.leftTop, 'Left top'],
				[FlyoutPosition.rightBottom, 'Right bottom'],
				[FlyoutPosition.rightCenter, 'Right center'],
				[FlyoutPosition.rightCenterToBottom, 'Right center to bottom'],
				[FlyoutPosition.rightCenterToTop, 'Right center to top'],
				[FlyoutPosition.rightTop, 'Right top'],
			].map(v =>
				<SelectOption value={v[0]} SelectOptionSelected={v[0] === FlyoutPosition.centerTop}>{v[1]}</SelectOption>
			)}
		</Select>
		<div class={CSS.bodyOptionsGroup}>
			<label
				for={ID + ElementIds.panelTooltipOptionsGap}>
				Gap:
			</label>
			<TextField
				style={"margin-right:12px"}
				TextFieldInputAttr={{
					value: '40',
					type: 'number',
					min: 0,
					style: 'width:100px',
					id: ID + ElementIds.panelTooltipOptionsGap
				}}
			/>
		</div>
		<div class={CSS.bodyOptionsGroup}>
			<label
				for={ID + ElementIds.panelTooltipOptionsStartDelay}>
				Start delay (ms):
			</label>
			<TextField
				style={"margin-right:12px"}
				TextFieldInputAttr={{
					value: '1000',
					type: 'number',
					min: 0,
					step: 50,
					style: 'width:100px',
					id: ID + ElementIds.panelTooltipOptionsStartDelay
				}}
			/>
		</div>
		<div class={CSS.bodyOptionsGroup}>
			<label
				for={ID + ElementIds.panelTooltipOptionsEndDelay}>
				End delay (ms):
			</label>
			<TextField
				style={"margin-right:12px"}
				TextFieldInputAttr={{
					value: '200',
					type: 'number',
					min: 0,
					step: 50,
					style: 'width:100px',
					id: ID + ElementIds.panelTooltipOptionsEndDelay
				}}
			/>
		</div>
		<CheckBox
			CheckBoxInputAttr={{
				id: ID + ElementIds.panelTooltipOptionsAnchor,
			}}>
			Anchor
		</CheckBox>
	</div>
</div>