---
import Tooltip from '@/native-components/Tooltip/index.astro'
import TextField from '@/native-components/TextField/index.astro'
import TextFieldButton from '@/native-components/TextField/TextFieldButton.astro'
import CheckBox from '@/native-components/CheckBox/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import Select from '@/native-components/Select/index.astro'
import SelectOption from '@/native-components/Select/SelectOption.astro'
import { ICON_ATTACH, ICON_SEARCH } from '@/constants/icons'
import { ElementIds, ELEMENT_ID_PREFIX } from '../../_scripts/_enums'
import CSS from '../../_index.module.scss'

const types = [
	'button', 'checkbox', 'color', 'date', 'datetime-local',
	'email', 'file', 'hidden', 'image', 'month', 'number',
	'password', 'radio', 'range', 'reset', 'search', 'submit',
	'tel', 'text', 'time', 'url', 'week'
].sort((a, b) => a.localeCompare(b))
---
<div
	class={CSS.bodyPage}
	role="tabpanel"
	id={ELEMENT_ID_PREFIX + ElementIds.panelTextfield}>
	<h2>TextField</h2>
	<p>A TextField is a UI element that allows users to input text. It typically includes a text box for entering content and may have additional features like labels, placeholders, and validation rules.</p>
	<div class={CSS.bodyPlayground}>
		<Tooltip>
			<TextField
				id={ELEMENT_ID_PREFIX + ElementIds.panelTextfieldPreview}
				TextFieldInputAttr={{
					style: "padding:0",
					placeholder: 'Type here ...',
					id: ELEMENT_ID_PREFIX + ElementIds.panelTextfieldPreviewInput
				}}>
				<Icon
					data-tooltip="Icon"
					style="margin-left:8px"
					IconCode={ICON_ATTACH}
					slot="leading"
					id={ELEMENT_ID_PREFIX + ElementIds.panelTextfieldPreviewLeading}
				/>
				<TextFieldButton
					aria-label="Search"
					data-tooltip="TextFieldButton"
					style="margin-right:4px"
					slot="trailing"
					id={ELEMENT_ID_PREFIX + ElementIds.panelTextfieldPreviewTrailing}>
					<Icon IconCode={ICON_SEARCH}/>
				</TextFieldButton>
			</TextField>
		</Tooltip>
	</div>
	<div class={CSS.bodyOptions} id={ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptions}>
		<label id={ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptionsTypeLabel}>Type:</label>
		<Select
			aria-labelledby={ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptionsTypeLabel}
			id={ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptionsType}
			style="min-width:150px">
			{types.map(v =>
				<SelectOption value={v} SelectOptionSelected={v === 'text'}>{v}</SelectOption>
			)}
		</Select>
		<CheckBox
			CheckBoxInputAttr={{
				id: ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptionsLeading,
				checked: true
			}}>
			Leading
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptionsTrailing,
				checked: true
			}}>
			Trailing
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{id: ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptionsReadonly}}>
			Read only
		</CheckBox>
		<CheckBox
			CheckBoxInputAttr={{
				id: ELEMENT_ID_PREFIX + ElementIds.panelTextfieldOptionsPlaceholder,
				checked: true
			}}>
			Placeholder
		</CheckBox>
	</div>
</div>