---
import Icon from '@/components/Icon/index.astro'
import Toast from '@/components/Toast/index.astro'
import { CSSClasses } from '../_styles/_css'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
import { DEFAULT_JAVASCRIPT_INPUT_TEXT, DEFAULT_JAVASCRIPT_OUTPUT_TEXT, DEFAULT_TEXT_WRAP } from '../_scripts/_shared/_constant'
---

<main class={CSSClasses.body}>
	<div id={ElementIds.bd_inputContainer}>
		<label for={ElementIds.bd_input}>Input:</label>
		<textarea
			id={ElementIds.bd_input}
			placeholder="Type your javascript here ..."
			data-text-wrap={DEFAULT_TEXT_WRAP? '' : undefined}>{
			DEFAULT_JAVASCRIPT_INPUT_TEXT
		}</textarea>
	</div>
	<div id={ElementIds.bd_slider} class={CSSClasses.bodySlider}/>
	<div>
		<label for={ElementIds.bd_output}>Output:</label>
		<textarea
			id={ElementIds.bd_output}
			data-text-wrap={DEFAULT_TEXT_WRAP? '' : undefined}>{
			DEFAULT_JAVASCRIPT_OUTPUT_TEXT
		}</textarea>
	</div>
</main>
<Toast id={ElementIds.toa_copied} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.Copy} slot="leading"/>
	Copied
</Toast>
<Toast id={ElementIds.toa_noFile} ToastCloseDelay={3000}>
	<Icon IconCode={IconCodes.DocumentError} slot="leading"/>
	No file selected
</Toast>
<Toast id={ElementIds.toa_readError} ToastCloseDelay={3000}>
	<Icon IconCode={IconCodes.ScanText} slot="leading"/>
	Unable reading files
</Toast>