---
import { RoutesLinks, ExternalLinks } from '@/enums/links'
import CSS from './_index.module.scss'
import LinkButton from '@/components/Button/LinkButton.astro'
---

<div style="flex: 1"/>
<footer class={CSS.footer}>
	<slot/>
	<p data-css-copyright>&copy; { new Date().getFullYear() } Redmerah</p>
	<div data-css-links>
		<LinkButton href={RoutesLinks.home}>Home</LinkButton>
		<LinkButton href={RoutesLinks.about}>About</LinkButton>
		<LinkButton href={RoutesLinks.apps}>Apps</LinkButton>
		<LinkButton href={RoutesLinks.privacy}>Privacy</LinkButton>
		<LinkButton href={RoutesLinks.terms}>Terms</LinkButton>
		<LinkButton href={'mailto:' + ExternalLinks.contactEmail}>Contact</LinkButton>
		<LinkButton LinkButtonNewTab href={ExternalLinks.donate}>Donate</LinkButton>
	</div>
</footer>