---
import { RoutesLinks, ExternalLinks } from '@/enums/links'
import CSS from './_index.module.scss'
import LinkButton from '@/components/Button/LinkButton.astro'
---

<div style="flex: 1"/>
<footer class={CSS.footer}>
	<slot/>
	<p data-css-copyright>&copy; { new Date().getFullYear() } Redmerah</p>
	<div data-css-links>
		<LinkButton href={RoutesLinks.Home}>Home</LinkButton>
		<LinkButton href={RoutesLinks.About}>About</LinkButton>
		<LinkButton href={RoutesLinks.Apps}>Apps</LinkButton>
		<LinkButton href={RoutesLinks.Privacy}>Privacy</LinkButton>
		<LinkButton href={RoutesLinks.Terms}>Terms</LinkButton>
		<LinkButton href={'mailto:' + ExternalLinks.ContactEmail}>Contact</LinkButton>
		<LinkButton LinkButtonNewTab href={ExternalLinks.Donate}>Donate</LinkButton>
	</div>
</footer>