---
import * as ExternalLinks from "@/enums/external-links.enum.js"
import * as Routes from '@/enums/routes.enum.js'
import * as Styles from './_styles/styles.enum.js'
---

<div style="flex: 1"/>
<footer class={Styles.BottomBar}>
	<slot/>
	<p>&copy; {new Date().getFullYear()} Redmerah</p>
	<div data-css="links">
		<a br:as="button" href={Routes.Home}>Home</a>
		<a br:as="button" href={Routes.Apps}>Apps</a>
		<a br:as="button" href={Routes.About}>About</a>
		<a br:as="button" href={ExternalLinks.Github}>Github</a>
		<a br:as="button" href={'mailto:' + ExternalLinks.ContactEmail}>Contact</a>
		<a br:as="button" href={ExternalLinks.Donate}>Donate</a>
	</div>
</footer>
<script src="@/web-components/components/button.ts"/>