---
import UICompass from './_UICompass.astro'
import { CSSClasses } from '../_styles/_css'
import Dialog from '@/components/Dialog/index.astro'
import Button from '@/components/Button/index.astro'
import LinkButton from '@/components/Button/LinkButton.astro'
import { CButton } from '@/components/Button/'
import { ElementIds } from '../_scripts/_shared/_ids'
import { pxToRem } from '@/utils/css'
import { RoutesLinks } from '@/enums/links'
---

<main class={CSSClasses.body}>
	<UICompass/>
</main>

<Dialog id={ElementIds.dlg_notSupport} style={`width:${pxToRem(500)}rem`}>
	<Fragment slot="header">Compass Not Available</Fragment>
	<p>This compass app requires a device with a built-in magnetometer (compass sensor) to function. It appears your device, or browser, does not support this feature. Please try again on another device.</p>
	<form method="dialog" slot="footer" style="display:contents">
		<Button ButtonVariant={CButton.Variant.Tonal}>Close</Button>
		<LinkButton
			autofocus
			LinkButtonVariant={CButton.Variant.Filled}
			href={RoutesLinks.Apps}>Go to apps</LinkButton>
	</form>
</Dialog>