---
import Icon from '@/native-components/Icon/index.astro'
import Button from '@/native-components/Button/index.astro'
import Toast from '@/native-components/Toast/index.astro'
import { CSSClasses } from '../_styles/_css'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
import { DEFAULT_MARKDOWN_TEXT, DEFAULT_HTML_TEXT, DEFAULT_TEXT_WRAP, DEFAULT_CSS_TEXT, DEFAULT_PREVIEW_TEXT } from '../_scripts/_shared/_constant'
import { ButtonVariant } from '@/native-components/Button'
---

<main class={CSSClasses.body}>
	<div id={ElementIds.bd_inputContainer}>
		<div>
			<Button id={ElementIds.bdTab_markdown} ButtonVariant={ButtonVariant.filled}>Markdown</Button>
			<Button id={ElementIds.bdTab_css} ButtonVariant={ButtonVariant.outlined}>CSS</Button>
		</div>
		<textarea
			id={ElementIds.bd_markdown}
			placeholder="Type your markdown here ..."
			data-text-wrap={DEFAULT_TEXT_WRAP? '' : undefined}>{
			DEFAULT_MARKDOWN_TEXT
		}</textarea>
		<textarea
			style="display:none"
			id={ElementIds.bd_css}
			placeholder="Type your CSS here ..."
			data-text-wrap={DEFAULT_TEXT_WRAP? '' : undefined}>{
			DEFAULT_CSS_TEXT
		}</textarea>
	</div>
	<div id={ElementIds.bd_slider} class={CSSClasses.bodySlider}/>
	<div>
		<div>
			<Button id={ElementIds.bdTab_preview} ButtonVariant={ButtonVariant.filled}>Preview</Button>
			<Button id={ElementIds.bdTab_html} ButtonVariant={ButtonVariant.outlined}>HTML</Button>
		</div>
		<textarea
			style="display:none"
			id={ElementIds.bd_html}
			data-text-wrap={DEFAULT_TEXT_WRAP? '' : undefined}>{
			DEFAULT_HTML_TEXT
		}</textarea>
		<iframe
			title="Markdown preview"
			id={ElementIds.bd_preview}
			srcdoc={DEFAULT_PREVIEW_TEXT}
		/>
	</div>
</main>
<Toast id={ElementIds.bdToas_copied} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.copy} slot="leading"/>
	Copied
</Toast>
<Toast id={ElementIds.bdToas_noFile} ToastCloseDelay={3000}>
	<Icon IconCode={IconCodes.documentError} slot="leading"/>
	No file selected
</Toast>
<Toast id={ElementIds.bdToas_readError} ToastCloseDelay={3000}>
	<Icon IconCode={IconCodes.scanText} slot="leading"/>
	Unable reading files
</Toast>