---
import AppBar from '@/components/AppBar2/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import Dialog from '@/components/Dialog/index.astro'
import CheckBox from '@/components/CheckBox/index.astro'
import TextField from '@/components/TextField/index.astro'
import TextAreaField from '@/components/TextAreaField/index.astro'
import List from '@/components/List/index.astro'
import Menu from '@/components/Menu/index.astro'
import Button from '@/components/Button/index.astro'
import SubMenu from '@/components/Menu/SubMenu.astro'
import SubMenuItem from '@/components/Menu/SubMenuItem.astro'
import RadioMenuItem from '@/components/Menu/RadioMenuItem.astro'
import MenuHeader from '@/components/Menu/MenuHeader.astro'
import MenuItem from '@/components/Menu/MenuItem.astro'
import CheckMenuItem from '@/components/Menu/CheckMenuItem.astro'
import MenuIndent from '@/components/Menu/MenuIndent.astro'
import Icon from '@/components/Icon/index.astro'
import LinkMenuItem from '@/components/Menu/LinkMenuItem.astro'
import Divider from '@/components/Divider/index.astro'
import { PlatformAnimationMode, PlatformThemeMode } from '@/enums/platforms'
import logoRedmerah from '@/assets/images/logos/redmerah-logo.svg'
import { RoutesLinks, ExternalLinks } from '@/enums/links'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
import { RadioNames } from '../_scripts/_shared/_input-names'
import { DEFAULT_ANIMATION, DEFAULT_LISTS, DEFAULT_THEME, DEFAULT_INSTANT_RESULT, APP } from '../_scripts/_shared/_constant'
import { CButton } from '@/components/Button'
import { CList } from '@/components/List'
import { pxToRem } from '@/utils/css'
import { CSSClasses } from '../_styles/_css'
import { Commands } from '../_scripts/_shared/_commands'
import { AppCSSFontSizes, AppCSSColors } from '@/enums/app-data'

const animations: {
	value: PlatformAnimationMode
	text: string
	icon: number
}[] = [
	{
		value: PlatformAnimationMode.auto,
		text: 'Automatic',
		icon: IconCodes.videoClipOptimize
	},
	{
		value: PlatformAnimationMode.on,
		text: 'On',
		icon: IconCodes.videoClip
	},
	{
		value: PlatformAnimationMode.off,
		text: 'Off',
		icon: IconCodes.videoClipOff
	},
]
const themes: {
	value: PlatformThemeMode
	text: string
	icon: number
}[] = [
	{
		value: PlatformThemeMode.auto,
		text: 'Automatic',
		icon: IconCodes.laptopSettings
	},
	{
		value: PlatformThemeMode.light,
		text: 'Light',
		icon: IconCodes.weatherSunny
	},
	{
		value: PlatformThemeMode.dark,
		text: 'Dark',
		icon: IconCodes.weatherMoon
	},
]
---

<AppBar
	id={ElementIds.appbar}
	AppBarLeadingAttr={{class: CSSClasses.smallScreenOnly}}>
	<Fragment slot="leading">
		<IconButton
			class={CSSClasses.smallScreenOnly}
			id={ElementIds.ap_openDrawerBtn}
			IconButtonCode={IconCodes.lineHorizontal3}
		/>
	</Fragment>
	<Fragment slot="headline">
		<img
			src={APP.logoUrl}
			alt={APP.name + ' logo'}
			style={{
				width: pxToRem(24) + 'rem',
				marginLeft: pxToRem(4) + 'rem'
			}}
		/>
		{APP.name}
	</Fragment>
	<Tooltip slot="trailing">
		<div
			id={ElementIds.ap_generatorLocation}
			style={{display: 'contents'}}>
			<Button
				ButtonVariant={CButton.Variant.filled}
				class={CSSClasses.generateBtn}
				id={ElementIds.ap_generator}>
				<Icon IconCode={IconCodes.arrowSync}/>
				<div>Generate</div>
			</Button>
		</div>
		<IconButton
			id={ElementIds.apInf_btn}
			data-tooltip="Info"
			IconButtonCode={IconCodes.info}
			aria-label="Info"
			aria-haspopup="menu"
			aria-controls={ElementIds.apInf_menu}
			popovertarget={ElementIds.apInf_menu}
			aria-expanded="false"
		/>
		<Menu id={ElementIds.apInf_menu} PopoverAnchorBy={ElementIds.apInf_btn}>
			<MenuHeader>{APP.name}</MenuHeader>
			<MenuItem id={ElementIds.apInf_shareBtn}>
				<Icon IconCode={IconCodes.shareAndroid}/>
				Share
			</MenuItem>
			<LinkMenuItem href={'mailto:' + ExternalLinks.contactEmail + '?subject=' + encodeURI(APP.name)}>
				<Icon IconCode={IconCodes.chat}/>
				Send feedback
			</LinkMenuItem>
			<Divider />
			<LinkMenuItem href="/">
				<img src={logoRedmerah.src} style={{width: pxToRem(20) + 'rem'}}/>
				Redmerah
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.apps}>
				<Icon IconCode={IconCodes.apps}/>
				More apps
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.about}>
				<Icon IconCode={IconCodes.info}/>
				About us
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.privacy}>
				<Icon IconCode={IconCodes.shieldCheckmark}/>
				Privacy policy
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.terms}>
				<Icon IconCode={IconCodes.receipt}/>
				Terms & conditions
				<MenuIndent />
			</LinkMenuItem>
			<LinkMenuItem href={ExternalLinks.donate} LinkButtonNewTab>
				<Icon IconCode={IconCodes.gift}/>
				Donate
			</LinkMenuItem>
			<MenuHeader>&copy; {new Date().getFullYear()} Redmerah</MenuHeader>
		</Menu>

		<IconButton
			id={ElementIds.apSett_btn}
			data-tooltip="Settings"
			IconButtonCode={IconCodes.settings}
			aria-label="Settings"
			aria-haspopup="menu"
			aria-controls={ElementIds.apSett_menu}
			popovertarget={ElementIds.apSett_menu}
			aria-expanded="false"
		/>
		<Menu id={ElementIds.apSett_menu} PopoverAnchorBy={ElementIds.apSett_btn}>
			<SubMenuItem
				popovertarget={ElementIds.apSett_animationMenu}>
				<Icon IconCode={IconCodes.playCircleHint}/>
				Animation
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu style={{width: pxToRem(150) + 'rem'}} id={ElementIds.apSett_animationMenu}>
				{animations.map(v =>
					<RadioMenuItem
						RadioMenuItemName={RadioNames.animation}
						RadioMenuItemChecked={DEFAULT_ANIMATION === v.value}
						RadioMenuItemValue={v.value}>
						<Icon IconCode={v.icon}/>
						{v.text}
					</RadioMenuItem>
				)}
			</SubMenu>

			<SubMenuItem
				popovertarget={ElementIds.apSett_themeMenu}>
				<Icon IconCode={IconCodes.weatherSunny}/>
				Theme
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu style={{width: pxToRem(150) + 'rem'}} id={ElementIds.apSett_themeMenu}>
				{themes.map(v =>
					<RadioMenuItem
						RadioMenuItemName={RadioNames.theme}
						RadioMenuItemChecked={DEFAULT_THEME === v.value}
						RadioMenuItemValue={v.value}>
						<Icon IconCode={v.icon}/>
						{v.text}
					</RadioMenuItem>
				)}
			</SubMenu>

			<MenuItem id={ElementIds.apSett_listBtn}>
				<Icon IconCode={IconCodes.appsListDetail}/>
				Lists
				<MenuIndent/>
			</MenuItem>

			<Divider />
			<CheckMenuItem
				CheckMenuItemChecked={DEFAULT_INSTANT_RESULT}
				CheckMenuItemInputAttr={{id: ElementIds.apSett_instant}}>
				Instant result
				<MenuIndent/>
			</CheckMenuItem>
		</Menu>

		<IconButton
			IconButtonCode={IconCodes.copy}
			id={ElementIds.ap_copyBtn}
			aria-label="Copy result"
			data-tooltip="Copy result"
		/>
	</Tooltip>
</AppBar>
<Dialog id={ElementIds.apSett_listDialog} style={{width: pxToRem(512) + 'rem'}}>
	<Fragment slot="header">Lists</Fragment>
	<Tooltip>
		<ul
			id={ElementIds.apSett_list}
			style={{
				display: 'flex',
				flexDirection: 'column',
				gap: pxToRem(4) + 'rem'
			}}>
			{[...DEFAULT_LISTS].sort((a,b) => a.name.localeCompare(b.name)).map(v =>
				<List
					class={CSSClasses.listItem}
					ListTagName="li"
					ListVariant={CList.Variant.tonal}
					ListTrailingAttr={{style: {
						display: 'flex',
						alignItems: 'center',
						gap: pxToRem(1) + 'rem'
					}}}
					style={{paddingRight: pxToRem(4) + 'rem'}}
					data-list-id={v.id}>
					{v.name}
					<Icon
						style={`color:rgb(${AppCSSColors.accent})`}
						IconCode={IconCodes.textBulletListLtr}
						IconFilled
						slot="leading"
					/>
					<Fragment slot="subtitle">{v.items.length} items</Fragment>
					<Fragment slot="trailing">
						<IconButton
							aria-label="Edit"
							data-tooltip="Edit"
							IconButtonCode={IconCodes.edit}
							data-command={Commands.editList}
						/>
						<IconButton
							aria-label="Delete"
							data-tooltip="Delete"
							IconButtonCode={IconCodes.delete}
							data-command={Commands.deleteList}
						/>
					</Fragment>
				</List>
			)}
		</ul>
	</Tooltip>
	<form slot="footer" method="dialog" style="display:contents">
		<Button ButtonVariant={CButton.Variant.tonal}>Close</Button>
		<Button
			ButtonVariant={CButton.Variant.filled}
			id={ElementIds.apSett_listNew}>New</Button>
	</form>
</Dialog>
<Dialog id={ElementIds.apSett_listNewDialog} style={{width: pxToRem(512) + "rem"}}>
	<Fragment slot="header">New list</Fragment>
	<label for={ElementIds.apSett_listNewName}>Name:</label>
	<TextField
		TextFieldInputAttr={{
			id: ElementIds.apSett_listNewName,
		}}
		style={{'margin-top': pxToRem(2) + 'rem'}}
	/>

	<label
		style={{'margin-top': pxToRem(8) + 'rem'}}
		for={ElementIds.apSett_listNewItems}>Items:</label>
	<TextAreaField
		required
		id={ElementIds.apSett_listNewItems}
		style={{
			resize: 'none',
			'margin-top': pxToRem(2) + 'rem'
		}}
		rows="5"
	/>
	<p style={{
		fontSize: AppCSSFontSizes.xs,
		marginTop: pxToRem(8) + 'rem'
	}}>Each item separated by semicolon (;), tab or new line.</p>
	<form slot="footer" method="dialog" style="display:contents">
		<Button ButtonVariant={CButton.Variant.tonal}>Cancel</Button>
		<Button
			ButtonVariant={CButton.Variant.filled}
			id={ElementIds.apSett_listSave}>Save</Button>
	</form>
</Dialog>
<Dialog id={ElementIds.apSett_listDeleteDialog} style={{width: pxToRem(360) + 'rem'}}>
	<Fragment slot="header">Delete list</Fragment>
	<p>Are you sure want to delete this list?</p>
	<List
		style={{
			marginTop: pxToRem(8) + 'rem',
			borderWidth: pxToRem(2) + 'rem',
			borderColor: `rgb(${AppCSSColors.accent})`
		}}
		id={ElementIds.apSett_listDeleteItem}
		ListVariant={CList.Variant.outlined}>
		<Icon
			IconCode={IconCodes.textBulletListLtr}
			IconFilled
			slot="leading"
			style={`color:rgb(${AppCSSColors.accent})`}
		/>
	</List>
	<form slot="footer" method="dialog" style="display:contents">
		<Button ButtonVariant={CButton.Variant.tonal}>Cancel</Button>
		<Button
			ButtonVariant={CButton.Variant.filled}
			id={ElementIds.apSett_listDelete}>Delete</Button>
	</form>
</Dialog>
<Dialog id={ElementIds.ap_copyColorsDialog} style={{width: pxToRem(360) + 'rem'}}>
	<Fragment slot="header">Copy colors</Fragment>
	<CheckBox
		CheckBoxChecked
		CheckBoxInputAttr={{id: ElementIds.ap_copyColorsHex}}>Hex</CheckBox>
	<CheckBox
		style={{'margin-top': pxToRem(4) + 'rem'}}
		CheckBoxChecked
		CheckBoxInputAttr={{id: ElementIds.ap_copyColorsRgb}}>RGB</CheckBox>
	<CheckBox
		style={{'margin-top': pxToRem(4) + 'rem'}}
		CheckBoxChecked
		CheckBoxInputAttr={{id: ElementIds.ap_copyColorsHsl}}>HSL</CheckBox>
	<form slot="footer" method="dialog" style="display:contents">
		<Button ButtonVariant={CButton.Variant.tonal}>Cancel</Button>
		<Button
			ButtonVariant={CButton.Variant.filled}
			id={ElementIds.ap_copyColorsBtn}>Copy</Button>
	</form>
</Dialog>