---
import type { HEXColor } from '@/types/color'
import { RoutesLinks } from '@/enums/links'
import { APPS } from '@/constants/apps'
import { colorGeneratePalette } from '@/utils/color'
import { ICON_ARROW_RIGHT, ICON_DATABASE_PERSON, ICON_OPEN_FOLDER, ICON_SETTINGS_COG_MULTIPLE, ICON_SPARKLE } from '@/constants/icons'

import Html from '@/layouts/Html/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import LinkButton from '@/native-components/Button/LinkButton.astro'
import { ButtonVariant } from '@/native-components/Button'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import CSSAnimation from '@/styles/animation.module.scss'
import CSS from './_index.module.scss'

const features = [
	{
		title: 'Prioritize UI/UX & functionality',
		description: 'Experience the perfect blend of aesthetics and usability. Our apps offer a visually stunning interface that is easy to navigate and packed with features.',
		icon: ICON_SPARKLE
	},
	{
		title: 'Store data locally on your device',
		description: 'We respect your privacy. All your settings, preferences, and history are stored securely in your browser, not on our server. Your data, your control.',
		icon: ICON_DATABASE_PERSON
	},
	{
		title: 'Continue working offline',
		description: 'No internet connection? No problem! Our apps work seamlessly offline, ensuring you can stay productive wherever you are.',
		icon: ICON_SETTINGS_COG_MULTIPLE
	},
]

function color_app_background(color: HEXColor): string {
	const theme = colorGeneratePalette(color)
	return `--color-accent-light:${theme.color};--color-accent-dark:${theme.colorDark};`
}
---

<Html>
	<script is:inline src='/scripts/root-settings.min.js'/>
	<Appbar route={RoutesLinks.home}/>
	<div class={CSS.body}>
		<div class={CSS.header}>
			<h1>📱✅🔥🚀<br/>Discover a suite of powerful <span data-color=green>apps</span> designed to simplify your <span data-color=blue>tasks</span> and enhance your <span data-color=red>productivity</span>.</h1>
			<p>Whether you’re a developer, designer, or just someone who loves efficiency, our app has something for you.</p>
		</div>
		<main class={CSS.main}>
			<section class={CSS.apps}>
				{APPS.map((v, i) => <>{i < 3 && <div
					style={color_app_background(v.color)}>
					<img src={v.logoUrl} alt={v.name} />
					<h3>{v.name}</h3>
					<p>{v.description}</p>
					<LinkButton
						class={CSSAnimation.btn_scale_up_icon}
						LinkButtonVariant={ButtonVariant.outlined}
						href={v.link}>Open <Icon IconCode={ICON_OPEN_FOLDER}/></LinkButton>
				</div>}</>)}
			</section>
			<LinkButton
				class={[CSS.more_apps, CSSAnimation.btn_move_right_icon].join(' ')}
				LinkButtonVariant={ButtonVariant.filled}
				href={RoutesLinks.apps}>
				See more apps
				<Icon IconFilled IconCode={ICON_ARROW_RIGHT}/>
			</LinkButton>
			<section class={CSS.features}>
				<h2>Features</h2>
				{features.map(v => <div>
					<Icon IconCode={v.icon}/>
					<div>
						<h3>{v.title}</h3>
						<p>{v.description}</p>
					</div>
				</div>)}
			</section>
			<p id="quote" class={CSS.quote}><q>
				{ 'We are also users. What’s good for you, good for us too.'.split(' ').map(v => <><span>{v}</span> </>) }
			</q></p>
		</main>
		<BottomBar />
	</div>
</Html>

<script>
	import { isAnimationAllowed } from "@/utils/animation"

	const quote = document.getElementById('quote') as HTMLParagraphElement
	const spans = document.querySelectorAll<HTMLSpanElement>('#quote span')
	const observer = new IntersectionObserver((entries) => {
		if (!isAnimationAllowed()) return

		for (const entry of entries) {
			if (!entry.isIntersecting) continue;
			for (let i = 0; i < (spans as unknown as any[]).length; i++) {
				spans[i].animate([{
					transform: 'translateY(-0.4em)',
					offset: 0.5
				}], {
					duration: 1000,
					delay: i * 200,
					easing: 'cubic-bezier(.15, 0, 0, 1)',
					iterations: 1,
				})
			}
		}
	}, {
		root: null,
		threshold: 1.0
	})

	observer.observe(quote)
</script>