---
import type { HEXColor } from '@/types/color'
import { RoutesLinks } from '@/enums/links'
import { APPS } from '@/constants/apps'
import { hexToHsl } from '@/utils/color'
import Splash from '@/layouts/Splash/index.astro'
import Html from '@/layouts/Html/index.astro'
import Icon from '@/components/Icon/index.astro'
import LinkButton from '@/components/Button/LinkButton.astro'
import { ButtonVariant } from '@/components/Button'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import CSS from './_index.module.scss'
import { IconCodes } from '@/enums/icons'

const features = [
	{
		title: 'Prioritize UI/UX & functionality',
		description: 'Experience the perfect blend of aesthetics and usability. Our apps offer a visually stunning interface that is easy to navigate and packed with features.',
		icon: IconCodes.sparkle
	},
	{
		title: 'Store data locally on your device',
		description: 'We respect your privacy. All your settings, preferences, and history are stored securely in your browser, not on our server. Your data, your control.',
		icon: IconCodes.databasePerson
	},
	{
		title: 'Continue working offline',
		description: 'No internet connection? No problem! Our apps work seamlessly offline, ensuring you can stay productive wherever you are.',
		icon: IconCodes.settingsCogMultiple
	},
]

function color_app_background(color: HEXColor): string {
	const hsl = hexToHsl(color)
	return `--hue:${hsl.h * 360}`
}
---

<Html>
	<Splash>
		<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_536_18)">
				<rect y="10" width="8" height="22" rx="2" fill="#FF1414"/>
				<path d="M14.1504 19.4785C12.7754 18.4093 12.0879 17.8747 12.0142 17.4068C11.9505 17.0018 12.1036 16.5932 12.4224 16.3179C12.7906 16 13.6786 16 15.4544 16H29.9394C30.6607 16 31.0213 16 31.2968 16.1336C31.5391 16.251 31.7362 16.4385 31.8596 16.669C32 16.9311 32 17.2743 32 17.9605V29.2243C32 30.5454 32 31.2059 31.7161 31.5421C31.4693 31.8344 31.0954 32.0031 30.7013 32C30.2481 31.9963 29.7105 31.5783 28.6354 30.7423L14.1504 19.4785Z" fill="url(#paint0_linear_536_18)"/>
				<rect x="22" width="8" height="22" rx="2" transform="rotate(90 22 0)" fill="url(#paint1_linear_536_18)"/>
				<path d="M31.0477 3.02574C31.6985 2.0423 32.0239 1.55059 31.9986 1.14307C31.9766 0.788019 31.8005 0.460331 31.5166 0.246004C31.1908 0 30.6011 0 29.4219 0H11.9496C11.2672 0 10.926 0 10.6653 0.132816C10.436 0.249644 10.2496 0.43606 10.1328 0.665348C10 0.926014 10 1.26724 10 1.9497V28.3519C10 30.2994 10 31.2731 10.3413 31.6271C10.636 31.9329 11.0688 32.0632 11.4833 31.9709C11.9633 31.864 12.5007 31.052 13.5754 29.4279L31.0477 3.02574Z" fill="#FF1414"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_536_18" x1="32.7513" y1="31.9802" x2="8.79067" y2="11.6166" gradientUnits="userSpaceOnUse">
					<stop offset="0.388321" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<linearGradient id="paint1_linear_536_18" x1="25.9481" y1="22" x2="25.9481" y2="-6.43077" gradientUnits="userSpaceOnUse">
					<stop offset="0.239659" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<clipPath id="clip0_536_18">
					<rect width="32" height="32" fill="white"/>
				</clipPath>
			</defs>
		</svg>
	</Splash>
	<Appbar route={RoutesLinks.home}/>
	<div class={CSS.body}>
		<div class={CSS.header}>
			<svg height="56" viewBox="0 0 2408 512" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_819_3)">
					<rect x="128.062" y="452.163" width="434.657" height="108.664" rx="54.3321" transform="rotate(-45 128.062 452.163)" fill="url(#paint0_linear_819_3)"/>
					<rect x="204.899" y="529" width="289.771" height="108.664" rx="54.3321" transform="rotate(-135 204.899 529)" fill="#33FF88"/>
					<rect x="108.664" y="242.612" width="368.819" height="92.2046" rx="46.1023" transform="rotate(-45 108.664 242.612)" fill="url(#paint1_linear_819_3)"/>
					<rect x="173.863" y="307.81" width="245.879" height="92.2047" rx="46.1023" transform="rotate(-135 173.863 307.81)" fill="#33BBFF"/>
				</g>
				<rect x="632" width="512" height="512" rx="96" fill="url(#paint2_radial_819_3)"/>
				<rect x="968" y="448" width="112" height="112" rx="32" transform="rotate(-90 968 448)" fill="#FFEC58"/>
				<rect x="984" y="304" width="96" height="96" rx="32" transform="rotate(-90 984 304)" fill="#FF9544"/>
				<rect x="968" y="176" width="112" height="112" rx="32" transform="rotate(-90 968 176)" fill="#FFEC58"/>
				<rect x="840" y="448" width="96" height="96" rx="32" transform="rotate(-90 840 448)" fill="#38C6FF"/>
				<rect x="824" y="320" width="128" height="128" rx="32" transform="rotate(-90 824 320)" fill="#FFEC58"/>
				<rect x="840" y="160" width="96" height="96" rx="32" transform="rotate(-90 840 160)" fill="#38C6FF"/>
				<rect x="696" y="448" width="112" height="112" rx="32" transform="rotate(-90 696 448)" fill="#FF9544"/>
				<rect x="696" y="304" width="96" height="96" rx="32" transform="rotate(-90 696 304)" fill="#38C6FF"/>
				<rect x="696" y="176" width="112" height="112" rx="32" transform="rotate(-90 696 176)" fill="#FF9544"/>
				<g clip-path="url(#clip1_819_3)">
					<path d="M1550.23 226.775C1524.35 204.588 1468.1 176.203 1391.3 93.262C1386.43 87.9961 1377.71 89.2591 1374.81 95.8255C1344.92 163.6 1328 231.375 1328 299.15C1328 395.65 1390.44 477.675 1448.62 492.15C1499.27 504.75 1574.36 492.15 1622.61 439.075C1670.86 386 1584.01 255.725 1550.23 226.775Z" fill="url(#paint3_linear_819_3)"/>
					<path d="M1414.85 477.675C1472.7 514.491 1548.54 520.262 1593.37 501.8C1832.09 403.504 1663.35 88.9579 1546.41 6.90978C1541.11 3.18937 1533.93 5.97588 1531.58 12.0144C1491.36 115.647 1357.59 177.454 1337.65 260.55C1312.17 366.7 1361.77 443.9 1414.85 477.675Z" fill="url(#paint4_radial_819_3)"/>
				<g filter="url(#filter0_d_819_3)">
					<path d="M1665.75 405.3C1677.13 329.399 1624.16 183.54 1558.44 164.895C1556.26 164.275 1553.95 164.592 1551.94 165.635C1466.36 209.925 1402.27 310.971 1414.85 405.3C1427.58 500.771 1500.04 511.45 1555.06 511.45C1610.07 511.45 1655.62 472.85 1665.75 405.3Z" fill="url(#paint5_radial_819_3)"/>
				</g>
				</g>
				<g clip-path="url(#clip2_819_3)">
					<path d="M2057.81 197.511C2072.51 192.459 2086.59 206.536 2081.54 221.239L2037.83 348.439C2033.35 361.496 2016.73 365.337 2006.97 355.575L1923.47 272.082C1913.71 262.319 1917.55 245.705 1930.61 241.218L2057.81 197.511Z" fill="#FB3478"/>
					<path d="M2176.65 316.347C2191.35 311.294 2205.43 325.371 2200.38 340.074L2156.67 467.275C2152.18 480.332 2135.57 484.173 2125.8 474.411L2042.31 390.918C2032.55 381.155 2036.39 364.54 2049.45 360.054L2176.65 316.347Z" fill="#E5169D"/>
					<path d="M2377.85 20.0397C2425.25 67.44 2373.52 196.018 2262.31 307.226C2199.43 370.102 2131.01 413.964 2074.84 431.646C2062.76 435.448 2049.83 431.451 2040.88 422.499L1975.39 357.002C1966.43 348.051 1962.44 335.125 1966.24 323.05C1983.92 266.88 2027.78 198.451 2090.66 135.574C2201.87 24.3662 2330.45 -27.3604 2377.85 20.0397Z" fill="url(#paint6_linear_819_3)"/>
					<circle cx="2245.81" cy="152.08" r="46.6831" transform="rotate(45 2245.81 152.08)" fill="#6CBCFF" stroke="black" stroke-width="18.6733"/>
					<path d="M2377.85 20.0394C2403.04 45.231 2400.23 93.352 2375.37 149.608L2248.28 22.5101C2304.53 -2.34492 2352.65 -5.152 2377.85 20.0394Z" fill="url(#paint7_radial_819_3)"/>
					<path d="M2085.88 427.887C2082.15 429.248 2078.47 430.503 2074.84 431.646C2062.76 435.448 2049.83 431.451 2040.88 422.5L1975.39 357.002C1966.43 348.051 1962.44 335.125 1966.24 323.05C1967.38 319.417 1968.64 315.734 1970 312.004L2085.88 427.887Z" fill="#0061B3"/>
					<g filter="url(#filter1_d_819_3)">
						<path d="M2132.2 242.231C2146.64 237.643 2160.24 251.247 2155.65 265.683L2106.61 419.974C2102.37 433.312 2085.51 437.418 2075.61 427.521L1970.36 322.272C1960.47 312.376 1964.57 295.512 1977.91 291.272L2132.2 242.231Z" fill="url(#paint8_linear_819_3)"/>
					</g>
					<path d="M1996.19 404.282C2033.7 443.178 2011.9 484.85 1902.17 498.302C1902.16 498.423 1900.7 498.369 1900.68 498.489C1900.81 498.475 1900.75 497.021 1900.88 497.007C1914.31 387.222 1954.77 364.215 1994.9 402.986C1995.11 403.199 1995.34 403.392 1995.55 403.605C1995.77 403.822 1995.97 404.062 1996.19 404.282Z" fill="url(#paint9_radial_819_3)"/>
				</g>
				<defs>
					<filter id="filter0_d_819_3" x="1373.27" y="124.579" width="318.027" height="410.87" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset dx="-8" dy="-8"/>
						<feGaussianBlur stdDeviation="16"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_819_3"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_819_3" result="shape"/>
					</filter>
					<filter id="filter1_d_819_3" x="1932.89" y="209.325" width="255.675" height="255.675" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="16"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_819_3"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_819_3" result="shape"/>
					</filter>
					<linearGradient id="paint0_linear_819_3" x1="128.062" y1="506.495" x2="562.719" y2="506.495" gradientUnits="userSpaceOnUse">
						<stop offset="0.240385" stop-color="#00CC56"/>
						<stop offset="1" stop-color="#33FF89"/>
					</linearGradient>
					<linearGradient id="paint1_linear_819_3" x1="108.664" y1="288.714" x2="477.483" y2="288.714" gradientUnits="userSpaceOnUse">
						<stop offset="0.25" stop-color="#0088CC"/>
						<stop offset="1" stop-color="#33BBFF"/>
					</linearGradient>
					<radialGradient id="paint2_radial_819_3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1280 -128) rotate(135.356) scale(910.771)">
						<stop stop-color="#6B70BC"/>
						<stop offset="1" stop-color="#48325F"/>
					</radialGradient>
					<linearGradient id="paint3_linear_819_3" x1="1347.3" y1="96.4999" x2="1566" y2="391" gradientUnits="userSpaceOnUse">
						<stop stop-color="#FFBB32"/>
						<stop offset="1" stop-color="#FFFF33"/>
					</linearGradient>
					<radialGradient id="paint4_radial_819_3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1699.52 386) rotate(-144.708) scale(341.849 236.934)">
						<stop stop-color="#FFAA00"/>
						<stop offset="1" stop-color="#FF3F33"/>
					</radialGradient>
					<radialGradient id="paint5_radial_819_3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1656.1 550.049) rotate(-105.668) scale(410.919 291.367)">
						<stop offset="0.5375" stop-color="#FFFF32"/>
						<stop offset="1" stop-color="#FFAA00"/>
					</radialGradient>
					<linearGradient id="paint6_linear_819_3" x1="2344" y1="376.005" x2="2096" y2="144.003" gradientUnits="userSpaceOnUse">
						<stop stop-color="#A3A3A3"/>
						<stop offset="0.64" stop-color="#E6E6E6"/>
					</linearGradient>
					<radialGradient id="paint7_radial_819_3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(2380 150) rotate(-127.255) scale(178.404 160.233)">
						<stop stop-color="#FF00AA"/>
						<stop offset="0.863899" stop-color="#FE3434"/>
					</radialGradient>
					<linearGradient id="paint8_linear_819_3" x1="2064" y1="264" x2="2112" y2="416" gradientUnits="userSpaceOnUse">
						<stop stop-color="#FF4747"/>
						<stop offset="1" stop-color="#FF00AA"/>
					</linearGradient>
					<radialGradient id="paint9_radial_819_3" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1976 416) rotate(132.561) scale(111.687 78.5383)">
						<stop stop-color="#FFCC32"/>
						<stop offset="1" stop-color="#F2473C"/>
					</radialGradient>
					<clipPath id="clip0_819_3">
						<rect width="512" height="512" fill="white"/>
					</clipPath>
					<clipPath id="clip1_819_3">
						<rect width="512" height="512" fill="white" transform="translate(1264)"/>
					</clipPath>
					<clipPath id="clip2_819_3">
						<rect width="512" height="512" fill="white" transform="translate(1896)"/>
					</clipPath>
				</defs>
			</svg>
			<h1><span data-color=green>Tasks</span>, <span data-color=blue>Apps</span>, and <span data-color=red>Productivity</span>.</h1>
			<p>Discover a suite of powerful apps designed to simplify your tasks and enhance your productivity. Whether you’re a developer, designer, or just someone who loves efficiency, our app has something for you.</p>
		</div>
		<main class={CSS.main}>
			<section class={CSS.apps}>
				{APPS.map((v, i) => <>{i < 3 && <div
					style={color_app_background(v.color)}>
					<img src={v.logoUrl} alt={v.name} />
					<h3>{v.name}</h3>
					<p>{v.description}</p>
					<LinkButton
						LinkButtonVariant={ButtonVariant.outlined}
						href={v.link}>Open <Icon IconCode={IconCodes.openFolder}/></LinkButton>
				</div>}</>)}
			</section>
			<LinkButton
				class={[CSS.more_apps].join(' ')}
				LinkButtonVariant={ButtonVariant.filled}
				href={RoutesLinks.apps}>
				See more apps
				<Icon IconFilled IconCode={IconCodes.arrowRight}/>
			</LinkButton>
			<section class={CSS.features}>
				<h2>Features</h2>
				{features.map(v => <div>
					<Icon IconCode={v.icon}/>
					<div>
						<h3>{v.title}</h3>
						<p>{v.description}</p>
					</div>
				</div>)}
			</section>
			<p id="quote" class={CSS.quote}><q>
				{ 'We are also users. What’s good for you, good for us too.'.split(' ').map(v => <><span>{v}</span> </>) }
			</q></p>
		</main>
		<BottomBar />
	</div>
</Html>

<script>
	import { isAnimationAllowed } from "@/utils/animation"
	import { removeSplashScreen } from "@/utils/splash"

	const quote = document.getElementById('quote') as HTMLParagraphElement
	const spans = document.querySelectorAll<HTMLSpanElement>('#quote span')
	const observer = new IntersectionObserver((entries) => {
		if (!isAnimationAllowed()) return

		for (const entry of entries) {
			if (!entry.isIntersecting) continue;
			for (let i = 0; i < (spans as unknown as any[]).length; i++) {
				spans[i].animate([{
					transform: 'translateY(-0.4em)',
					offset: 0.5
				}], {
					duration: 1000,
					delay: i * 200,
					easing: 'cubic-bezier(.15, 0, 0, 1)',
					iterations: 1,
				})
			}
		}
	}, {
		root: null,
		threshold: 1.0
	})

	observer.observe(quote)
	removeSplashScreen()
</script>