---
import type { HEXColor } from '@/types/color'
import { RoutesLinks } from '@/enums/links'
import { APPS } from '@/constants/apps'
import { hexToHsl } from '@/utils/color'
import Splash from '@/layouts/Splash/index.astro'
import Html from '@/layouts/Html/index.astro'
import Icon from '@/components/Icon/index.astro'
import LinkButton from '@/components/Button/LinkButton.astro'
import { ButtonVariant } from '@/components/Button'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import CSS from './_index.module.scss'
import { IconCodes } from '@/enums/icons'
import { pxToRem } from '@/utils/css'

const features = [
	{
		title: 'Prioritize UI/UX & Functionality',
		description: 'Experience the perfect blend of aesthetics and usability. Our apps offer a visually stunning interface that is easy to navigate and packed with features.',
		icon: IconCodes.sparkle
	},
	{
		title: 'Store Data Locally on Your Device',
		description: 'We respect your privacy. All your settings, preferences, and history are stored securely in your browser, not on our server. Your data, your control.',
		icon: IconCodes.databasePerson
	},
	{
		title: 'Continue Working Offline',
		description: 'No internet connection? No problem! Our apps work seamlessly offline, ensuring you can stay productive wherever you are.',
		icon: IconCodes.settingsCogMultiple
	},
]

function color_app_background(color: HEXColor): string {
	const hsl = hexToHsl(color)
	return `--hue:${hsl.h * 360}`
}
---

<Html>
	<Splash>
		<svg style={{width: pxToRem(32) + 'rem'}} viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_536_18)">
				<rect y="10" width="8" height="22" rx="2" fill="#FF1414"/>
				<path d="M14.1504 19.4785C12.7754 18.4093 12.0879 17.8747 12.0142 17.4068C11.9505 17.0018 12.1036 16.5932 12.4224 16.3179C12.7906 16 13.6786 16 15.4544 16H29.9394C30.6607 16 31.0213 16 31.2968 16.1336C31.5391 16.251 31.7362 16.4385 31.8596 16.669C32 16.9311 32 17.2743 32 17.9605V29.2243C32 30.5454 32 31.2059 31.7161 31.5421C31.4693 31.8344 31.0954 32.0031 30.7013 32C30.2481 31.9963 29.7105 31.5783 28.6354 30.7423L14.1504 19.4785Z" fill="url(#paint0_linear_536_18)"/>
				<rect x="22" width="8" height="22" rx="2" transform="rotate(90 22 0)" fill="url(#paint1_linear_536_18)"/>
				<path d="M31.0477 3.02574C31.6985 2.0423 32.0239 1.55059 31.9986 1.14307C31.9766 0.788019 31.8005 0.460331 31.5166 0.246004C31.1908 0 30.6011 0 29.4219 0H11.9496C11.2672 0 10.926 0 10.6653 0.132816C10.436 0.249644 10.2496 0.43606 10.1328 0.665348C10 0.926014 10 1.26724 10 1.9497V28.3519C10 30.2994 10 31.2731 10.3413 31.6271C10.636 31.9329 11.0688 32.0632 11.4833 31.9709C11.9633 31.864 12.5007 31.052 13.5754 29.4279L31.0477 3.02574Z" fill="#FF1414"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_536_18" x1="32.7513" y1="31.9802" x2="8.79067" y2="11.6166" gradientUnits="userSpaceOnUse">
					<stop offset="0.388321" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<linearGradient id="paint1_linear_536_18" x1="25.9481" y1="22" x2="25.9481" y2="-6.43077" gradientUnits="userSpaceOnUse">
					<stop offset="0.239659" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<clipPath id="clip0_536_18">
					<rect width="32" height="32" fill="white"/>
				</clipPath>
			</defs>
		</svg>
	</Splash>
	<Appbar route={RoutesLinks.home}/>
	<div class={CSS.body}>
		<div class={CSS.header}>
			<h1><span data-color=green>Tasks</span>, <span data-color=blue>Apps</span>, and <span data-color=red>Productivity</span>.</h1>
			<p>Discover a suite of powerful apps designed to simplify your tasks and enhance your productivity. Whether you’re a developer, designer, or just someone who loves efficiency, our app has something for you.</p>
		</div>
		<main class={CSS.main}>
			<section class={CSS.apps}>
				{APPS.map((v, i) => <>{i < 3 && <div
					style={color_app_background(v.color)}>
					<img src={v.logoUrl} alt={v.name} />
					<h3>{v.name}</h3>
					<p>{v.description}</p>
					<LinkButton
						LinkButtonVariant={ButtonVariant.outlined}
						href={v.link}>Open <Icon IconCode={IconCodes.openFolder}/></LinkButton>
				</div>}</>)}
			</section>
			<LinkButton
				class={[CSS.more_apps].join(' ')}
				LinkButtonVariant={ButtonVariant.filled}
				href={RoutesLinks.apps}>
				See more apps
				<Icon IconFilled IconCode={IconCodes.arrowRight}/>
			</LinkButton>
			<section class={CSS.features}>
				<h2>Features</h2>
				{features.map(v => <div>
					<Icon IconCode={v.icon}/>
					<div>
						<h3>{v.title}</h3>
						<p>{v.description}</p>
					</div>
				</div>)}
			</section>
			<p id="quote" class={CSS.quote}><q>
				{ 'We are also users. What’s good for you, good for us too.'.split(' ').map(v => <><span>{v}</span> </>) }
			</q></p>
		</main>
		<BottomBar />
	</div>
</Html>

<script>
	import { isAnimationAllowed } from "@/utils/animation"
	import { removeSplashScreen } from "@/utils/splash"

	const quote = document.getElementById('quote') as HTMLParagraphElement
	const spans = document.querySelectorAll<HTMLSpanElement>('#quote span')
	const observer = new IntersectionObserver((entries) => {
		if (!isAnimationAllowed()) return

		for (const entry of entries) {
			if (!entry.isIntersecting) continue;
			for (let i = 0; i < (spans as unknown as any[]).length; i++) {
				spans[i].animate([{
					transform: 'translateY(-0.4em)',
					offset: 0.5
				}], {
					duration: 1000,
					delay: i * 200,
					easing: 'cubic-bezier(.15, 0, 0, 1)',
					iterations: 1,
				})
			}
		}
	}, {
		root: null,
		threshold: 1.0
	})

	observer.observe(quote)
	removeSplashScreen()
</script>