---
import { RoutesLinks } from '@/enums/links';
import type { HEXColor } from '@/types/color';
import { HEX_to_RGB } from '@/utils/color';
import { apps } from '@/constants/apps';
import logo from '@/assets/logo.svg';

import Html from '@/layouts/Html/index.astro';
import Icon from '@/components/Icon/index.astro';
import LinkButton from '@/components/Button/LinkButton.astro';
import { ButtonVariant } from '@/components/Button';
import Appbar from '@/layouts/Appbar/index.astro';
import BottomBar from '@/layouts/BottomBar/index.astro';
import Splash from '@/layouts/Splash/index.astro';
import CSSAnimation from '@/styles/animation.module.scss'
import CSS from './_index.module.scss'

const features = [
	{
		title: 'Prioritize UI/UX & functionality',
		description: 'Experience the perfect blend of aesthetics and usability. Our apps offer a visually stunning interface that is easy to navigate and packed with features.',
		icon: 0xEECB
	},
	{
		title: 'Store data locally on your device',
		description: 'We respect your privacy. All your settings, preferences, and history are stored securely in your browser, not on our server. Your data, your control.',
		icon: 0xE58D
	},
	{
		title: 'Continue working offline',
		description: 'No internet connection? No problem! Our apps work seamlessly offline, ensuring you can stay productive wherever you are.',
		icon: 0xEE13
	},
]

function colorAppBackground(color: HEXColor): string {
	const rgb = HEX_to_RGB(color)
	return `rgba(${rgb.r},${rgb.g},${rgb.b},.24)`
}
---

<Html componentCount={2}>
	<Appbar />
	<div class={CSS.body}>
		<div class={CSS.header}>
			<h1>📱✅🔥🚀<br/>Discover a suite of powerful <span data-color=green>apps</span> designed to simplify your <span data-color=blue>tasks</span> and enhance your <span data-color=red>productivity</span></h1>
			<p>Whether you’re a developer, designer, or just someone who loves efficiency, our app has something for you.</p>
		</div>
		<main class={CSS.main}>
			<section class={CSS.apps}>
				{apps.map((v, i) => <>{i < 3 && <div
					style={{backgroundColor: colorAppBackground(v.color)}}>
					<img src={v.logoURL} alt={v.name} />
					<h3>{v.name}</h3>
					<p>{v.description}</p>
					<LinkButton classList={[CSSAnimation.btn_scale_up_icon]} variant={ButtonVariant.outlined} href={v.link}>Open <Icon filled code={0xEB51}/></LinkButton>
				</div>}</>)}
			</section>
			<LinkButton
				classList={[CSS.more_apps, CSSAnimation.btn_move_right_icon]}
				variant={ButtonVariant.filled}
				href={RoutesLinks.apps}>
				See more apps
				<Icon filled code={0xE115}/>
			</LinkButton>
			<section class={CSS.features}>
				<h2>Features</h2>
				{features.map(v => <div>
					<Icon code={v.icon}/>
					<div>
						<h3>{v.title}</h3>
						<p>{v.description}</p>
					</div>
				</div>)}
			</section>
			<p id="quote" class={CSS.quote}><q>
				{ 'We are also users. What’s good for you, good for us too.'.split(' ').map(v => <><span>{v}</span> </>) }
			</q></p>
		</main>
		<BottomBar />
	</div>
	<Splash src={logo.src} alt={`Redmerah splash icon`} />
</Html>

<script is:inline src='/scripts/theme.js'/>
<script is:inline src='/scripts/platform.js'/>
<script>
	import { getElementById, querySelectorAll } from "@/utils/element"
	import { _length, _isIntersecting, _animate, _observe, _onload } from '@/constants/string'

	const quote = getElementById('quote') as HTMLParagraphElement
	const spans = querySelectorAll<HTMLSpanElement>('#quote span')
	const viewObserver = new IntersectionObserver((entries) => {
		for (const entry of entries) {
			if (!entry[_isIntersecting]) continue;
			for (let i = 0; i < spans[_length]; i++) {
				spans[i][_animate]([{
					transform: 'translateY(-0.4em)',
					offset: 0.5
				}], {
					duration: 1000,
					delay: i * 200,
					easing: 'cubic-bezier(.15, 0, 0, 1)',
					iterations: 1,
				})
			}
		}
	}, {
		root: null,
		threshold: 1.0
	})

	viewObserver[_observe](quote)
</script>