---
import { RoutesLinks } from '@/enums/links'
import type { HEXColor } from '@/types/color'
import { hex_to_rgb } from '@/utils/color'
import { apps } from '@/constants/apps'
import logo from '@/assets/logo.svg'

import Html from '@/layouts/Html/index.astro'
import Icon from '@/components/Icon/index.astro'
import LinkButton from '@/components/Button/LinkButton.astro'
import { ButtonVariant } from '@/components/Button'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import Splash from '@/layouts/Splash/index.astro'
import CSSAnimation from '@/styles/animation.module.scss'
import CSS from './_index.module.scss'
import { math_round } from '@/utils/math'
import { ICON_ARROW_RIGHT, ICON_DATABASE_PERSON, ICON_OPEN, ICON_SETTINGS_COG_MULTIPLE, ICON_SPARKLE } from '@/constants/icons'

const features = [
	{
		title: 'Prioritize UI/UX & functionality',
		description: 'Experience the perfect blend of aesthetics and usability. Our apps offer a visually stunning interface that is easy to navigate and packed with features.',
		icon: ICON_SPARKLE
	},
	{
		title: 'Store data locally on your device',
		description: 'We respect your privacy. All your settings, preferences, and history are stored securely in your browser, not on our server. Your data, your control.',
		icon: ICON_DATABASE_PERSON
	},
	{
		title: 'Continue working offline',
		description: 'No internet connection? No problem! Our apps work seamlessly offline, ensuring you can stay productive wherever you are.',
		icon: ICON_SETTINGS_COG_MULTIPLE
	},
]

function color_app_background(color: HEXColor): string {
	const rgb = hex_to_rgb(color)
	return `rgba(${math_round(rgb.r * 0xff)},${math_round(rgb.g * 0xff)},${math_round(rgb.b * 0xff)},.24)`
}
---

<Html component_count={2}>
	<script is:inline src='/scripts/theme.js'/>
	<script is:inline src='/scripts/platform.js'/>
	<Splash src={logo.src} alt={`Redmerah splash icon`} />
	<Appbar />
	<div class={CSS.body}>
		<div class={CSS.header}>
			<h1>📱✅🔥🚀<br/>Discover a suite of powerful <span data-color=green>apps</span> designed to simplify your <span data-color=blue>tasks</span> and enhance your <span data-color=red>productivity</span></h1>
			<p>Whether you’re a developer, designer, or just someone who loves efficiency, our app has something for you.</p>
		</div>
		<main class={CSS.main}>
			<section class={CSS.apps}>
				{apps.map((v, i) => <>{i < 3 && <div
					style={{backgroundColor: color_app_background(v.color)}}>
					<img src={v.logo_url} alt={v.name} />
					<h3>{v.name}</h3>
					<p>{v.description}</p>
					<LinkButton classList={[CSSAnimation.btn_scale_up_icon]} variant={ButtonVariant.outlined} href={v.link}>Open <Icon filled code={ICON_OPEN}/></LinkButton>
				</div>}</>)}
			</section>
			<LinkButton
				classList={[CSS.more_apps, CSSAnimation.btn_move_right_icon]}
				variant={ButtonVariant.filled}
				href={RoutesLinks.apps}>
				See more apps
				<Icon filled code={ICON_ARROW_RIGHT}/>
			</LinkButton>
			<section class={CSS.features}>
				<h2>Features</h2>
				{features.map(v => <div>
					<Icon code={v.icon}/>
					<div>
						<h3>{v.title}</h3>
						<p>{v.description}</p>
					</div>
				</div>)}
			</section>
			<p id="quote" class={CSS.quote}><q>
				{ 'We are also users. What’s good for you, good for us too.'.split(' ').map(v => <><span>{v}</span> </>) }
			</q></p>
		</main>
		<BottomBar />
	</div>
</Html>

<script>
	import { element_animate, element_by_id, element_all_by_selector } from "@/utils/element"
	import { array_length } from "@/utils/array"

	const quote = element_by_id('quote') as HTMLParagraphElement
	const spans = element_all_by_selector<HTMLSpanElement>('#quote span')
	const observer = new IntersectionObserver((entries) => {
		for (const entry of entries) {
			if (!entry.isIntersecting) continue;
			for (let i = 0; i < array_length(spans as unknown as any[]); i++) {
				element_animate(spans[i], [{
					transform: 'translateY(-0.4em)',
					offset: 0.5
				}], {
					duration: 1000,
					delay: i * 200,
					easing: 'cubic-bezier(.15, 0, 0, 1)',
					iterations: 1,
				})
			}
		}
	}, {
		root: null,
		threshold: 1.0
	})

	observer.observe(quote)
</script>