---
import SideBar from '@/native-components/SideBar/index.astro'
import Drawer from '@/native-components/Drawer/index.astro'
import Button from '@/native-components/Button/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import DrawerButton from '@/native-components/Drawer/DrawerButton.astro'
import SideBarButton from '@/native-components/SideBar/SideBarButton.astro'
import { ButtonVariant } from '@/native-components/Button'
import { ID, ElementIds } from '../_scripts/_enums'
import { ICON_LINE_HORIZONTAL_3 } from '@/constants/icons'
import CSS from '../_index.module.scss'

const items: {
	name: string
	selected: boolean
	controls: string
}[] = [
	{
		name: 'Buttons',
		controls: ID + ElementIds.panelButtons,
		selected: false,
	},
	{
		name: 'CheckBox',
		controls: ID + ElementIds.panelCheckbox,
		selected: false
	},
	{
		name: 'TextField',
		controls: ID + ElementIds.panelTextfield,
		selected: false
	},
	{
		name: 'ColorPicker',
		controls: ID + ElementIds.panelColorpicker,
		selected: false
	},
	{
		name: 'Icon',
		controls: ID + ElementIds.panelIcon,
		selected: false
	},
	{
		name: 'List',
		controls: ID + ElementIds.panelList,
		selected: false
	},
	{
		name: 'Popover',
		controls: ID + ElementIds.panelPopover,
		selected: false
	},
	{
		name: 'Modal',
		controls: ID + ElementIds.panelModal,
		selected: false
	},
	{
		name: 'Select',
		controls: ID + ElementIds.panelSelect,
		selected: false
	},
	{
		name: 'Tooltip',
		controls: ID + ElementIds.panelTooltip,
		selected: false
	},
	{
		name: 'Menu',
		controls: ID + ElementIds.panelMenu,
		selected: false
	},
	{
		name: 'EmojiPicker',
		controls: ID + ElementIds.panelEmojipicker,
		selected: false
	},
	{
		name: 'Drawer',
		controls: ID + ElementIds.panelDrawer,
		selected: false
	},
	{
		name: 'Dialog',
		controls: ID + ElementIds.panelDialog,
		selected: false
	},
	{
		name: 'DatePicker',
		controls: ID + ElementIds.panelDatePicker,
		selected: true
	},
].sort((a, b) => a.name.localeCompare(b.name))
---

<SideBar
	class={CSS.sidebar}
	role="tablist"
	id={ID + ElementIds.navigationSideBar}
	aria-label="Navigation">
	{items.map(v => <SideBarButton
		role="tab"
		aria-selected={v.selected}
		aria-controls={v.controls}
		SideBarButtonSelected={v.selected}
		ButtonVariant={v.selected ? ButtonVariant.tonal : undefined}>
		{v.name}
	</SideBarButton>)}
</SideBar>
<Drawer
	id={ID + ElementIds.navigationDrawer}
	aria-label="Navigation">
	<Button
		slot="header"
		style="width:min-content"
		popovertarget={ID + ElementIds.navigationDrawer}
		popovertargetaction="hide">
		<Icon IconCode={ICON_LINE_HORIZONTAL_3}/>
	</Button>
	{items.map(v => <DrawerButton
		aria-selected={v.selected}
		aria-controls={v.controls}
		DrawerButtonSelected={v.selected}
		ButtonVariant={v.selected ? ButtonVariant.tonal : undefined}>
		{v.name}
	</DrawerButton>)}
</Drawer>