---
import Popover from '@/components/Popover/index.astro'
import Button from '@/components/Button/index.astro'
import Divider from '@/components/Divider/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import { IconCodes } from '@/enums/icons'
import { CButton } from '../Button'
import './index.scss'
import { type DatePickerProps, CDatePicker } from '.'
import { joinClassList } from '@/utils/attributes'

type Props = DatePickerProps
const {
	'class': className,
	DatePickerStartDate = new Date(-864000000000000),
	DatePickerEndDate = new Date(864000000000000),
	DatePickerValue,
	DatePickerHeaderAttr,
	DatePickerTitleAttr,
	DatePickerPreviousAttr,
	DatePickerNextAttr,
	DatePickerDaysAttr,
	DatePickerDayAttr = [],
	DatePickerDividerAttr,
	DatePickerYearAttr,
	DatePickerYearButtonAttr = [],
	DatePickerMonthAttr,
	DatePickerMonthButtonAttr = [],
	DatePickerDateAttr,
	DatePickerDateEmptyAttr = [],
	DatePickerDateButtonAttr = [],
	DatePickerContentAttr,
	...other
} = Astro.props
const {'class': headerClass, ...headerOther} = DatePickerHeaderAttr ?? {}
const {'class': titleClass, ButtonVariant: titleVariant = CButton.Variant.Filled, ...titleOther} = DatePickerTitleAttr ?? {}
const {
	'class': previousClass,
	ButtonVariant: previousVariant = CButton.Variant.Tonal,
	IconButtonCode: previousIconCode = IconCodes.ChevronLeft,
	...previousOther
} = DatePickerPreviousAttr ?? {}
const {
	'class': nextClass,
	ButtonVariant: nextVariant = CButton.Variant.Tonal,
	IconButtonCode: nextIconCode = IconCodes.ChevronRight,
	...nextOther
} = DatePickerNextAttr ?? {}
const {'class': daysClass, ...daysOther} = DatePickerDaysAttr ?? {}
const {'class': dividerClass, ...dividerOther} = DatePickerDividerAttr ?? {}
const {'class': yearClass, ...yearOther} = DatePickerYearAttr ?? {}
const {'class': monthClass, ...monthOther} = DatePickerMonthAttr ?? {}
const {'class': dateClass, ...dateOther} = DatePickerDateAttr ?? {}
const {'class': contentClass, ...contentOther} = DatePickerContentAttr ?? {}

const cls = CDatePicker.Classes
---

<Popover
	class={joinClassList(cls.Datepicker, className)}
	data-c-datepicker-start={DatePickerStartDate.toISOString()}
	data-c-datepicker-end={DatePickerEndDate?.toISOString()}
	data-c-datepicker-value={DatePickerValue?.toISOString()}
	data-c-datepicker-viewtype={CDatePicker.ViewType.Day}
	{...other}>
	<div
		class={joinClassList(cls.Header, headerClass)}
		{...headerOther}>
		<Button
			ButtonVariant={titleVariant}
			class={joinClassList(cls.Title, titleClass)}
			{...titleOther}>
			January 2025
		</Button>
		<IconButton
			ButtonVariant={previousVariant}
			class={joinClassList(cls.Previous, previousClass)}
			IconButtonCode={previousIconCode}
			{...previousOther}
		/>
		<IconButton
			ButtonVariant={nextVariant}
			class={joinClassList(cls.Next, nextClass)}
			IconButtonCode={nextIconCode}
			{...nextOther}
		/>
	</div>
	<Divider
		class={joinClassList(cls.Divider, dividerClass)}
		{...dividerOther}
	/>
	<div
		class={joinClassList(cls.Days, daysClass)}
		{...daysOther}>
		{['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].map((v, i) => {
			const {
				'class': className,
				'data-tooltip': tooltip = v,
				...other
			} = DatePickerDayAttr[i] ?? {}
			return <span
				class={joinClassList(cls.Day, className)}
				data-tooltip={tooltip}
				{...other}>
				{v.substring(0, 3)}
			</span>
		})}
	</div>
	<div
		class={joinClassList(cls.Year, yearClass)}
		{...yearOther}>
		{Array(16).fill(2025).map((v, i) => {
			const {
				'class': className,
				...other
			} = DatePickerYearButtonAttr[i] ?? {}
			return <Button
				class={joinClassList(cls.YearButton, className)}
				{...other}>
				{v + i}
			</Button>
		})}
	</div>
	<div
		class={joinClassList(cls.Month, monthClass)}
		{...monthOther}>
		{[
			'January', 'February', 'March', 'April',
			'May', 'June', 'July', 'August', 'September',
			'October', 'November', 'December'].map((v, i) =>
		{
			const {'class': className, ...other} = DatePickerMonthButtonAttr[i] ?? {}
			return <Button
				class={joinClassList(cls.MonthButton, className)}
				{...other}>
				{v}
			</Button>
		})}
	</div>
	<div
		class={joinClassList(cls.Date, dateClass)}
		{...dateOther}>
		{Array(6).fill(0).map((_, i) => {
			const {'class': className, ...other} = DatePickerDateEmptyAttr[i] ?? {}
			return (<div
				class={joinClassList(cls.DateEmpty, className)}
				{...other}
			/>)
		})}
		{Array(31).fill(0).map((_, i) => {
			const {
				'class': className,
				...other
			} = DatePickerDateButtonAttr[i] ?? {}
			return <Button
				class={joinClassList(cls.DateButton, className)}
				{...other}>
				{i + 1}
			</Button>
		})}
	</div>
	<div
		class={joinClassList(cls.Content, contentClass)}
		{...contentOther}><slot /></div>
</Popover>
<script>
	import { CDatePicker } from '.'
	CDatePicker.register()
</script>