---
import UIClock from './_pages/_UIClock.astro'
import UITimer from './_pages/_UITimer.astro'
import UIStopwatch from './_pages/_UIStopwatch.astro'
import Dialog from '@/native-components/Dialog/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import Button from '@/native-components/Button/index.astro'
import Toast from '@/native-components/Toast/index.astro'
import { CSSClasses } from "../_styles/_css"
import { ElementIds } from '../_scripts/_shared/_ids'
import { IconCodes } from '@/enums/icons'
import { ButtonVariant } from '@/native-components/Button'
---

<main class={CSSClasses.body}>
	<UIClock />
	<UITimer />
	<UIStopwatch />
	<Dialog id={ElementIds.bdDlg_wakeLockError} style="width:360px">
		<Fragment slot="header">
			<Icon IconCode={IconCodes.warning} style="font-size:32px"/>
			Keep Awake Error
		</Fragment>
		<p>
			There was a problem preventing the screen from staying on. This might be because of a browser error, a permission block, or battery saver being active.
		</p>
		<form style="display:contents" slot="footer" method="dialog">
			<Button ButtonVariant={ButtonVariant.filled}>Close</Button>
		</form>
	</Dialog>
	<Toast id={ElementIds.toa_copied}>
		<Icon slot="leading" IconCode={IconCodes.copy}/>
		Copied
	</Toast>
</main>