---
import SideBar from '@/native-components/SideBar/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import Drawer from '@/native-components/Drawer/index.astro'
import DrawerButton from '@/native-components/Drawer/DrawerButton.astro'
import Button from '@/native-components/Button/index.astro'
import SideBarButton from '@/native-components/SideBar/SideBarButton.astro'
import { ButtonVariant } from '@/native-components/Button'
import { IconCodes } from '@/enums/icons'
import { CSSClasses } from '../_styles/_css'
import { Pages } from '../_scripts/_shared/_enums'
import { ElementIds } from '../_scripts/_shared/_ids'

const items: {
	icon: number
	name: string
	page: Pages
	selected: boolean
	controls: string
}[] = [
	{
		icon: IconCodes.clock,
		name: 'Clock',
		page: Pages.clock,
		controls: ElementIds.bodyClock,
		selected: true
	},
	{
		icon: IconCodes.timer,
		name: 'Stopwatch',
		page: Pages.stopwatch,
		controls: ElementIds.bodyStopwatch,
		selected: false,
	},
	{
		icon: IconCodes.hourglass,
		name: 'Timer',
		page: Pages.timer,
		controls: ElementIds.bodyTimer,
		selected: false,
	},
]
---

<SideBar
	role="tablist"
	class={CSSClasses.navigationSideBar}
	id={ElementIds.navigationSideBar}
	aria-label="Navigation">
	<Tooltip>
		{items.map(v => <SideBarButton
			role="tab"
			style="padding-left: 10px"
			data-page={v.page}
			aria-selected={v.selected}
			aria-controls={v.controls}
			SideBarButtonSelected={v.selected}
			ButtonVariant={v.selected ? ButtonVariant.tonal : undefined}>
			<Icon
				slot="leading"
				IconCode={v.icon}
				data-tooltip={v.name}
			/>
			{v.name}
		</SideBarButton>)}
	</Tooltip>
</SideBar>
<Drawer
	id={ElementIds.navigationDrawer}
	aria-label="Navigation">
	<Button
		slot="header"
		style="width:min-content"
		popovertarget={ElementIds.navigationDrawer}
		popovertargetaction="hide">
		<Icon IconCode={IconCodes.lineHorizontal3}/>
	</Button>
	{items.map(v => <DrawerButton
		aria-selected={v.selected}
		aria-controls={v.controls}
		data-page={v.page}
		DrawerButtonSelected={v.selected}
		ButtonVariant={v.selected ? ButtonVariant.tonal : undefined}>
		<Icon
			IconCode={v.icon}
		/>
		{v.name}
	</DrawerButton>)}
</Drawer>