---
import SideBar from '@/components/SideBar/index.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import Icon from '@/components/Icon/index.astro'
import Drawer from '@/components/Drawer/index.astro'
import DrawerButton from '@/components/Drawer/DrawerButton.astro'
import Button from '@/components/Button/index.astro'
import SideBarButton from '@/components/SideBar/SideBarButton.astro'
import { ButtonVariant } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { CSSClasses } from '../_styles/_css'
import { Pages } from '../_scripts/_shared/_enums'
import { ElementIds } from '../_scripts/_shared/_ids'
import { DEFAULT_PAGE } from '../_scripts/_shared/_constant'

const items: {
	icon: number
	name: string
	page: Pages
	controls: string
}[] = [
	{
		icon: IconCodes.clock,
		name: 'Clock',
		page: Pages.clock,
		controls: ElementIds.pg_clock,
	},
	{
		icon: IconCodes.timer,
		name: 'Stopwatch',
		page: Pages.stopwatch,
		controls: ElementIds.pg_stopwatch,
	},
	{
		icon: IconCodes.hourglass,
		name: 'Timer',
		page: Pages.timer,
		controls: ElementIds.pg_timer,
	},
]
---

<SideBar
	role="tablist"
	class={CSSClasses.navigationSideBar}
	id={ElementIds.nav_sideBar}
	aria-label="Navigation">
	<Tooltip>
		{items.map(v => <SideBarButton
			role="tab"
			data-page={v.page}
			aria-selected={DEFAULT_PAGE === v.page}
			aria-controls={v.controls}
			SideBarButtonSelected={DEFAULT_PAGE === v.page}
			ButtonVariant={DEFAULT_PAGE === v.page ? ButtonVariant.tonal : undefined}>
			<Icon
				slot="leading"
				IconCode={v.icon}
				data-tooltip={v.name}
			/>
			{v.name}
		</SideBarButton>)}
	</Tooltip>
</SideBar>
<Drawer
	id={ElementIds.nav_drawer}
	aria-label="Navigation">
	<Button
		slot="header"
		style="width:min-content"
		popovertarget={ElementIds.nav_drawer}
		popovertargetaction="hide">
		<Icon IconCode={IconCodes.lineHorizontal3}/>
	</Button>
	{items.map(v => <DrawerButton
		aria-selected={DEFAULT_PAGE === v.page}
		aria-controls={v.controls}
		data-page={v.page}
		DrawerButtonSelected={DEFAULT_PAGE === v.page}
		ButtonVariant={DEFAULT_PAGE === v.page ? ButtonVariant.tonal : undefined}>
		<Icon
			IconCode={v.icon}
		/>
		{v.name}
	</DrawerButton>)}
</Drawer>