---
import {
	EMOJIS_ACTIVITIES,
	EMOJIS_ANIMAL_AND_NATURE,
	EMOJIS_FLAGS,
	EMOJIS_FOOD_AND_DRINK,
	EMOJIS_OBJECT,
	EMOJIS_PERSON_AND_BODY,
	EMOJIS_SMILEY_AND_EMOTION,
	EMOJIS_SYMBOLS,
	EMOJIS_TRAVEL_AND_PLACES
} from '@/constants/emoji'
import { joinClassList } from '@/utils/attributes'
import { IconCodes } from '@/enums/icons'

import {
	type EmojiPickerProps,
	EmojiPickerClasses
} from '.'
import IconButton from '@/native-components/Button/IconButton.astro'
import Button from '@/native-components/Button/index.astro'
import Popover from '@/native-components/Popover/index.astro'
import Divider from '@/native-components/Divider/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import TextField from '@/native-components/TextField/index.astro'
import TextFieldButton from '@/native-components/TextField/TextFieldButton.astro'
import { ButtonVariant } from '@/native-components/Button'
import './index.scss'

type Props = EmojiPickerProps
const {
	'class': className,
	EmojiPickerAutoClose = true,
	EmojiPickerTooltipAttr,
	EmojiPickerHeaderAttr,
	EmojiPickerHeaderTextAttr,
	EmojiPickerHeaderButtonAttr,
	EmojiPickerTabsAttr,
	EmojiPickerTabAttr = [],
	EmojiPickerFormAttr,
	EmojiPickerSearchAttr,
	EmojiPickerSearchButtonAttr,
	EmojiPickerSearchButtonIconAttr,
	EmojiPickerContentAttr,
	EmojiPickerTitleAttr,
	EmojiPickerDividerAttr,
	EmojiPickerGroup = [],
	EmojiPickerEmoji = [],
	...other
} = Astro.props
const {'class': tooltipClass, ...tooltipOther} = EmojiPickerTooltipAttr ?? {}
const {'class': headerClass, ...headerOther} = EmojiPickerHeaderAttr ?? {}
const {'class': headerTextClass, ...headerTextOther} = EmojiPickerHeaderTextAttr ?? {}
const {'class': headerButtonClass, IconButtonCode: headerButtonCode = IconCodes.dismiss, ...headerButtonOther} = EmojiPickerHeaderButtonAttr ?? {}
const {'class': tabsClass, role: tabsRole = 'tablist', ...tabsOther} = EmojiPickerTabsAttr ?? {}
const {'class': formClass, ...formOther} = EmojiPickerFormAttr ?? {}
const {'class': searchClass, TextFieldInputAttr: searchInputAttr, ...searchOther} = EmojiPickerSearchAttr ?? {}
const {placeholder: searchInputPlaceholder = 'Search emoji', required: searchInputRequired = true, ...searchInputOther} = searchInputAttr ?? {}
const {'class': searchButtonClass, ButtonVariant: searchButtonVariant = ButtonVariant.tonal, ...searchButtonOther} = EmojiPickerSearchButtonAttr ?? {}
const {'class': searchButtonIconClass, IconCode: searchButtonIconCode = IconCodes.search, ...searchButtonIconOther} = EmojiPickerSearchButtonIconAttr ?? {}
const {'class': contentClass, ...contentOther} = EmojiPickerContentAttr ?? {}
const {'class': dividerClass, ...dividerOther} = EmojiPickerDividerAttr ?? {}
const {'class': titleClass, ...titleOther} = EmojiPickerTitleAttr ?? {}
---

<Popover
	class={joinClassList(EmojiPickerClasses.emojipicker, className)}
	data-c-emojipicker-autoclose={EmojiPickerAutoClose? '' : undefined}
	{...other}>
	<Tooltip
		class={joinClassList(EmojiPickerClasses.tooltip, tooltipClass)}
		{...tooltipOther}>
		<div
			class={joinClassList(EmojiPickerClasses.header, headerClass)}
			{...headerOther}>
			<span
				class={joinClassList(EmojiPickerClasses.headerText, headerTextClass)}
				{...headerTextOther}>
				Emoji
			</span>
			<IconButton
				data-tooltip="Close"
				class={joinClassList(EmojiPickerClasses.headerButton, headerButtonClass)}
				IconButtonCode={headerButtonCode}
				{...headerButtonOther}
			/>
		</div>
		<div
			class={joinClassList(EmojiPickerClasses.tabs, tabsClass)}
			role={tabsRole}
			{...tabsOther}>
			{[
				[IconCodes.history       , 'Recents'            ],
				[IconCodes.search        , 'Search result'      ],
				[IconCodes.emoji         , 'Smiley & emotion'   ],
				[IconCodes.person        , 'Person & body parts'],
				[IconCodes.animalCat    , 'Animal & nature'    ],
				[IconCodes.food          , 'Food & drink'       ],
				[IconCodes.vehicleCar   , 'Travel & places'    ],
				[IconCodes.runningPerson, 'Activities'         ],
				[IconCodes.diversity     , 'Objects'            ],
				[IconCodes.symbols       , 'Symbols'            ],
				[IconCodes.flag          , 'Flags'              ],
			].map((v, i) => {
				const {
					'class': className,
					'aria-label': ariaLabel = v[1] as string,
					'aria-selected': ariaSelected = i === 2,
					'data-tooltip': tooltip = v[1] as string,
					IconButtonCode = v[0] as number,
					IconButtonFilled = i === 2,
					hidden = i < 2,
					ButtonVariant: variant = i === 2? ButtonVariant.tonal : undefined,
					role = 'tab',
					...other
				} = (EmojiPickerTabAttr[i] ?? {}) as any
				return <IconButton
					hidden={hidden}
					class={joinClassList(
						EmojiPickerClasses.tab,
						i === 0? EmojiPickerClasses.tabRecent : undefined,
						i === 1? EmojiPickerClasses.tabSearch : undefined,
						className
					)}
					role={role}
					IconButtonFilled={IconButtonFilled}
					ButtonVariant={variant}
					IconButtonCode={IconButtonCode}
					data-tooltip={tooltip}
					aria-label={ariaLabel}
					aria-selected={ariaSelected}
					{...other}
				/>
			})}
		</div>
		<form
			class={joinClassList(EmojiPickerClasses.form, formClass)}
			{...formOther}>
			<TextField
				class={joinClassList(EmojiPickerClasses.search, searchClass)}
				TextFieldInputAttr={{
					placeholder: searchInputPlaceholder,
					required: searchInputRequired,
					...searchInputOther
				}}
				{...searchOther}>
				<TextFieldButton
					slot="trailing"
					class={joinClassList(EmojiPickerClasses.searchButton, searchButtonClass)}
					ButtonVariant={searchButtonVariant}
					data-tooltip="Search"
					{...searchButtonOther}>
					<Icon
						class={joinClassList(EmojiPickerClasses.searchButtonIcon, searchButtonIconClass)}
						IconCode={searchButtonIconCode}
						{...searchButtonIconOther}
					/>
				</TextFieldButton>
			</TextField>
		</form>
		<div
			class={joinClassList(EmojiPickerClasses.content, contentClass)}
			{...contentOther}>
			<slot />
		</div>
		<Divider
			class={joinClassList(EmojiPickerClasses.divider, dividerClass)}
			{...dividerOther}
		/>
		<h3
			class={joinClassList(EmojiPickerClasses.title, titleClass)}
			{...titleOther}>
			Smiley & emotion
		</h3>
		{[
			[],
			[],
			EMOJIS_SMILEY_AND_EMOTION,
			EMOJIS_PERSON_AND_BODY,
			EMOJIS_ANIMAL_AND_NATURE,
			EMOJIS_FOOD_AND_DRINK,
			EMOJIS_TRAVEL_AND_PLACES,
			EMOJIS_ACTIVITIES,
			EMOJIS_OBJECT,
			EMOJIS_SYMBOLS,
			EMOJIS_FLAGS
		].map((v, i) => {
			const {'class': className, role = 'tabpanel', hidden = i !== 2, ...other} = EmojiPickerGroup[i] ?? {}
			return <div
				class={joinClassList(
					EmojiPickerClasses.group,
					i === 0? EmojiPickerClasses.groupRecent : undefined,
					i === 1? EmojiPickerClasses.groupSearch : undefined,
					className
				)}
				role={role}
				hidden={hidden}
				{...other}>
				{v.map((d, j) => {
					const {'class': className, 'data-tooltip': tooltip = d[1], ...other} = EmojiPickerEmoji[i]?.[j] ?? {}
					return <Button
						class={joinClassList(EmojiPickerClasses.emoji, className)}
						data-tooltip={tooltip}
						{...other}>
						{d[0]}
					</Button>
				})}
			</div>
		})}
	</Tooltip>
</Popover>
<script>
	import { registerEmojiPickerRef } from '.'
	registerEmojiPickerRef()
</script>