---
import Icon from '@/native-components/Icon/index.astro'
import { ElementIds } from "../_scripts/_enums";
import { CSSClasses } from "../_styles/_css";
import { IconCodes } from '@/enums/icons';
---

<main class={CSSClasses.body}>
	<h1 id={ElementIds.bodyLevelText}>100%</h1>
	<div class={CSSClasses.bodyStatus} aria-label="Status">
		<Icon id={ElementIds.bodyStatusIcon} IconCode={IconCodes.questionCircle}/>
		<span id={ElementIds.bodyStatusText}>Unknown</span>
	</div>
</main>