---
import Dialog from '@/components/Dialog/index.astro'
import TextField from '@/components/TextField/index.astro'
import Icon from '@/components/Icon/index.astro'
import Button from '@/components/Button/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import { DEFAULT_VIBRATION_PATTERN } from '../_scripts/_shared/_constant'
import { IconCodes } from '@/enums/icons'
import { pxToRem } from '@/utils/css'
import { CSSClasses } from '../_styles/_css'
import { ButtonVariant } from '@/components/Button'
import { ElementIds } from '../_scripts/_shared/_ids'
---

<main class={CSSClasses.body}>
	<ul id={ElementIds.bd_list}>{DEFAULT_VIBRATION_PATTERN.map(v =>
		<li>{v}</li>
	)}</ul>
	<div>
		<IconButton
			id={ElementIds.bd_edit}
			aria-label="Edit"
			ButtonVariant={ButtonVariant.tonal}
			IconButtonCode={IconCodes.edit}
		/>
		<div style={{
			'display': 'grid',
			'grid-template-columns': '1fr 1fr',
			gap: '.5rem'
		}}>
			<Button
				id={ElementIds.bd_vibrate}
				ButtonVariant={ButtonVariant.filled}>
				<Icon IconCode={IconCodes.play} IconFilled/>
				Vibrate
			</Button>
			<Button
				id={ElementIds.bd_stop}
				ButtonVariant={ButtonVariant.filled}>
				<Icon IconCode={IconCodes.pause} IconFilled/>
				Stop
			</Button>
		</div>
	</div>
</main>
<Dialog id={ElementIds.bd_editDialog} style={{width: pxToRem(512) + 'rem'}}>
	<Fragment slot="header">Vibration Pattern</Fragment>
	<TextField TextFieldInputAttr={{
		id: ElementIds.bd_input,
		placeholder: DEFAULT_VIBRATION_PATTERN.join(', ')
	}}/>
	<form method="dialog" slot="footer" style="display:contents">
		<Button ButtonVariant={ButtonVariant.tonal}>Cancel</Button>
		<Button
			ButtonVariant={ButtonVariant.filled}
			id={ElementIds.bd_save}>Save</Button>
	</form>
</Dialog>