---
import Toast from '@/components/Toast/index.astro'
import Icon from '@/components/Icon/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import { ElementIds } from '../_scripts/_shared/_ids'
import { CSSClasses } from '../_styles/_css'
import { IconCodes } from '@/enums/icons'
import { CButton } from '@/components/Button'
import videoFile from '@/assets/video/271161_small.mp4'
---

<main class={CSSClasses.body}>
	<img hidden id={ElementIds.bd_image}/>
	<audio hidden controls id={ElementIds.bd_audio}/>
	<video
		id={ElementIds.bd_video}
		controls
		src={videoFile}/>
</main>
<Toast id={ElementIds.toa_invalid} ToastCloseDelay={5000}>
	<Icon IconCode={IconCodes.documentError} slot="leading"/>
	File type is not valid. Only image, audio, and video are allowed.
</Toast>
<Toast id={ElementIds.toa_noFile} ToastCloseDelay={3000}>
	<Icon IconCode={IconCodes.documentError} slot="leading"/>
	No file selected
</Toast>
<Toast id={ElementIds.toa_error} ToastCloseDelay={3000}>
	<Icon IconCode={IconCodes.scanText} slot="leading"/>
	Error: Unable to load media file
</Toast>
<Toast id={ElementIds.toa_loading} ToastCloseDelay={Infinity}>
	<Icon IconCode={IconCodes.arrowDownload} slot="leading"/>
	Loading ...
	<IconButton
		slot="trailing"
		IconButtonCode={IconCodes.dismiss}
		aria-label="Abort loading"
		ButtonVariant={CButton.Variant.tonal}
		id={ElementIds.toa_loadingAbort}
	/>
</Toast>