---
import LinkButton from '@/components/Button/LinkButton.astro'
import Divider from '@/components/Divider/index.astro'
import Icon from '@/components/Icon/index.astro'
import TextField from '@/components/TextField/index.astro'
import Menu from '@/components/Menu/index.astro'
import MenuItem from '@/components/Menu/MenuItem.astro'
import Toast from '@/components/Toast/index.astro'
import UIGradient from './_UIGradient.astro'
import { CSSClasses } from '../_styles/classes'
import { IconCodes } from '@/enums/icons'
import { CButton } from '@/components/Button'
import { AppCSSColors } from '@/enums/app-data'
import { ElementIds } from '../_scripts/shared/ids'
import { DEFAULT_PREVIEW_BORDER_RADIUS, DEFAULT_PREVIEW_HEIGHT, DEFAULT_PREVIEW_WIDTH, DEFAULT_STOP_COLOR_1, DEFAULT_STOP_COLOR_2 } from '../_scripts/shared/constant'
import { FlyoutPosition } from '@/enums/position'
import { pxToRem } from '@/utils/css'
---

<main class={CSSClasses.body}>
	<div class={CSSClasses.bodyPreviewContainer}>
		<div
			class={CSSClasses.bodyPreview}
			id={ElementIds.bd_preview}
			style={{
				borderRadius: pxToRem(DEFAULT_PREVIEW_BORDER_RADIUS) + 'rem',
				minWidth: pxToRem(DEFAULT_PREVIEW_WIDTH) + 'rem',
				minHeight: pxToRem(DEFAULT_PREVIEW_HEIGHT) + 'rem',
				background: `linear-gradient(0deg,${DEFAULT_STOP_COLOR_1} 0%, ${DEFAULT_STOP_COLOR_2} 100%)`,
				cornerShape: 'round'
			}}
		/>
	</div>
	<div class={CSSClasses.bodyEditor}>
		<details>
			<summary
				class={CButton.Classes.Button}>
				Saved gradient
				<Icon IconCode={IconCodes.ChevronDown}/>
			</summary>
			<ul
				style={{
					padding: pxToRem(12) + 'rem'
				}}
				data-css-content
				class={CSSClasses.bodySavedGradient}>{/*
				<li>
					<Button
						data-command={Commands.grad_use}
						popovertarget={ElementIds.bdSave_actionMenu}
						popovertargetaction='show'>
						<span style="background-color:rgb(var(--g-color-accent))"/>
					</Button>
				</li>
			*/}</ul>
			<Menu
				style={{
					width: pxToRem(128) + 'rem'
				}}
				id={ElementIds.bdSv_menu}
				PopoverPosition={FlyoutPosition.CenterBottomToRight}>
				<MenuItem id={ElementIds.bdSv_view}><Icon IconCode={IconCodes.Eye}/>View</MenuItem>
				<MenuItem id={ElementIds.bdSv_copy}><Icon IconCode={IconCodes.Copy}/>Copy</MenuItem>
				<Divider />
				<MenuItem id={ElementIds.bdSv_delete}><Icon IconCode={IconCodes.Delete}/>Delete</MenuItem>
			</Menu>
		</details>
		<Divider/>
		<details open>
			<summary
				class={CButton.Classes.Button}
				data-c-button-variant={CButton.Variant.Filled}>
				Properties
				<Icon IconCode={IconCodes.ChevronDown}/>
			</summary>
			<div data-css-content class={CSSClasses.bodyProperties}>
				<label for={ElementIds.bdProp_borderRadius}>Border radius (px):</label>
				<TextField TextFieldInputAttr={{
					id: ElementIds.bdProp_borderRadius,
					type: 'number',
					min: 0,
					value: DEFAULT_PREVIEW_BORDER_RADIUS
				}}/>
				<div style={{
					display: 'grid',
					gridTemplateColumns: '1fr 1fr',
					gap: pxToRem(8) + 'rem',
					marginTop: pxToRem(8) + 'rem'
				}}>
					<div>
						<label for={ElementIds.bdProp_width}>Width (px):</label>
						<TextField TextFieldInputAttr={{
							id: ElementIds.bdProp_width,
							type: 'number',
							min: 0,
							value: DEFAULT_PREVIEW_WIDTH
						}}/>
					</div>
					<div>
						<label for={ElementIds.bdProp_height}>Height (px):</label>
						<TextField TextFieldInputAttr={{
							id: ElementIds.bdProp_height,
							type: 'number',
							min: 0,
							value: DEFAULT_PREVIEW_HEIGHT
						}}/>
					</div>
				</div>
				<label for={ElementIds.bdProp_clipPath}>Clip path:</label>
				<TextField TextFieldInputAttr={{
					id: ElementIds.bdProp_clipPath,
				}}/>
				<LinkButton
					style={{
						minHeight: pxToRem(24) + 'rem',
						width: 'fit-content',
						marginTop: pxToRem(2) + 'rem',
						translate: `${pxToRem(-8)}rem 0`,
						padding: `${pxToRem(2)}rem ${pxToRem(8)}rem`,
						color: `rgb(${AppCSSColors.Accent})`
					}}
					href="https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path"
					LinkButtonNewTab>
					<Icon IconCode={IconCodes.Info}/>
					How to use clip path
				</LinkButton>
			</div>
		</details>
		<Divider/>
		<details open>
			<summary
				class={CButton.Classes.Button}
				data-c-button-variant={CButton.Variant.Filled}>
				Gradient
				<Icon IconCode={IconCodes.ChevronDown}/>
			</summary>
			<div
				style={{
					padding: `${pxToRem(4)}rem 0 0 0`
				}}
				data-css-content
				class={CSSClasses.bodyGradients}>
				<UIGradient />
			</div>
		</details>
	</div>
</main>
<Toast id={ElementIds.toa_copied} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.Copy} slot="leading"/>
	Copied
</Toast>
<Toast id={ElementIds.toa_saved} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.Save} slot="leading"/>
	Saved
</Toast>