---
import { joinClassList } from '@/utils/attributes'
import { IconCodes } from '@/enums/icons'

import Icon from '@/components/Icon/index.astro'
import Popover from '@/components/Popover/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import TextField from '@/components/TextField/index.astro'
import TextFieldButton from '@/components/TextField/TextFieldButton.astro'
import { ButtonVariant } from '@/components/Button'
import {
	type ColorPickerProps,
	ColorPickerClasses
} from '.'
import './index.scss'

type Props = ColorPickerProps
const {
	'class': className,
	ColorPickerValue = '#ff0000',
	ColorPickerColorSpace,
	ColorPickerDisabledOpacity,
	ColorPickerHueOnly,
	ColorPickerContentAttr,
	ColorPickerRectAttr,
	ColorPickerOptionsAttr,
	ColorPickerPreviewAttr,
	ColorPickerEyeDropperAttr,
	ColorPickerSliderAttr,
	ColorPickerSliderHueAttr,
	ColorPickerSliderOpacityAttr,
	ColorPickerInputAttr,
	ColorPickerLabelAttr,
	ColorPickerLabelColorAttr,
	ColorPickerLabelOpacityAttr,
	ColorPickerTextFieldAttr,
	ColorPickerTextFieldColorAttr,
	ColorPickerTextFieldOpacityAttr,
	ColorPickerSwapAttr,
	ColorPickerSwapIconAttr,
	...other
} = Astro.props
const {'class': rectClass, draggable: rectDraggable = 'false', tabindex: rectTabindex = '0', ...rectOther} = ColorPickerRectAttr ?? {}
const {'class': contentClass, ...contentOther} = ColorPickerContentAttr ?? {}
const {'class': optionsClass, ...optionsOther} = ColorPickerOptionsAttr ?? {}
const {'class': previewClass, ...previewOther} = ColorPickerPreviewAttr ?? {}
const {'class': eyeDropperClass, ButtonVariant: eyeDropperVariant = ButtonVariant.tonal, IconButtonCode: eyeDropperIcon = IconCodes.eyedropper, ...eyeDropperOther} = ColorPickerEyeDropperAttr ?? {}
const {'class': sliderClass, ...sliderOther} = ColorPickerSliderAttr ?? {}
const {'class': sliderHueClass, min: sliderHueMin = 0, max: sliderHueMax = 360, type: sliderHueType = 'range', name: sliderHueName = 'Hue', ...sliderHueOther} = ColorPickerSliderHueAttr ?? {}
const {'class': sliderOpacityClass, min: sliderOpacityMin = 0, max: sliderOpacityMax = 100, type: sliderOpacityType = 'range', name: sliderOpacityName = 'Opacity', ...sliderOpacityOther} = ColorPickerSliderOpacityAttr ?? {}
const {'class': inputClass, ...inputOther} = ColorPickerInputAttr ?? {}
const {'class': labelClass, ...labelOther} = ColorPickerLabelAttr ?? {}
const {'class': labelColorClass, ...labelColorOther} = ColorPickerLabelColorAttr ?? {}
const {'class': labelOpacityClass, ...labelOpacityOther} = ColorPickerLabelOpacityAttr ?? {}
const {'class': textfieldClass, ...textfieldOther} = ColorPickerTextFieldAttr ?? {}
const {'class': textfieldColorClass, ...textfieldColorOther} = ColorPickerTextFieldColorAttr ?? {}
const {'class': textfieldOpacityClass, ...textfieldOpacityOther} = ColorPickerTextFieldOpacityAttr ?? {}
const {'class': swapClass, ...swapOther} = ColorPickerSwapAttr ?? {}
const {'class': swapIconClass, IconCode: swapIconCode = IconCodes.chevronUpDown, ...swapIconOther} = ColorPickerSwapIconAttr ?? {}
---

<Popover
	class={joinClassList(ColorPickerClasses.colorpicker)}
	data-c-colorpicker-value={ColorPickerValue}
	data-c-colorpicker-colorspace={ColorPickerColorSpace}
	data-c-colorpicker-disabled-opacity={ColorPickerDisabledOpacity? '' : undefined}
	data-c-colorpicker-hueonly={ColorPickerHueOnly? '' : undefined}
	{...other}>
	<div
		class={joinClassList(ColorPickerClasses.rect, rectClass)}
		tabindex={rectTabindex}
		draggable={rectDraggable}
		{...rectOther}
	/>
	<div
		class={joinClassList(ColorPickerClasses.options, optionsClass)}
		{...optionsOther}>
		<div
			class={joinClassList(ColorPickerClasses.preview, previewClass)}
			{...previewOther}
		/>
		<IconButton
			class={joinClassList(ColorPickerClasses.eyedropper, eyeDropperClass)}
			IconButtonCode={eyeDropperIcon}
			ButtonVariant={eyeDropperVariant}
			{...eyeDropperOther}
		/>
		<div
			class={joinClassList(ColorPickerClasses.slider, sliderClass)}
			{...sliderOther}>
			<input
				class={joinClassList(ColorPickerClasses.sliderHue, sliderHueClass)}
				name={sliderHueName}
				type={sliderHueType}
				min={sliderHueMin}
				max={sliderHueMax}
				{...sliderHueOther}
			/>
			<input
				class={joinClassList(ColorPickerClasses.sliderOpacity, sliderOpacityClass)}
				name={sliderOpacityName}
				type={sliderOpacityType}
				min={sliderOpacityMin}
				max={sliderOpacityMax}
				{...sliderOpacityOther}
			/>
		</div>
	</div>
	<div
		class={joinClassList(ColorPickerClasses.input, inputClass)}
		{...inputOther}>
		<div
			class={joinClassList(ColorPickerClasses.label, labelClass)}
			{...labelOther}>
			<label
				class={joinClassList(ColorPickerClasses.labelColor, labelColorClass)}
				{...labelColorOther}>
				HEX:
			</label>
			<label
				class={joinClassList(ColorPickerClasses.labelOpacity, labelOpacityClass)}
				{...labelOpacityOther}>
				Opacity:
			</label>
		</div>
		<div
			class={joinClassList(ColorPickerClasses.textfield, textfieldClass)}
			{...textfieldOther}>
			<TextField
				class={joinClassList(ColorPickerClasses.textfieldColor, textfieldColorClass)}
				{...textfieldColorOther}>
				<TextFieldButton
					slot="trailing"
					class={joinClassList(ColorPickerClasses.swap, swapClass)}
					{...swapOther}>
					<Icon
						IconCode={swapIconCode}
						class={joinClassList(ColorPickerClasses.swapIcon, swapIconClass)}
						{...swapIconOther}
					/>
				</TextFieldButton>
			</TextField>
			<TextField
				class={joinClassList(ColorPickerClasses.textfieldOpacity, textfieldOpacityClass)}
				{...textfieldOpacityOther}
			/>
		</div>
	</div>
	<div
		class={joinClassList(ColorPickerClasses.content, contentClass)}
		{...contentOther}>
		<slot/>
	</div>
</Popover>
<script>
	import { registerColorPickerRef } from '.'
	registerColorPickerRef()
</script>