---
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { CSSClasses } from "../../_styles/_css"
import { Pages } from '../../_scripts/_shared/_enums'
import { DEFAULT_LENGTH_INPUT, DEFAULT_LENGTH_INPUT_UNIT, DEFAULT_LENGTH_OUTPUT, DEFAULT_LENGTH_OUTPUT_UNIT, DEFAULT_PAGE } from '../../_scripts/_shared/_constant'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { LengthUnits } from '../../_scripts/_shared/_units'
---

<div
	class={CSSClasses.bodyPage}
	role="tabpanel"
	id={ElementIds.bd_length}
	hidden={DEFAULT_PAGE !== Pages.Length}>
	<input
		value={DEFAULT_LENGTH_INPUT}
		type="number"
		id={ElementIds.pgLen_input}
	/>
	<ComboBox id={ElementIds.pgLen_inputUnit}>
		{[...LengthUnits.all.values()].sort((a, b) => a.name.localeCompare(b.name)).map(v => <ComboBoxOption
			value={v.id}
			selected={v.id === DEFAULT_LENGTH_INPUT_UNIT.id}>
			{v.name} [ {v.symbol} ]
		</ComboBoxOption>)}
	</ComboBox>

	<input
		id={ElementIds.pgLen_output}
		value={DEFAULT_LENGTH_OUTPUT}
		type="number"
	/>
	<ComboBox id={ElementIds.pgLen_outputUnit}>
		{[...LengthUnits.all.values()].sort((a, b) => a.name.localeCompare(b.name)).map(v => <ComboBoxOption
			value={v.id}
			selected={v.id === DEFAULT_LENGTH_OUTPUT_UNIT.id}>
			{v.name} [ {v.symbol} ]
		</ComboBoxOption>)}
	</ComboBox>
</div>