---
import SideBar from '@/components/SideBar/index.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import Drawer from '@/components/Drawer/index.astro'
import DrawerButton from '@/components/Drawer/DrawerButton.astro'
import IconButton from '@/components/Button/IconButton.astro'
import SideBarButton from '@/components/SideBar/SideBarButton.astro'
import { ButtonVariant } from '@/components/Button'
import { IconCodes } from '@/enums/icons'
import { CSSClasses } from '../_styles/_css'
import { Pages } from '../_scripts/_shared/_enums'
import { ElementIds } from '../_scripts/_shared/_ids'
import { DEFAULT_PAGE } from '../_scripts/_shared/_constant'

const items: {
	emoji: string
	name: string
	page: Pages
}[] = [
	{
		emoji: '😃',
		name: 'Smiley & Emotion',
		page: Pages.smileyEmotion,
	},
	{
		emoji: '🧑',
		name: 'Person & Body',
		page: Pages.personBody,
	},
	{
		emoji: '🦖',
		name: 'Animal & Nature',
		page: Pages.animalNature,
	},
	{
		emoji: '🍎',
		name: 'Food & Drink',
		page: Pages.foodDrink,
	},
	{
		emoji: '🌍',
		name: 'Travel & Places',
		page: Pages.travelPlaces,
	},
	{
		emoji: '🏓',
		name: 'Activities',
		page: Pages.activities,
	},
	{
		emoji: '📒',
		name: 'Object',
		page: Pages.object,
	},
	{
		emoji: '🚹',
		name: 'Symbols',
		page: Pages.symbols,
	},
	{
		emoji: '🚩',
		name: 'Flags',
		page: Pages.flags,
	},
]
---

<SideBar
	role="tablist"
	class={CSSClasses.navigationSideBar}
	id={ElementIds.navigationSideBar}
	aria-label="Navigation">
	<Tooltip>
		{items.map(v => <SideBarButton
			role="tab"
			style="padding-left:6px;white-space:nowrap"
			data-page={v.page}
			aria-selected={DEFAULT_PAGE === v.page}
			aria-controls={ElementIds.body}
			data-tooltip={v.name}
			SideBarButtonSelected={DEFAULT_PAGE === v.page}
			SideBarButtonLeadingAttr={{style: 'font-size:20px;line-height:20px'}}
			ButtonVariant={DEFAULT_PAGE === v.page ? ButtonVariant.tonal : undefined}>
			<Fragment slot="leading">{v.emoji}</Fragment>
			{v.name}
		</SideBarButton>)}
	</Tooltip>
</SideBar>
<Drawer
	id={ElementIds.navigationDrawer}
	aria-label="Navigation">
	<IconButton
		slot="header"
		style="width:min-content"
		popovertarget={ElementIds.navigationDrawer}
		popovertargetaction="hide"
		IconButtonCode={IconCodes.lineHorizontal3}
	/>
	{items.map(v => <DrawerButton
		aria-selected={DEFAULT_PAGE === v.page}
		aria-controls={ElementIds.body}
		style="padding-left:6px"
		data-page={v.page}
		DrawerButtonSelected={DEFAULT_PAGE === v.page}
		ButtonVariant={DEFAULT_PAGE === v.page ? ButtonVariant.tonal : undefined}>
		<span style='font-size:20px;line-height:20px'>{v.emoji}</span>{v.name}
	</DrawerButton>)}
</Drawer>