---
import Button from '@/components/Button/index.astro'
import Menu from '@/components/Menu/index.astro'
import Popover from '@/components/Popover/index.astro'
import Slider from '@/components/Slider/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import MenuItem from '@/components/Menu/MenuItem.astro'
import SubMenuItem from '@/components/Menu/SubMenuItem.astro'
import SubMenu from '@/components/Menu/SubMenu.astro'
import MenuIndent from '@/components/Menu/MenuIndent.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Divider from '@/components/Divider/index.astro'
import ColorPicker from '@/components/ColorPicker/index.astro'
import Icon from '@/components/Icon/index.astro'
import CheckBox from '@/components/CheckBox/index.astro'
import TextField from '@/components/TextField/index.astro'
import TextFieldButton from '@/components/TextField/TextFieldButton.astro'
import { CSSClasses, CSSGroup } from '../../_styles/_css'
import { IconCodes } from '@/enums/icons'
import { FlyoutPosition } from '@/enums/position'
import { CButton } from '@/components/Button'
import { Commands } from '../../_scripts/_shared/_commands'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { GradientType, HueInterpolationMethod, PolarColorSpace, RadialGradientShape, RectangularColorSpace } from '../../_scripts/_shared/_enums'
import { DEFAULT_STOP_COLOR_1, DEFAULT_STOP_COLOR_2 } from '../../_scripts/_shared/_constant'
import { pxToRem } from '@/utils/css'

const gradientTypes: [type: GradientType, text: string, selected: boolean][] = [
	[GradientType.Linear, 'Linear', true],
	[GradientType.Radial, 'Radial', false],
	[GradientType.Conic, 'Conic', false]
]
const colorSpaces: [space: PolarColorSpace | RectangularColorSpace, text: string, selected: boolean][] = [
	[PolarColorSpace.Auto, 'Auto', true],
	// [RectangularColorSpace.a98Rgb, 'A98 RGB', false],
	// [RectangularColorSpace.displayP3, 'Display P3', false],
	[PolarColorSpace.Hsl, 'HSL', false],
	[PolarColorSpace.Hwb, 'HWB', false],
	// [RectangularColorSpace.lab, 'LAB', false],
	[PolarColorSpace.Lch, 'LCH', false],
	// [RectangularColorSpace.oklab, 'Oklab', false],
	[PolarColorSpace.Oklch, 'OKLCH', false],
	// [RectangularColorSpace.prophotoRgb, 'ProPhoto RGB', false],
	// [RectangularColorSpace.rec2020, 'Rec. 2020', false],
	// [RectangularColorSpace.srgb, 'sRGB', false],
	// [RectangularColorSpace.srgbLinear, 'sRGB Linear', false],
	// [RectangularColorSpace.xyz, 'XYZ', false],
	// [RectangularColorSpace.xyzD50, 'XYZ D50', false],
	// [RectangularColorSpace.xyzD65, 'XYZ D65', false],
]
const hueInterpolation: [method: HueInterpolationMethod, t: string, s: boolean][] = [
	[HueInterpolationMethod.Auto, 'Auto', true],
	[HueInterpolationMethod.Decreasing, 'Decreasing', false],
	[HueInterpolationMethod.Increasing, 'Increasing', false],
	[HueInterpolationMethod.Longer, 'Longer', false],
	[HueInterpolationMethod.Shorter, 'Shorter', false],
]
const radialShape: [s: RadialGradientShape, t: string, s: boolean][] = [
	[RadialGradientShape.Circle, 'Circle', true],
	[RadialGradientShape.Ellipse, 'Ellipse', false],
]
---
<div
	style={{
		margin: `${pxToRem(4)}rem ${pxToRem(12)}rem`,
		display: 'flex',
		gap: pxToRem(2) + 'rem'
	}}>
	<Button id={ElementIds.bdGrad_add} ButtonVariant={CButton.Variant.Outlined}>
		<Icon IconCode={IconCodes.Add}/>
		Add gradient
	</Button>
	<IconButton
		id={ElementIds.bdGrad_copy}
		style={{
			'margin-left': pxToRem(8) + 'rem'
		}}
		IconButtonCode={IconCodes.Copy}
		data-tooltip="Copy"
		aria-label="Copy"
	/>
	<IconButton
		id={ElementIds.bdGrad_save}
		IconButtonCode={IconCodes.Save}
		data-tooltip="Save"
		aria-label="Save"
	/>
</div>
<ul id={ElementIds.bd_gradients}>
	<li>
		<Button
			data-command={Commands.GradientEdit}
			popovertargetaction='show'
			popovertarget={ElementIds.bdGrad_controlPopover}>
			<div style={`background: linear-gradient(to right, ${DEFAULT_STOP_COLOR_1}, ${DEFAULT_STOP_COLOR_2})`}></div>
		</Button>
		<IconButton
			data-command={Commands.GradientOpenActions}
			popovertarget={ElementIds.bdGrad_actionsMenu}
			popovertargetaction={'show'}
			data-tooltip="Actions"
			aria-label="Actions"
			IconButtonCode={IconCodes.MoreHorizontal}
		/>
	</li>
</ul>
<Popover
	id={ElementIds.bdGrad_controlPopover}
	PopoverGap={pxToRem(8)}
	style={{
		width: pxToRem(280) + 'rem'
	}}
	PopoverDraggable
	PopoverPadding={pxToRem(12)}
	PopoverContentAttr={{
		class: CSSClasses.bodyGradientControl
	}}
	PopoverPosition={FlyoutPosition.LeftCenterToBottom}>
	<details>
		<summary
			class={CButton.Classes.Button}
			data-c-button-variant={CButton.Variant.Tonal}>
			Properties
			<Icon IconCode={IconCodes.ChevronDown}/>
		</summary>
		<div data-css-properties>
			<div style={{
				display: 'grid',
				gridTemplateColumns: '1fr 1fr',
				gap: pxToRem(8) + 'rem',
				marginTop: pxToRem(8) + 'rem'
			}}>
				<div>
					<label for={ElementIds.bdGradCtrl_type}>Type:</label>
					<ComboBox
						id={ElementIds.bdGradCtrl_type}
						style={{
							width: '100%',
							'margin-top': pxToRem(2) + 'rem'
						}}>
						{gradientTypes.map(v =>
							<ComboBoxOption value={v[0]} selected={v[2]}>{v[1]}</ComboBoxOption>
						)}
					</ComboBox>
				</div>
				<div>
					<label for={ElementIds.bdGradCtrl_colorSpace}>Color space:</label>
					<ComboBox
						id={ElementIds.bdGradCtrl_colorSpace}
						style={{
							width: '100%',
							'margin-top': pxToRem(2) + 'rem'
						}}>
						{colorSpaces.map(v =>
							<ComboBoxOption value={v[0]} selected={v[2]}>{v[1]}</ComboBoxOption>
						)}
					</ComboBox>
				</div>
			</div>
			<label for={ElementIds.bdGradCtrl_hueInterpolation}>Hue interpolation:</label>
			<ComboBox id={ElementIds.bdGradCtrl_hueInterpolation} style="width:100%">
				{hueInterpolation.map(v =>
					<ComboBoxOption value={v[0]} selected={v[2]}>{v[1]}</ComboBoxOption>
				)}
			</ComboBox>
			<label for={ElementIds.bdGradCtrl_radialShape}>Shape:</label>
			<ComboBox id={ElementIds.bdGradCtrl_radialShape} style="width:100%">
				{radialShape.map(v =>
					<ComboBoxOption value={v[0]} selected={v[2]}>{v[1]}</ComboBoxOption>
				)}
			</ComboBox>
			<div style={{
				display: 'grid',
				gridTemplateColumns: '1fr 1fr',
				gap: pxToRem(8) + 'rem',
				marginTop: pxToRem(8) + 'rem'
			}} id={ElementIds.bdGradCtrl_positionXY}>
				<div>
					<label for={ElementIds.bdGradCtrl_positionX}>Position X (%):</label>
					<TextField
						style={{
							'margin-top': pxToRem(2) + 'rem'
						}}
						TextFieldInputAttr={{
							id: ElementIds.bdGradCtrl_positionX,
							type: 'number',
							value: '0',
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.bdGradCtrl_positionY}>Position Y (%):</label>
					<TextField
						style={{
							'margin-top': pxToRem(2) + 'rem'
						}}
						TextFieldInputAttr={{
							id: ElementIds.bdGradCtrl_positionY,
							type: 'number',
							value: '0',
						}}
					/>
				</div>
			</div>
			<div style={{
				display: 'grid',
				gridTemplateColumns: '1fr 1fr',
				gap: pxToRem(8) + 'rem',
				marginTop: pxToRem(8) + 'rem'
			}} id={ElementIds.bdGradCtrl_widthHeight}>
				<div>
					<label for={ElementIds.bdGradCtrl_width}>Width (%):</label>
					<TextField
						style={{
							'margin-top': pxToRem(2) + 'rem'
						}}
						TextFieldInputAttr={{
							id: ElementIds.bdGradCtrl_width,
							type: 'number',
							value: '0',
							min: '0'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.bdGradCtrl_height}>Height (%):</label>
					<TextField
						style={{
							'margin-top': pxToRem(2) + 'rem'
						}}
						TextFieldInputAttr={{
							id: ElementIds.bdGradCtrl_height,
							type: 'number',
							value: '0',
							min: '0'
						}}
					/>
				</div>
			</div>
			<label for={ElementIds.bdGradCtrl_size}>Size (px):</label>
			<TextField TextFieldInputAttr={{
				id: ElementIds.bdGradCtrl_size,
				type: 'number',
				value: '0',
				min: '0'
			}}/>
			<label for={ElementIds.bdGradCtrl_angle}>Angle (deg):</label>
			<TextField TextFieldInputAttr={{
				id: ElementIds.bdGradCtrl_angle,
				type: 'number',
				value: '0',
				min: '0'
			}}/>
			<CheckBox style="width:fit-content" CheckBoxInputAttr={{id: ElementIds.bdGradCtrl_repeat}}>Repeat</CheckBox>
		</div>
	</details>
	<Divider/>
	<details open>
		<summary
			class={CButton.Classes.Button}
			data-c-button-variant={CButton.Variant.Filled}>
			Stops
			<Icon IconCode={IconCodes.ChevronDown}/>
		</summary>
		<div data-css-stops>
			<div style={{
				display: 'flex',
				gap: pxToRem(8) + 'rem',
				marginTop: pxToRem(8) + 'rem'
			}}>
				<Button id={ElementIds.bdGradStop_add} ButtonVariant={CButton.Variant.Outlined}>
					<Icon IconCode={IconCodes.Add}/>
					Add color stop
				</Button>
				<IconButton
					data-tooltip="Sort"
					id={ElementIds.bdGradStop_sort}
					IconButtonCode={IconCodes.ArrowSort}
				/>
			</div>
			<ul id={ElementIds.bdGradCtrl_colorStops}>
				<li>
					<div>
						<TextField TextFieldInputAttr={{value: '0%', class: CSSGroup.stopSizeInput}}/>
						<TextField
							TextFieldInputAttr={{value: DEFAULT_STOP_COLOR_1, class: CSSGroup.stopColorInput}}>
							<Fragment slot="trailing">
								<TextFieldButton
									popovertarget={ElementIds.bdGradStop_colorPicker}
									popovertargetaction={'show'}
									data-command={Commands.GradientStopPickColor}
									data-tooltip="Pick color">
									<Icon IconCode={IconCodes.Circle} IconFilled/>
								</TextFieldButton>
								<TextFieldButton
									popovertarget={ElementIds.bdGradStop_actions}
									popovertargetaction={'show'}
									data-command={Commands.GradientStopActions}
									data-tooltip="More">
									<Icon IconCode={IconCodes.MoreHorizontal}/>
								</TextFieldButton>
							</Fragment>
						</TextField>
					</div>
					<Slider/>
				</li>
				<li>
					<div>
						<TextField TextFieldInputAttr={{value: '100%', class: CSSGroup.stopSizeInput}}/>
						<TextField
							TextFieldInputAttr={{value: DEFAULT_STOP_COLOR_2, class: CSSGroup.stopColorInput}}>
							<Fragment slot="trailing">
								<TextFieldButton
									popovertarget={ElementIds.bdGradStop_colorPicker}
									popovertargetaction={'show'}
									data-command={Commands.GradientStopPickColor}
									data-tooltip="Pick color">
									<Icon IconCode={IconCodes.Circle} IconFilled/>
								</TextFieldButton>
								<TextFieldButton
									popovertarget={ElementIds.bdGradStop_actions}
									popovertargetaction={'show'}
									data-command={Commands.GradientStopActions}
									data-tooltip="More">
									<Icon IconCode={IconCodes.MoreHorizontal}/>
								</TextFieldButton>
							</Fragment>
						</TextField>
					</div>
					<Slider value="100"/>
				</li>
			</ul>
		</div>
	</details>
</Popover>
<Menu
	id={ElementIds.bdGrad_actionsMenu}
	PopoverGap={pxToRem(8)}
	PopoverPosition={FlyoutPosition.LeftCenterToBottom}>
	<MenuItem id={ElementIds.bdGradAct_copy}>
		<Icon IconCode={IconCodes.Copy}/>
		Copy
		<div style="flex:1"/>
		<MenuIndent/>
	</MenuItem>
	<MenuItem id={ElementIds.bdGradAct_delete}>
		<Icon IconCode={IconCodes.Delete}/>
		Delete
		<div style="flex:1"/>
		<MenuIndent/>
	</MenuItem>
	<Divider />
	<SubMenuItem
		popovertarget={ElementIds.bdGradAct_moveMenu}
		id={ElementIds.bdGradAct_move}>
		<Icon IconCode={IconCodes.ArrowSort}/>
		Move
		<div style="flex:1"/>
		<Icon IconCode={IconCodes.ChevronRight}/>
	</MenuItem>
	<SubMenu id={ElementIds.bdGradAct_moveMenu}>
		<MenuItem id={ElementIds.bdGradAct_moveTop}>
			<Icon IconCode={IconCodes.ArrowUp}/>
			Top
		</MenuItem>
		<MenuItem id={ElementIds.bdGradAct_moveBottom}>
			<Icon IconCode={IconCodes.ArrowDown}/>
			Bottom
		</MenuItem>
	</SubMenu>

	<SubMenuItem popovertarget={ElementIds.bdGradAct_newMenu}>
		<Icon IconCode={IconCodes.Collections}/>
		New gradient
		<div style="flex:1"/>
		<Icon IconCode={IconCodes.ChevronRight}/>
	</SubMenuItem>
	<SubMenu id={ElementIds.bdGradAct_newMenu}>
		<MenuItem id={ElementIds.bdGradAct_newTop}>
			<Icon IconCode={IconCodes.ArrowUp}/>
			Top
		</MenuItem>
		<MenuItem id={ElementIds.bdGradAct_newBottom}>
			<Icon IconCode={IconCodes.ArrowDown}/>
			Bottom
		</MenuItem>
	</SubMenu>
</Menu>
<Menu
	id={ElementIds.bdGradStop_actions}
	PopoverGap={pxToRem(8)}
	PopoverPosition={FlyoutPosition.RightCenterToBottom}>
	<MenuItem id={ElementIds.bdGradStopAct_delete}>
		<Icon IconCode={IconCodes.Delete}/>
		Delete
	</MenuItem>
	<Divider />

	<SubMenuItem popovertarget={ElementIds.bdGradStopAct_newMenu}>
		<Icon IconCode={IconCodes.Collections}/>
		New stop color
		<div style="flex:1"/>
		<Icon IconCode={IconCodes.ChevronRight}/>
	</SubMenuItem>
	<SubMenu id={ElementIds.bdGradStopAct_newMenu}>
		<MenuItem id={ElementIds.bdGradStopAct_newTop}>
			<Icon IconCode={IconCodes.ArrowUp}/>
			Top
		</MenuItem>
		<MenuItem id={ElementIds.bdGradStopAct_newBottom}>
			<Icon IconCode={IconCodes.ArrowDown}/>
			Bottom
		</MenuItem>
	</SubMenu>

	<SubMenuItem popovertarget={ElementIds.bdGradStopAct_moveMenu}>
		<Icon IconCode={IconCodes.ArrowSort}/>
		Move stop color
		<div style="flex:1"/>
		<Icon IconCode={IconCodes.ChevronRight}/>
	</SubMenuItem>
	<SubMenu id={ElementIds.bdGradStopAct_moveMenu}>
		<MenuItem id={ElementIds.bdGradStopAct_moveTop}>
			<Icon IconCode={IconCodes.ArrowUp}/>
			Top
		</MenuItem>
		<MenuItem id={ElementIds.bdGradStopAct_moveBottom}>
			<Icon IconCode={IconCodes.ArrowDown}/>
			Bottom
		</MenuItem>
	</SubMenu>
</Menu>
<ColorPicker
	id={ElementIds.bdGradStop_colorPicker}
	PopoverGap={pxToRem(8)}
	PopoverDraggable
	PopoverPosition={FlyoutPosition.RightCenterToBottom}
/>