---
import Button from '@/native-components/Button/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import { ButtonVariant } from '@/native-components/Button'
import { AppColors } from '@/enums/colors'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { Commands } from '../../_scripts/_shared/_commands'
import { CSSClasses } from "../../_styles/_css"
---
<div class={CSSClasses.bodyPage} role="tabpanel" id={ElementIds.bodyBasic}>
	<div class={CSSClasses.bodyPageInput}>
		<input id={ElementIds.bodyBasicInput} readonly placeholder="0" class={CSSClasses.bodyInputField}/>
		<input id={ElementIds.bodyBasicOutput} readonly value="0" class={CSSClasses.bodyOutputField}/>
	</div>
	<div class={CSSClasses.bodyPageOptions}>
		<div class={CSSClasses.bodyPageOptionsGroup}>
			<Tooltip>
				<Button data-command={Commands.memoryClear} data-tooltip="Memory clear (Ctrl+Shift+C)">MC</Button>
				<Button data-command={Commands.memoryAdd} data-tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">M+</Button>
				<Button data-command={Commands.memorySubtract} data-tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">M-</Button>
				<Button class={CSSClasses.bodyPageMemoryPreview} data-command={Commands.memoryRecall} data-tooltip="Memory recall (Ctrl+Shift+R)">MR: 0</Button>
			</Tooltip>
		</div>
	</div>
	<div class={CSSClasses.bodyPageButtons} style="grid-template-columns: repeat(4, 1fr);">
		<Button data-command={Commands.keyChar} data-char="%" ButtonVariant={ButtonVariant.tonal}>%</Button>
		<Button data-command={Commands.keyChar} data-char="√" ButtonVariant={ButtonVariant.tonal}>√</Button>
		<Button data-command={Commands.keyClear} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppColors.accent})`}>C</Button>
		<Button data-command={Commands.keyBackspace} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppColors.accent})`}><Icon IconCode={IconCodes.backspace}/></Button>

		<Button data-command={Commands.keyChar} data-char="7" data-type="number" ButtonVariant={ButtonVariant.tonal}>7</Button>
		<Button data-command={Commands.keyChar} data-char="8" data-type="number" ButtonVariant={ButtonVariant.tonal}>8</Button>
		<Button data-command={Commands.keyChar} data-char="9" data-type="number" ButtonVariant={ButtonVariant.tonal}>9</Button>
		<Button data-command={Commands.keyChar} data-char="÷" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.slashForward}/></Button>

		<Button data-command={Commands.keyChar} data-char="4" data-type="number" ButtonVariant={ButtonVariant.tonal}>4</Button>
		<Button data-command={Commands.keyChar} data-char="5" data-type="number" ButtonVariant={ButtonVariant.tonal}>5</Button>
		<Button data-command={Commands.keyChar} data-char="6" data-type="number" ButtonVariant={ButtonVariant.tonal}>6</Button>
		<Button data-command={Commands.keyChar} data-char="×" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.dismiss}/></Button>

		<Button data-command={Commands.keyChar} data-char="1" data-type="number" ButtonVariant={ButtonVariant.tonal}>1</Button>
		<Button data-command={Commands.keyChar} data-char="2" data-type="number" ButtonVariant={ButtonVariant.tonal}>2</Button>
		<Button data-command={Commands.keyChar} data-char="3" data-type="number" ButtonVariant={ButtonVariant.tonal}>3</Button>
		<Button data-command={Commands.keyChar} data-char="-" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.lineHorizontal1}/></Button>

		<Button data-command={Commands.keyChar} data-char="0" data-type="number" ButtonVariant={ButtonVariant.tonal}>0</Button>
		<Button data-command={Commands.keyDecimal} ButtonVariant={ButtonVariant.tonal}>.</Button>
		<Button data-command={Commands.keyEqual} ButtonVariant={ButtonVariant.filled} style="font-weight:bold">=</Button>
		<Button data-command={Commands.keyChar} data-char="+" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.add}/></Button>
	</div>
</div>