---
import Select from '@/native-components/Select/index.astro'
import Button from '@/native-components/Button/index.astro'
import DatePicker from '@/native-components/DatePicker/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import TextField from '@/native-components/TextField/index.astro'
import SelectOption from '@/native-components/Select/SelectOption.astro'
import { DateOperation, ElementIds } from "../../_scripts/_enums"
import { CSSClasses } from "../../_styles/_css"
import { ButtonVariant } from '@/native-components/Button'
import { IconCodes } from '@/enums/icons'
import { FlyoutPosition } from '@/enums/position'
---

<div id={ElementIds.bodyDate} role="tabpanel" class={CSSClasses.bodyPageDate}>
	<label for={ElementIds.bodyDateOperation}>Operation</label>
	<Select id={ElementIds.bodyDateOperation} style="width:256px;margin-top:4px;margin-bottom:16px">
		<SelectOption value={DateOperation.add}>Add</SelectOption>
		<SelectOption value={DateOperation.subtract}>Subtract</SelectOption>
		<SelectOption value={DateOperation.difference} SelectOptionSelected>Difference</SelectOption>
	</Select>
	<label for={ElementIds.bodyDateInputFromButton}>From</label>
	<Button
		style="margin:4px 0 16px 0;width:256px"
		id={ElementIds.bodyDateInputFromButton}
		ButtonVariant={ButtonVariant.tonal}
		popovertarget={ElementIds.bodyDateInputFromDatePicker}>
		<span style="display:block">{new Date().toLocaleDateString('en', {day:'numeric', month: 'long', year: 'numeric'})}</span>
		<div style="flex:1"/>
		<Icon IconCode={IconCodes.calendar}/>
	</Button>
	<DatePicker
		id={ElementIds.bodyDateInputFromDatePicker}
		PopoverAnchorBy={ElementIds.bodyDateInputFromButton}
		PopoverPosition={FlyoutPosition.centerBottomToRight}
		PopoverGap={8}
		PopoverPadding={13}
	/>

	<div style="display: contents" id={ElementIds.bodyDateOperationDifference}>
		<label for={ElementIds.bodyDateInputToButton}>To</label>
		<Button
			style="margin:4px 0 16px 0;width:256px"
			id={ElementIds.bodyDateInputToButton}
			ButtonVariant={ButtonVariant.tonal}
			popovertarget={ElementIds.bodyDateInputToDatePicker}>
			<span style="display:block">{new Date().toLocaleDateString('en', {day:'numeric', month: 'long', year: 'numeric'})}</span>
			<div style="flex:1"/>
			<Icon IconCode={IconCodes.calendar}/>
		</Button>
		<DatePicker
			id={ElementIds.bodyDateInputToDatePicker}
			PopoverAnchorBy={ElementIds.bodyDateInputToButton}
			PopoverPosition={FlyoutPosition.centerBottomToRight}
			PopoverGap={8}
			PopoverPadding={13}
		/>
	</div>

	<div style={[
		'display:none',
		'grid-template-columns:repeat(3, 1fr)',
		'width:256px',
		'gap: 8px',
		'margin-bottom:16px'
	].join(';')} id={ElementIds.bodyDateOperationAddSubtract}>
		<div>
			<label for={ElementIds.bodyDateInputYears}>Years</label>
			<TextField
				style="margin-top:4px"
				TextFieldInputAttr={{id: ElementIds.bodyDateInputYears, type: 'number', min: '0', value: '0'}}
			/>
		</div>
		<div>
			<label for={ElementIds.bodyDateInputMonths}>Months</label>
			<TextField
				style="margin-top:4px"
				TextFieldInputAttr={{id: ElementIds.bodyDateInputMonths, type: 'number', min: '0', value: '0'}}
			/>
		</div>
		<div>
			<label for={ElementIds.bodyDateInputDays}>Days</label>
			<TextField
				style="margin-top:4px"
				TextFieldInputAttr={{id: ElementIds.bodyDateInputDays, type: 'number', min: '0', value: '0'}}
			/>
		</div>
	</div>
	<label for={ElementIds.bodyDateOutput}>Result</label>
	<output id={ElementIds.bodyDateOutput}>Same date</output>
</div>