---
import Select from '@/native-components/Select/index.astro'
import Button from '@/native-components/Button/index.astro'
import DatePicker from '@/native-components/DatePicker/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import SelectOption from '@/native-components/Select/SelectOption.astro'
import { ElementIds } from "../../_scripts/_enums"
import { CSSClasses } from "../../_styles/_css"
import { ButtonVariant } from '@/native-components/Button'
import { IconCodes } from '@/enums/icons'
import { FlyoutPosition } from '@/enums/position'
---

<div id={ElementIds.bodyDate} role="tabpanel" class={CSSClasses.bodyPageDate} hidden>
	<label>Operation:</label>
	<Select style="width:128px;margin-top:4px;margin-bottom:8px">
		<SelectOption value="add">Add</SelectOption>
		<SelectOption value="sub">Subtract</SelectOption>
		<SelectOption value="diff" SelectOptionSelected>Difference</SelectOption>
	</Select>
	<div style="display: contents">
		<label for={ElementIds.bodyDateInputFromButton}>From:</label>
		<Button
			style="margin:4px 0 8px 0"
			id={ElementIds.bodyDateInputFromButton}
			ButtonVariant={ButtonVariant.tonal}
			popovertarget={ElementIds.bodyDateInputFromDatePicker}>
			<span>{new Date().toLocaleDateString('en', {day:'numeric', month: 'long', year: 'numeric'})}</span>
			<Icon IconCode={IconCodes.calendar}/>
		</Button>
		<DatePicker
			id={ElementIds.bodyDateInputFromDatePicker}
			PopoverAnchorBy={ElementIds.bodyDateInputFromButton}
			PopoverPosition={FlyoutPosition.centerCenterLeftTop}
			PopoverPadding={13}
		/>

		<label for={ElementIds.bodyDateInputToButton}>To:</label>
		<Button
			style="margin:4px 0 8px 0"
			id={ElementIds.bodyDateInputToButton}
			ButtonVariant={ButtonVariant.tonal}
			popovertarget={ElementIds.bodyDateInputToDatePicker}>
			<span>{new Date().toLocaleDateString('en', {day:'numeric', month: 'long', year: 'numeric'})}</span>
			<Icon IconCode={IconCodes.calendar}/>
		</Button>
		<DatePicker
			id={ElementIds.bodyDateInputToDatePicker}
			PopoverAnchorBy={ElementIds.bodyDateInputToButton}
			PopoverPosition={FlyoutPosition.centerCenterLeftTop}
			PopoverPadding={13}
		/>
	</div>
	<label>Difference:</label>
	<outpu id={ElementIds.bodyDateOutput}>Same date</output>
</div>