---
import SideBar from '@/components/SideBar2/index.astro'
import Drawer from '@/components/Drawer/index.astro'
import Button from '@/components/Button/index.astro'
import Icon from '@/components/Icon/index.astro'
import DrawerButton from '@/components/Drawer/DrawerButton.astro'
import SideBarButton from '@/components/SideBar/SideBarButton.astro'
import { ButtonVariant } from '@/components/Button'
import { ElementIds } from '../_scripts/_enums'
import CSS from '../_index.module.scss'
import { IconCodes } from '@/enums/icons'

const items: {
	name: string
	selected: boolean
	controls: string
}[] = [
	{
		name: 'Buttons',
		controls: ElementIds.panelButtons,
		selected: false,
	},
	{
		name: 'CheckBox',
		controls: ElementIds.panelCheckbox,
		selected: false
	},
	{
		name: 'TextField',
		controls: ElementIds.panelTextfield,
		selected: false
	},
	{
		name: 'ColorPicker',
		controls: ElementIds.panelColorpicker,
		selected: false
	},
	{
		name: 'Icon',
		controls: ElementIds.panelIcon,
		selected: false
	},
	{
		name: 'List',
		controls: ElementIds.panelList,
		selected: false
	},
	{
		name: 'Popover',
		controls: ElementIds.panelPopover,
		selected: false
	},
	{
		name: 'Modal',
		controls: ElementIds.panelModal,
		selected: false
	},
	{
		name: 'ComboBox',
		controls: ElementIds.panelComboBox,
		selected: false
	},
	{
		name: 'Tooltip',
		controls: ElementIds.panelTooltip,
		selected: false
	},
	{
		name: 'Menu',
		controls: ElementIds.panelMenu,
		selected: false
	},
	{
		name: 'EmojiPicker',
		controls: ElementIds.panelEmojipicker,
		selected: false
	},
	{
		name: 'Drawer',
		controls: ElementIds.panelDrawer,
		selected: false
	},
	{
		name: 'Dialog',
		controls: ElementIds.panelDialog,
		selected: false
	},
	{
		name: 'DatePicker',
		controls: ElementIds.panelDatePicker,
		selected: true
	},
].sort((a, b) => a.name.localeCompare(b.name))
---

<SideBar
	class={CSS.sidebar}
	role="tablist"
	id={ElementIds.navigationSideBar}
	aria-label="Navigation">
	{items.map(v => <SideBarButton
		role="tab"
		aria-selected={v.selected}
		aria-controls={v.controls}
		SideBarButtonSelected={v.selected}
		ButtonVariant={v.selected ? ButtonVariant.tonal : undefined}>
		{v.name}
	</SideBarButton>)}
</SideBar>
<Drawer
	id={ElementIds.navigationDrawer}
	aria-label="Navigation">
	<Button
		slot="header"
		style="width:min-content"
		popovertarget={ElementIds.navigationDrawer}
		popovertargetaction="hide">
		<Icon IconCode={IconCodes.lineHorizontal3}/>
	</Button>
	{items.map(v => <DrawerButton
		aria-selected={v.selected}
		aria-controls={v.controls}
		DrawerButtonSelected={v.selected}
		ButtonVariant={v.selected ? ButtonVariant.tonal : undefined}>
		{v.name}
	</DrawerButton>)}
</Drawer>