---
import Button from '@/native-components/Button/index.astro'
import IconButton from '@/native-components/Button/IconButton.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import ComboBox from '@/native-components/ComboBox/index.astro'
import ComboBoxOption from '@/native-components/ComboBox/ComboBoxOption.astro'
import { CSSClasses } from "../../_styles/_css"
import { AppCSSColors } from '@/enums/app-data'
import { ButtonVariant } from '@/native-components/Button'
import { IconCodes } from '@/enums/icons'
import { ComboBoxVariant } from '@/native-components/ComboBox'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { Commands } from '../../_scripts/_shared/_commands'
import { CONVERTER_TYPES, DEFAULT_CONVERTER_INPUT, DEFAULT_CONVERTER_INPUT_UNIT, DEFAULT_CONVERTER_OUTPUT, DEFAULT_CONVERTER_OUTPUT_UNIT, DEFAULT_CONVERTER_TYPE } from '../../_scripts/_shared/_constant'
import { LengthUnits } from '../../_scripts/_shared/_units'
import { Pages } from '../../_scripts/_shared/_enums'
import { DEFAULT_PAGE } from '../../_scripts/_shared/_constant'
---
<div
	class={CSSClasses.bd_page}
	role="tabpanel"
	id={ElementIds.pg_converter}
	hidden={DEFAULT_PAGE !== Pages.converter}>
	<div class={CSSClasses.bdPage_input}>
		<input
			id={ElementIds.pgConv_input}
			readonly
			placeholder="0"
			value={DEFAULT_CONVERTER_INPUT}
			class={CSSClasses.bd_inField}
		/>
		<input
			id={ElementIds.pgConv_output}
			readonly
			value={DEFAULT_CONVERTER_OUTPUT ?? '0'}
			class={CSSClasses.bd_outField}
		/>
	</div>
	<div class={CSSClasses.bdPage_options} id={ElementIds.pgConv_options}>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Tooltip>
				<Button data-command={Commands.memo_clear} data-tooltip="Memory clear (Ctrl+Shift+C)">MC</Button>
				<Button data-command={Commands.memo_add} data-tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">M+</Button>
				<Button data-command={Commands.memo_sub} data-tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">M-</Button>
				<Button class={CSSClasses.bdPage_memoPreview} data-command={Commands.memo_recall} data-tooltip="Memory recall (Ctrl+Shift+R)">MR: 0</Button>
			</Tooltip>
		</div>
		<div class={CSSClasses.bdPage_optionGroup}>
			<label style="margin:0 8px 0 12px" for={ElementIds.pgConv_type}>Type:</label>
			<ComboBox id={ElementIds.pgConv_type} aria-label="Converter type" style="width:186px" ComboBoxVariant={ComboBoxVariant.outlined}>
				{CONVERTER_TYPES.map(c =>
					<ComboBoxOption value={c.type}
						selected={c.type === DEFAULT_CONVERTER_TYPE}>
						{c.text}
					</ComboBoxOption>
				)}
			</ComboBox>
		</div>
		<div class={CSSClasses.bdPage_optionGroup} style="display:grid;grid-template-columns:1fr 40px 1fr;gap:4px">
			<ComboBox id={ElementIds.pgConv_inputUnit} aria-label="Unit from">
				{LengthUnits.all.map(c =>
					<ComboBoxOption value={c.id} style="gap:0" selected={c.equals(DEFAULT_CONVERTER_INPUT_UNIT)}>
						{c.name} [&nbsp;<span style={`color:rgb(${AppCSSColors.accent})`}>{c.symbol}</span>&nbsp;]
					</ComboBoxOption>
				)}
			</ComboBox>
			<IconButton data-command={Commands.key_unitSwap} id={ElementIds.pgConv_swap} aria-label="Swap unit" IconButtonCode={IconCodes.arrowRight}/>
			<ComboBox id={ElementIds.pgConv_outputUnit} aria-label="Unit To">
				{LengthUnits.all.map(c =>
					<ComboBoxOption value={c.id} style="gap:0" selected={c.equals(DEFAULT_CONVERTER_OUTPUT_UNIT)}>
						{c.name} [&nbsp;<span style={`color:rgb(${AppCSSColors.accent})`}>{c.symbol}</span>&nbsp;]
					</ComboBoxOption>
				)}
			</ComboBox>
		</div>
	</div>
	<div class={CSSClasses.bdPage_buttons} style="grid-template-columns: repeat(3, 1fr);">
		<Button data-command={Commands.key_plusMin} ButtonVariant={ButtonVariant.tonal}>±</Button>
		<Button data-command={Commands.key_clear} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppCSSColors.accent})`}>C</Button>
		<Button data-command={Commands.key_backspace} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppCSSColors.accent})`}><Icon IconCode={IconCodes.backspace}/></Button>

		<Button data-command={Commands.key_char} data-char="7" data-type="number" ButtonVariant={ButtonVariant.tonal}>7</Button>
		<Button data-command={Commands.key_char} data-char="8" data-type="number" ButtonVariant={ButtonVariant.tonal}>8</Button>
		<Button data-command={Commands.key_char} data-char="9" data-type="number" ButtonVariant={ButtonVariant.tonal}>9</Button>

		<Button data-command={Commands.key_char} data-char="4" data-type="number" ButtonVariant={ButtonVariant.tonal}>4</Button>
		<Button data-command={Commands.key_char} data-char="5" data-type="number" ButtonVariant={ButtonVariant.tonal}>5</Button>
		<Button data-command={Commands.key_char} data-char="6" data-type="number" ButtonVariant={ButtonVariant.tonal}>6</Button>

		<Button data-command={Commands.key_char} data-char="1" data-type="number" ButtonVariant={ButtonVariant.tonal}>1</Button>
		<Button data-command={Commands.key_char} data-char="2" data-type="number" ButtonVariant={ButtonVariant.tonal}>2</Button>
		<Button data-command={Commands.key_char} data-char="3" data-type="number" ButtonVariant={ButtonVariant.tonal}>3</Button>

		<Button data-command={Commands.key_char} data-char="0" data-type="number" ButtonVariant={ButtonVariant.tonal}>0</Button>
		<Button data-command={Commands.key_dec} ButtonVariant={ButtonVariant.tonal}>.</Button>
		<Button data-command={Commands.key_equal} ButtonVariant={ButtonVariant.filled} style="font-weight:bold">=</Button>
	</div>
</div>