---
import Button from '@/native-components/Button/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import { CSSClasses } from "../../_styles/_css"
import { AppCSSColors } from '@/enums/app-data'
import { ButtonVariant } from '@/native-components/Button'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { Commands } from '../../_scripts/_shared/_commands'
import { NumberType, Pages } from '../../_scripts/_shared/_enums'
import { DEFAULT_PAGE, DEFAULT_PROGRAMMER_INPUT, DEFAULT_PROGRAMMER_NUMBER_TYPE, DEFAULT_PROGRAMMER_OUTPUT } from '../../_scripts/_shared/_constant'
const btnVal = CSSClasses.bdPageProg_btnValue
const btnHex = CSSClasses.bdPageProg_btnHex
const btnDec = CSSClasses.bdPageProg_btnDec
const btnOct = CSSClasses.bdPageProg_btnOct
const btnBin = CSSClasses.bdPageProg_btnBin
const types: {id: string, type: NumberType, text: string, value: string | number}[] = [
	{
		id: ElementIds.bdProg_outHex,
		type: NumberType.hexadecimal,
		text: 'HEX',
		value: DEFAULT_PROGRAMMER_OUTPUT?.toString(16).toUpperCase() ?? '0'
	},
	{
		id: ElementIds.bdProg_outDec,
		type: NumberType.decimal,
		text: 'DEC',
		value: DEFAULT_PROGRAMMER_OUTPUT ?? '0'
	},
	{
		id: ElementIds.bdProg_outOct,
		type: NumberType.octal,
		text: 'OCT',
		value: DEFAULT_PROGRAMMER_OUTPUT?.toString(8) ?? '0'
	},
	{
		id: ElementIds.bdProg_outBin,
		type: NumberType.binary,
		text: 'BIN',
		value: DEFAULT_PROGRAMMER_OUTPUT?.toString(2) ?? '0'
	},
]
---
<div
	class={CSSClasses.bd_page}
	role="tabpanel"
	id={ElementIds.bd_programmer}
	hidden={DEFAULT_PAGE !== Pages.programmer}>
	<div class={CSSClasses.bdPage_input}>
		<input
			type="text"
			readonly
			placeholder="0"
			id={ElementIds.bdProg_input}
			class={CSSClasses.bd_inField}
			value={DEFAULT_PROGRAMMER_INPUT}
		/>
		<div
			style="display:contents"
			role="listbox"
			aria-activedescendant={
				DEFAULT_PROGRAMMER_NUMBER_TYPE === NumberType.hexadecimal
					? ElementIds.bdProg_outHex
				: DEFAULT_PROGRAMMER_NUMBER_TYPE === NumberType.decimal
					? ElementIds.bdProg_outDec
				: DEFAULT_PROGRAMMER_NUMBER_TYPE === NumberType.octal
					? ElementIds.bdProg_outOct
				: DEFAULT_PROGRAMMER_NUMBER_TYPE === NumberType.binary
					? ElementIds.bdProg_outBin
				: ''}
			id={ElementIds.bdProg_output}>
			{types.map(v =>
				<div
					id={v.id}
					class={CSSClasses.bdPageProg_outputGroup}
					role="option"
					aria-selected={DEFAULT_PROGRAMMER_NUMBER_TYPE === v.type}>
					<input
						type="text"
						value={v.value}
						readonly
					/>
					<Button>{v.text}</Button>
				</div>
			)}
		</div>
	</div>
	<div class={CSSClasses.bdPage_options}>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Tooltip>
				<Button data-command={Commands.memo_clear} data-tooltip="Memory clear (Ctrl+Shift+C)">MC</Button>
				<Button data-command={Commands.memo_add} data-tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">M+</Button>
				<Button data-command={Commands.memo_sub} data-tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">M-</Button>
				<Button class={CSSClasses.bdPage_memoPreview} data-command={Commands.memo_recall} data-tooltip="Memory recall (Ctrl+Shift+R)">MR: 0</Button>
			</Tooltip>
		</div>
	</div>
	<div class={CSSClasses.bdPage_buttons} style="grid-template-columns: repeat(5, 1fr);">
		<Button data-command={Commands.key_plusMin} ButtonVariant={ButtonVariant.tonal}>±</Button>
		<Button data-command={Commands.key_char} data-char="(" ButtonVariant={ButtonVariant.tonal}>(</Button>
		<Button data-command={Commands.key_char} data-char=")" ButtonVariant={ButtonVariant.tonal}>)</Button>
		<Button data-command={Commands.key_clear} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppCSSColors.accent})`}>C</Button>
		<Button data-command={Commands.key_backspace} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppCSSColors.accent})`}><Icon IconCode={IconCodes.backspace}/></Button>

		<Button data-command={Commands.key_char} data-char="F" class={[btnVal, btnHex].join(' ')} data-type="number" disabled ButtonVariant={ButtonVariant.tonal}>F</Button>
		<Button data-command={Commands.key_char} data-char="not(" ButtonVariant={ButtonVariant.tonal}>not</Button>
		<Button data-command={Commands.key_char} data-char="mod" ButtonVariant={ButtonVariant.tonal}>mod</Button>
		<Button data-command={Commands.key_char} data-char="lsh" ButtonVariant={ButtonVariant.tonal}>lsh</Button>
		<Button data-command={Commands.key_char} data-char="rsh" ButtonVariant={ButtonVariant.tonal}>rsh</Button>

		<Button data-command={Commands.key_char} class={[btnVal, btnHex].join(' ')} data-char="E" data-type="number" disabled ButtonVariant={ButtonVariant.tonal}>E</Button>
		<Button data-command={Commands.key_char} data-char="or" ButtonVariant={ButtonVariant.tonal}>or</Button>
		<Button data-command={Commands.key_char} data-char="and" ButtonVariant={ButtonVariant.tonal}>and</Button>
		<Button data-command={Commands.key_char} data-char="xor" ButtonVariant={ButtonVariant.tonal}>xor</Button>
		<Button data-command={Commands.key_char} data-char="^" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.chevronUp}/></Button>

		<Button data-command={Commands.key_char} class={[btnVal, btnHex].join(' ')} data-char="D" data-type="number" disabled ButtonVariant={ButtonVariant.tonal}>D</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="7" data-type="number" ButtonVariant={ButtonVariant.tonal}>7</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec].join(' ')} data-char="8" data-type="number" ButtonVariant={ButtonVariant.tonal}>8</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec].join(' ')} data-char="9" data-type="number" ButtonVariant={ButtonVariant.tonal}>9</Button>
		<Button data-command={Commands.key_char} data-char="÷" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.slashForward}/></Button>

		<Button data-command={Commands.key_char} class={[btnVal, btnHex].join(' ')} data-char="C" data-type="number" disabled ButtonVariant={ButtonVariant.tonal}>C</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="4" data-type="number" ButtonVariant={ButtonVariant.tonal}>4</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="5" data-type="number" ButtonVariant={ButtonVariant.tonal}>5</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="6" data-type="number" ButtonVariant={ButtonVariant.tonal}>6</Button>
		<Button data-command={Commands.key_char} data-char="×" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.dismiss}/></Button>

		<Button data-command={Commands.key_char} class={[btnVal, btnHex].join(' ')} data-char="B" data-type="number" disabled ButtonVariant={ButtonVariant.tonal}>B</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct, btnBin].join(' ')} data-char="1" data-type="number" ButtonVariant={ButtonVariant.tonal}>1</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="2" data-type="number" ButtonVariant={ButtonVariant.tonal}>2</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct].join(' ')} data-char="3" data-type="number" ButtonVariant={ButtonVariant.tonal}>3</Button>
		<Button data-command={Commands.key_char} data-char="-" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.lineHorizontal1}/></Button>

		<Button data-command={Commands.key_char} class={[btnVal, btnHex].join(' ')} data-char="A" data-type="number" disabled ButtonVariant={ButtonVariant.tonal}>A</Button>
		<Button data-command={Commands.key_char} class={[btnVal, btnHex, btnDec, btnOct, btnBin].join(' ')} data-char="0" data-type="number" ButtonVariant={ButtonVariant.tonal}>0</Button>
		<Button data-command={Commands.key_dec} class={[btnVal, btnDec].join(' ')} ButtonVariant={ButtonVariant.tonal}>.</Button>
		<Button data-command={Commands.key_equal} ButtonVariant={ButtonVariant.filled} style="font-weight:bold">=</Button>
		<Button data-command={Commands.key_char} data-char="+" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.add}/></Button>
	</div>
</div>