---
import Button from '@/native-components/Button/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Popover from '@/native-components/Popover/index.astro'
import Icon from '@/native-components/Icon/index.astro'
import ComboBox from '@/native-components/ComboBox/index.astro'
import CheckBox from '@/native-components/CheckBox/index.astro'
import Divider from '@/native-components/Divider/index.astro'
import ComboBoxOption from '@/native-components/ComboBox/ComboBoxOption.astro'
import { CSSClasses } from "../../_styles/_css"
import { AppCSSColors } from '@/enums/app-data'
import { ButtonVariant } from '@/native-components/Button'
import { PopoverPosition } from '@/native-components/Popover'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { Commands } from '../../_scripts/_shared/_commands'
import { ScientificAngleType } from '../../_scripts/_shared/_enums'
import { Pages } from '../../_scripts/_shared/_enums'
import { DEFAULT_PAGE, DEFAULT_SCIENTIFIC_ANGLE, DEFAULT_SCIENTIFIC_INPUT, DEFAULT_SCIENTIFIC_OUTPUT } from '../../_scripts/_shared/_constant'
---
<div
	class={CSSClasses.bd_page}
	role="tabpanel"
	id={ElementIds.pg_scientific}
	hidden={DEFAULT_PAGE !== Pages.scientific}>
	<div class={CSSClasses.bdPage_input}>
		<input
			id={ElementIds.pgSci_input}
			readonly
			placeholder="0"
			value={DEFAULT_SCIENTIFIC_INPUT}
			class={CSSClasses.bd_inField}
		/>
		<input
			id={ElementIds.pgSci_output}
			readonly
			value={DEFAULT_SCIENTIFIC_OUTPUT ?? '0'}
			class={CSSClasses.bd_outField}
		/>
	</div>
	<div class={CSSClasses.bdPage_options}>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Tooltip>
				<Button data-command={Commands.memo_clear} data-tooltip="Memory clear (Ctrl+Shift+C)">MC</Button>
				<Button data-command={Commands.memo_add} data-tooltip="Memory add (Ctrl+Shift+&quot;+&quot;)">M+</Button>
				<Button data-command={Commands.memo_sub} data-tooltip="Memory subtract (Ctrl+Shift+&quot;-&quot;)">M-</Button>
				<Button class={CSSClasses.bdPage_memoPreview} data-command={Commands.memo_recall} data-tooltip="Memory recall (Ctrl+Shift+R)">MR: 0</Button>
			</Tooltip>
		</div>
		<div class={CSSClasses.bdPage_optionGroup}>
			<Button
				ButtonVariant={ButtonVariant.tonal}
				id={ElementIds.pgSci_fnBtn}
				aria-haspopup="true"
				aria-expanded="false"
				aria-controls={ElementIds.pgSci_fnMenu}
				popovertarget={ElementIds.pgSci_fnMenu}>
				<Icon IconCode={IconCodes.mathFormula}/>
				Functions
				<div style="min-width:4px;max-width:4px;"/>
				<Icon IconCode={IconCodes.chevronDown}/>
			</Button>
			<Popover
				popover="manual"
				PopoverDraggable
				PopoverGap={8}
				PopoverPosition={PopoverPosition.centerBottomToRight}
				PopoverPadding={16}
				id={ElementIds.pgSci_fnMenu}
				PopoverAnchorBy={ElementIds.pgSci_fnBtn}>
				<div class={CSSClasses.bdPageSci_menuGrid}>
					<Button data-command={Commands.key_char} data-char="abs(" ButtonVariant={ButtonVariant.tonal}>abs(x)</Button>
					<Button data-command={Commands.key_char} data-char="log(" ButtonVariant={ButtonVariant.tonal}>log(x)</Button>
					<Button data-command={Commands.key_char} data-char="ln(" ButtonVariant={ButtonVariant.tonal}>ln(x)</Button>
					<Button data-command={Commands.key_char} data-char="ceil(" ButtonVariant={ButtonVariant.tonal}>ceil(x)</Button>
					<Button data-command={Commands.key_char} data-char="round(" ButtonVariant={ButtonVariant.tonal}>round(x)</Button>
					<Button data-command={Commands.key_char} data-char="floor(" ButtonVariant={ButtonVariant.tonal}>floor(x)</Button>
				</div>
				<Divider/>
				<div style="padding: 16px 16px 0 8px;display:flex;gap:4px;">
					<CheckBox CheckBoxInputAttr={{id: ElementIds.pgSci_fnInv}}>Invers</CheckBox>
					<CheckBox CheckBoxInputAttr={{id: ElementIds.pgSci_fnHyper}}>Hyperbolic</CheckBox>
				</div>
				<div style="padding-top: 4px" class={CSSClasses.bdPageSci_menuGrid}>
					<Button data-command={Commands.key_char} data-char="sin(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={ButtonVariant.tonal}>sin(x)</Button>
					<Button data-command={Commands.key_char} data-char="cos(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={ButtonVariant.tonal}>cos(x)</Button>
					<Button data-command={Commands.key_char} data-char="tan(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={ButtonVariant.tonal}>tan(x)</Button>
					<Button data-command={Commands.key_char} data-char="csc(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={ButtonVariant.tonal}>csc(x)</Button>
					<Button data-command={Commands.key_char} data-char="sec(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={ButtonVariant.tonal}>sec(x)</Button>
					<Button data-command={Commands.key_char} data-char="cot(" class={CSSClasses.bdPageSci_trigonometry} ButtonVariant={ButtonVariant.tonal}>cot(x)</Button>
				</div>
			</Popover>
			<ComboBox id={ElementIds.pgSci_angle}>
				<ComboBoxOption
					selected={DEFAULT_SCIENTIFIC_ANGLE === ScientificAngleType.RAD}
					value={ScientificAngleType.RAD}>RAD</ComboBoxOption>
				<ComboBoxOption
					selected={DEFAULT_SCIENTIFIC_ANGLE === ScientificAngleType.DEG}
					value={ScientificAngleType.DEG}>DEG</ComboBoxOption>
				<ComboBoxOption
					selected={DEFAULT_SCIENTIFIC_ANGLE === ScientificAngleType.GRAD}
					value={ScientificAngleType.GRAD}>GRAD</ComboBoxOption>
			</ComboBox>
		</div>
	</div>
	<div class={CSSClasses.bdPage_buttons} style="grid-template-columns: repeat(5, 1fr);">
		<Button data-command={Commands.key_char} data-char="mod" ButtonVariant={ButtonVariant.tonal}>mod</Button>
		<Button data-command={Commands.key_char} data-char="(" ButtonVariant={ButtonVariant.tonal}>(</Button>
		<Button data-command={Commands.key_char} data-char=")" ButtonVariant={ButtonVariant.tonal}>)</Button>
		<Button data-command={Commands.key_clear} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppCSSColors.accent})`}>C</Button>
		<Button data-command={Commands.key_backspace} ButtonVariant={ButtonVariant.tonal} style={`color:rgb(${AppCSSColors.accent})`}><Icon IconCode={IconCodes.backspace}/></Button>

		<Button data-command={Commands.key_char} data-char="%" ButtonVariant={ButtonVariant.tonal}>%</Button>
		<Button data-command={Commands.key_char} data-char="10^" ButtonVariant={ButtonVariant.tonal}>10^</Button>
		<Button data-command={Commands.key_char} data-char="^2" ButtonVariant={ButtonVariant.tonal}>^2</Button>
		<Button data-command={Commands.key_char} data-char="e^" ButtonVariant={ButtonVariant.tonal}>e^</Button>
		<Button data-command={Commands.key_char} data-char="^" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.chevronUp}/></Button>

		<Button data-command={Commands.key_char} data-char="!" ButtonVariant={ButtonVariant.tonal}>!</Button>
		<Button data-command={Commands.key_char} data-char="7" data-type="number" ButtonVariant={ButtonVariant.tonal}>7</Button>
		<Button data-command={Commands.key_char} data-char="8" data-type="number" ButtonVariant={ButtonVariant.tonal}>8</Button>
		<Button data-command={Commands.key_char} data-char="9" data-type="number" ButtonVariant={ButtonVariant.tonal}>9</Button>
		<Button data-command={Commands.key_char} data-char="÷" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.slashForward}/></Button>

		<Button data-command={Commands.key_char} data-char="e" ButtonVariant={ButtonVariant.tonal}>e</Button>
		<Button data-command={Commands.key_char} data-char="4" data-type="number" ButtonVariant={ButtonVariant.tonal}>4</Button>
		<Button data-command={Commands.key_char} data-char="5" data-type="number" ButtonVariant={ButtonVariant.tonal}>5</Button>
		<Button data-command={Commands.key_char} data-char="6" data-type="number" ButtonVariant={ButtonVariant.tonal}>6</Button>
		<Button data-command={Commands.key_char} data-char="×" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.dismiss}/></Button>

		<Button data-command={Commands.key_char} data-char="π" ButtonVariant={ButtonVariant.tonal}>π</Button>
		<Button data-command={Commands.key_char} data-char="1" data-type="number" ButtonVariant={ButtonVariant.tonal}>1</Button>
		<Button data-command={Commands.key_char} data-char="2" data-type="number" ButtonVariant={ButtonVariant.tonal}>2</Button>
		<Button data-command={Commands.key_char} data-char="3" data-type="number" ButtonVariant={ButtonVariant.tonal}>3</Button>
		<Button data-command={Commands.key_char} data-char="-" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.lineHorizontal1}/></Button>

		<Button data-command={Commands.key_char} data-char="√" ButtonVariant={ButtonVariant.tonal}>√</Button>
		<Button data-command={Commands.key_char} data-char="0" data-type="number" ButtonVariant={ButtonVariant.tonal}>0</Button>
		<Button data-command={Commands.key_dec} ButtonVariant={ButtonVariant.tonal}>.</Button>
		<Button data-command={Commands.key_equal} ButtonVariant={ButtonVariant.filled} style="font-weight:bold">=</Button>
		<Button data-command={Commands.key_char} data-char="+" ButtonVariant={ButtonVariant.tonal}><Icon IconCode={IconCodes.add}/></Button>
	</div>
</div>