---
import TextField from '@/components/TextField/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { DEFAULT_COLORS_COUNT, DEFAULT_COLORS_OUTPUT, DEFAULT_COLORS_HEX_MAX, DEFAULT_COLORS_HEX_MIN, DEFAULT_COLORS_HSL_H_MAX, DEFAULT_COLORS_HSL_H_MIN, DEFAULT_COLORS_HSL_L_MAX, DEFAULT_COLORS_HSL_L_MIN, DEFAULT_COLORS_HSL_S_MAX, DEFAULT_COLORS_HSL_S_MIN, DEFAULT_COLORS_RGB_B_MAX, DEFAULT_COLORS_RGB_B_MIN, DEFAULT_COLORS_RGB_G_MAX, DEFAULT_COLORS_RGB_G_MIN, DEFAULT_COLORS_RGB_R_MAX, DEFAULT_COLORS_RGB_R_MIN, DEFAULT_COLORS_SPACE, DEFAULT_PAGE } from "../../_scripts/_shared/_constant"
import { Pages, ColorsRandomizerSpace } from "../../_scripts/_shared/_enums"
import { ElementIds } from "../../_scripts/_shared/_ids"
import { CSSClasses } from "../../_styles/_css"
import { colorContrastRatio, hexToRgb, rgbToHsl } from '@/utils/color'
import { pxToRem } from '@/utils/css'

const colorSpaces: {
	text: string
	value: ColorsRandomizerSpace
}[] = [
	{value: ColorsRandomizerSpace.hex, text: 'Hex'},
	{value: ColorsRandomizerSpace.rgb, text: 'RGB'},
	{value: ColorsRandomizerSpace.hsl, text: 'HSL'},
]
---
<style lang="scss">
	@use '../../../../styles/units.scss' as u;

	.options p {
		font-size: var(--g-font-size-xs);
		margin-top: u.Rem(8px);
		color: rgba(var(--g-color-on-surface), var(--g-opacity-inv2));
	}

	.minmax {
		margin-top: u.Rem(2px);
		border: u.Rem(1px) solid rgba(var(--g-color-on-surface),var(--g-opacity-border));
		border-radius: u.Rem(4px);
		padding: u.Rem(4px) u.Rem(8px) u.Rem(8px) u.Rem(8px);
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: u.Rem(8px);
	}
</style>
<div
	class={CSSClasses.bodyPage}
	id={ElementIds.pg_colors}
	role="tabpanel"
	hidden={DEFAULT_PAGE !== Pages.colors}>
	<output
		class={[CSSClasses.bodyResult, CSSClasses.resultColors].join(' ')}
		for={[
			ElementIds.pgCol_count,
			ElementIds.pgCol_space,
			ElementIds.pgCol_hexMin,
			ElementIds.pgCol_hexMax,
			ElementIds.pgCol_redMin,
			ElementIds.pgCol_redMax,
			ElementIds.pgCol_greenMin,
			ElementIds.pgCol_greenMax,
			ElementIds.pgCol_blueMin,
			ElementIds.pgCol_blueMax,
			ElementIds.pgCol_hueMin,
			ElementIds.pgCol_hueMax,
			ElementIds.pgCol_saturationMin,
			ElementIds.pgCol_saturationMax,
			ElementIds.pgCol_lightMin,
			ElementIds.pgCol_lightMax,
		].join(' ')}>
		<ul id={ElementIds.pgCol_output}>
			{DEFAULT_COLORS_OUTPUT.map(hex => {
				const rgb = hexToRgb(hex)
				const hsl = rgbToHsl(rgb)
				const r = (v: number) => Math.round(v)
				const color = colorContrastRatio(rgb, {r: 0, g: 0, b: 0}) > 50? '#000' : '#fff'
				return (<li style={{
						backgroundColor: hex,
						color
					}}>
					{hex}<br/>
					{`rgb(${r(rgb.r * 0xff)}, ${r(rgb.g * 0xff)}, ${r(rgb.b * 0xff)})`}<br/>
					{`hsl(${r(hsl.h * 360)}, ${r(hsl.s * 100)}%, ${r(hsl.l * 100)}%)`}
				</li>)
			})}
		</ul>
	</output>
	<div class:list={[CSSClasses.bodyOptions, 'options']}>
		<label for={ElementIds.pgCol_count}>Count:</label>
		<TextField
			style={{'margin-top': pxToRem(2) + 'rem'}}
			TextFieldInputAttr={{
				id: ElementIds.pgCol_count,
				value: DEFAULT_COLORS_COUNT,
				min: 1,
				type: 'number'
			}}
		/>

		<label
			style={{'margin-top': pxToRem(8) + 'rem'}}
			for={ElementIds.pgCol_space}>Color space:</label>
		<ComboBox
			style={{'margin-top': pxToRem(2) + 'rem'}}
			id={ElementIds.pgCol_space}>
			{colorSpaces.map(v =>
				<ComboBoxOption
					value={v.value}
					selected={v.value === DEFAULT_COLORS_SPACE}>{v.text}</ComboBoxOption>
			)}
		</ComboBox>
		<div id={ElementIds.pgCol_hex} style={{
			display: DEFAULT_COLORS_SPACE === ColorsRandomizerSpace.hex? 'contents' : 'none'
		}}>
			<p>Hex:</p>
			<div class:list={["minmax"]}>
				<div>
					<label for={ElementIds.pgCol_hexMin}>Min:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_hexMin,
							value: DEFAULT_COLORS_HEX_MIN,
							min: 0,
							max: DEFAULT_COLORS_HEX_MAX,
							type: 'number'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.pgCol_hexMax}>Max:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_hexMax,
							value: DEFAULT_COLORS_HEX_MAX,
							min: DEFAULT_COLORS_HEX_MIN,
							max: 0xffffff,
							type: 'number'
						}}
					/>
				</div>
			</div>
		</div>
		<div id={ElementIds.pgCol_rgb} style={{
			display: DEFAULT_COLORS_SPACE === ColorsRandomizerSpace.rgb? 'contents' : 'none'
		}}>
			<p>Red:</p>
			<div class:list={["minmax"]}>
				<div>
					<label for={ElementIds.pgCol_redMin}>Min:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_redMin,
							value: DEFAULT_COLORS_RGB_R_MIN,
							min: 0,
							max: DEFAULT_COLORS_RGB_R_MAX,
							type: 'number'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.pgCol_redMax}>Max:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_redMax,
							value: DEFAULT_COLORS_RGB_R_MAX,
							min: DEFAULT_COLORS_RGB_R_MIN,
							max: 0xff,
							type: 'number'
						}}
					/>
				</div>
			</div>
			<p>Green:</p>
			<div class:list={["minmax"]}>
				<div>
					<label for={ElementIds.pgCol_greenMin}>Min:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_greenMin,
							value: DEFAULT_COLORS_RGB_G_MIN,
							min: 0,
							max: DEFAULT_COLORS_RGB_G_MAX,
							type: 'number'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.pgCol_greenMax}>Max:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_greenMax,
							value: DEFAULT_COLORS_RGB_G_MAX,
							min: DEFAULT_COLORS_RGB_G_MIN,
							max: 0xff,
							type: 'number'
						}}
					/>
				</div>
			</div>
			<p>Blue:</p>
			<div class:list={["minmax"]}>
				<div>
					<label for={ElementIds.pgCol_blueMin}>Min:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_blueMin,
							value: DEFAULT_COLORS_RGB_B_MIN,
							min: 0,
							max: DEFAULT_COLORS_RGB_B_MAX,
							type: 'number'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.pgCol_blueMax}>Max:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_blueMax,
							value: DEFAULT_COLORS_RGB_B_MAX,
							min: DEFAULT_COLORS_RGB_B_MIN,
							max: 0xff,
							type: 'number'
						}}
					/>
				</div>
			</div>
		</div>
		<div id={ElementIds.pgCol_hsl} style={{
			display: DEFAULT_COLORS_SPACE === ColorsRandomizerSpace.hsl? 'contents' : 'none'
		}}>
			<p>Hue:</p>
			<div class:list={["minmax"]}>
				<div>
					<label for={ElementIds.pgCol_hueMin}>Min:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_hueMin,
							value: DEFAULT_COLORS_HSL_H_MIN,
							min: 0,
							max: DEFAULT_COLORS_HSL_H_MAX,
							type: 'number'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.pgCol_hueMax}>Max:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_hueMax,
							value: DEFAULT_COLORS_HSL_H_MAX,
							min: DEFAULT_COLORS_HSL_H_MIN,
							max: 360,
							type: 'number'
						}}
					/>
				</div>
			</div>
			<p>Saturation:</p>
			<div class:list={["minmax"]}>
				<div>
					<label for={ElementIds.pgCol_saturationMin}>Min:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_saturationMin,
							value: DEFAULT_COLORS_HSL_S_MIN,
							min: 0,
							max: DEFAULT_COLORS_HSL_S_MAX,
							type: 'number'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.pgCol_saturationMax}>Max:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_saturationMax,
							value: DEFAULT_COLORS_HSL_S_MAX,
							min: DEFAULT_COLORS_HSL_S_MIN,
							max: 100,
							type: 'number'
						}}
					/>
				</div>
			</div>
			<p>Lightness:</p>
			<div class:list={["minmax"]}>
				<div>
					<label for={ElementIds.pgCol_lightMin}>Min:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_lightMin,
							value: DEFAULT_COLORS_HSL_L_MIN,
							min: 0,
							max: DEFAULT_COLORS_HSL_L_MAX,
							type: 'number'
						}}
					/>
				</div>
				<div>
					<label for={ElementIds.pgCol_lightMax}>Max:</label>
					<TextField
						style={{'margin-top': pxToRem(2) + 'rem'}}
						TextFieldInputAttr={{
							id: ElementIds.pgCol_lightMax,
							value: DEFAULT_COLORS_HSL_L_MAX,
							min: DEFAULT_COLORS_HSL_L_MIN,
							max: 100,
							type: 'number'
						}}
					/>
				</div>
			</div>
		</div>
	</div>
</div>