---
import TextField from '@/components/TextField/index.astro'
import ComboBox from '@/components/ComboBox/index.astro'
import ComboBoxOption from '@/components/ComboBox/ComboBoxOption.astro'
import { DEFAULT_LISTS, DEFAULT_SELECTION_OUTPUT, DEFAULT_PAGE, DEFAULT_SELECTION_COUNT, DEFAULT_SELECTION_LIST_ID } from "../../_scripts/_shared/_constant"
import { Pages } from "../../_scripts/_shared/_enums"
import { ElementIds } from "../../_scripts/_shared/_ids"
import { CSSClasses } from "../../_styles/_css"
---

<div
	class={CSSClasses.bodyPage}
	id={ElementIds.pg_selection}
	role="tabpanel"
	hidden={DEFAULT_PAGE !== Pages.selection}>
	<output
		class:list={[CSSClasses.bodyResult, CSSClasses.resultSelection]}
		for={[
			ElementIds.pgSel_list,
			ElementIds.pgSel_count,
		].join(' ')}>
		<ul id={ElementIds.pgSel_output}>
			{[...DEFAULT_LISTS
				.find(v => v.id === DEFAULT_SELECTION_LIST_ID)!
				.items
			]	.sort((a, b) => a.localeCompare(b))
				.map(v => {
				return (<li data-selected={DEFAULT_SELECTION_OUTPUT.some(a => v === a)? '' : undefined}>{v}</li>)
			})}
		</ul>
	</output>
	<div class={CSSClasses.bodyOptions}>
		<label for={ElementIds.pgSel_list}>List:</label>
		<ComboBox
			style="margin-top:2px"
			id={ElementIds.pgSel_list}>
			{DEFAULT_LISTS.map(v =>
				<ComboBoxOption
					value={v.id}
					selected={v.id === DEFAULT_SELECTION_LIST_ID}>{v.name} ({v.items.length})</ComboBoxOption>
			)}
		</ComboBox>

		<label
			style="margin-top:8px"
			for={ElementIds.pgSel_count}>Count:</label>
		<TextField
			style="margin-top:2px"
			TextFieldInputAttr={{
				id: ElementIds.pgSel_count,
				type: 'number',
				value: DEFAULT_SELECTION_COUNT,
				min: 1,
				max: DEFAULT_LISTS.find(v => v.id === DEFAULT_SELECTION_LIST_ID)!.items.length
			}}
		/>
	</div>
</div>