---
import TextField from '@/native-components/TextField/index.astro'
import ComboBox from '@/native-components/ComboBox/index.astro'
import ComboBoxOption from '@/native-components/ComboBox/ComboBoxOption.astro'
import CheckBox from '@/native-components/CheckBox/index.astro'
import { DEFAULT_LISTS, DEFAULT_PAGE, DEFAULT_WORDS_OUTPUT, DEFAULT_WORDS_CASE, DEFAULT_WORDS_COUNT, DEFAULT_WORDS_LIST_ID, DEFAULT_WORDS_PREFIX, DEFAULT_WORDS_REPEAT, DEFAULT_WORDS_SEPARATOR, DEFAULT_WORDS_SUFFIX } from "../../_scripts/_shared/_constant"
import { Pages, WordsRandomizerCase } from "../../_scripts/_shared/_enums"
import { ElementIds } from "../../_scripts/_shared/_ids"
import { CSSClasses } from "../../_styles/_css"

const wordCases: {
	value: WordsRandomizerCase
	text: string
}[] = [
	{value: WordsRandomizerCase.lowercase, text: 'lower case'},
	{value: WordsRandomizerCase.lowercase, text: 'UPPER CASE'},
	{value: WordsRandomizerCase.titlecase, text: 'Title Case'},
	{value: WordsRandomizerCase.togglecase, text: 'tOGGLE cASE'},
	{value: WordsRandomizerCase.none, text: 'Default'},
]
---

<div
	class={CSSClasses.bodyPage}
	id={ElementIds.pg_words}
	role="tabpanel"
	hidden={DEFAULT_PAGE !== Pages.words}>
	<output
		class:list={[CSSClasses.bodyResult, CSSClasses.resultWords]}
		id={ElementIds.pgWrd_output}
		for={[
			ElementIds.pgWrd_list,
			ElementIds.pgWrd_count,
			ElementIds.pgWrd_case,
			ElementIds.pgWrd_separator,
			ElementIds.pgWrd_prefix,
			ElementIds.pgWrd_suffix,
			ElementIds.pgWrd_repeat,
		].join(' ')}>{
		DEFAULT_WORDS_OUTPUT
	}</output>
	<div class={CSSClasses.bodyOptions}>
		<label for={ElementIds.pgWrd_list}>List:</label>
		<ComboBox
			style="margin-top:2px"
			id={ElementIds.pgWrd_list}>
			{DEFAULT_LISTS.map(v =>
				<ComboBoxOption
					value={v.id}
					selected={v.id === DEFAULT_WORDS_LIST_ID}>{v.name} ({v.items.length})</ComboBoxOption>
			)}
		</ComboBox>

		<label
			style="margin-top:8px"
			for={ElementIds.pgWrd_count}>Count:</label>
		<TextField
			style="margin-top:2px"
			TextFieldInputAttr={{
				id: ElementIds.pgWrd_count,
				value: DEFAULT_WORDS_COUNT,
				type: 'number',
				min: 1
			}}
		/>

		<label
			style="margin-top:8px"
			for={ElementIds.pgWrd_case}>Word case:</label>
		<ComboBox
			style="margin-top:2px"
			id={ElementIds.pgWrd_case}>
			{wordCases.map(v =>
				<ComboBoxOption
					value={v.value}
					selected={v.value === DEFAULT_WORDS_CASE}>{v.text}</ComboBoxOption>
			)}
		</ComboBox>

		<label
			style="margin-top:8px"
			for={ElementIds.pgWrd_separator}>Separator:</label>
		<TextField
			style="margin-top:2px"
			TextFieldInputAttr={{
				id: ElementIds.pgWrd_separator,
				value: DEFAULT_WORDS_SEPARATOR
			}}
		/>

		<div style={{
			display: 'grid',
			gridTemplateColumns: '1fr 1fr',
			gap: '8px',
			marginTop: '8px'
		}}>
			<div>
				<label for={ElementIds.pgWrd_prefix}>Prefix:</label>
				<TextField
					style="margin-top:2px"
					TextFieldInputAttr={{
						id: ElementIds.pgWrd_prefix,
						value: DEFAULT_WORDS_PREFIX
					}}
				/>
			</div>
			<div>
				<label for={ElementIds.pgWrd_suffix}>Suffix:</label>
				<TextField
					style="margin-top:2px"
					TextFieldInputAttr={{
						id: ElementIds.pgWrd_suffix,
						value: DEFAULT_WORDS_SUFFIX
					}}
				/>
			</div>
		</div>
		<CheckBox
			style="margin-top:8px"
			CheckBoxChecked={DEFAULT_WORDS_REPEAT}
			CheckBoxInputAttr={{id: ElementIds.pgWrd_repeat}}>Repeat</CheckBox>
	</div>
</div>