---
import { ButtonVariant } from '@/native-components/Button'
import { ElementIds } from '../../_scripts/_shared/_ids'
import { CSSClasses } from '../../_styles/_css'
import Button from '@/native-components/Button/index.astro'
import IconButton from '@/native-components/Button/IconButton.astro'
import Icon from '@/native-components/Icon/index.astro'
import Tooltip from '@/native-components/Tooltip/index.astro'
import Dialog from '@/native-components/Dialog/index.astro'
import TextField from '@/native-components/TextField/index.astro'
import { IconCodes } from '@/enums/icons'
import ringtone from '@/assets/audio/simple-ringtone-84595.mp3'
---

<div
	id={ElementIds.bodyTimer}
	class={[CSSClasses.bodyPage, CSSClasses.bodyPageTimer].join(' ')}
	role="tabpanel"
	hidden>
	<h2 id={ElementIds.bodyTimerTime}>00:10:00</h2>
	<audio id={ElementIds.bodyTimerAudio} loop src={ringtone}></audio>
	<Tooltip style="display:flex;justify-content:center;gap:8px">
		<Button
			style="width:92px"
			ButtonVariant={ButtonVariant.filled}
			id={ElementIds.bodyTimerActionPlayPause}>
			<Icon IconCode={IconCodes.play} IconFilled/>
			<span>Start</span>
		</Button>
		<IconButton
			id={ElementIds.bodyTimerActionEditReset}
			IconButtonCode={IconCodes.edit}
			ButtonVariant={ButtonVariant.tonal}
			aria-label="Edit timer"
			data-tooltip="Edit timer"
		/>
	</Tooltip>
	<Dialog
		id={ElementIds.bodyTimerEditDialog}
		style="width:360px">
		<Fragment slot="header">Edit Timer</Fragment>
		<div style={{display: 'grid', gridTemplateColumns: 'repeat(3, 1fr)', gap: '8px', marginBottom: '8px'}}>
			<label for={ElementIds.bodyTimerEditHours}>Hours:</label>
			<label for={ElementIds.bodyTimerEditMinutes}>Minutes:</label>
			<label for={ElementIds.bodyTimerEditSeconds}>Seconds:</label>
		</div>
		<div style={{display: 'grid', gridTemplateColumns: 'repeat(3, 1fr)', gap: '8px'}}>
			<TextField TextFieldInputAttr={{
				type: 'number', value: 0, min: 0, max: 99, placeholder: 'Hours',
				id: ElementIds.bodyTimerEditHours
			}}/>
			<TextField TextFieldInputAttr={{
				type: 'number', value: 10, min: 0, max: 99, placeholder: 'Minutes',
				id: ElementIds.bodyTimerEditMinutes
			}}/>
			<TextField TextFieldInputAttr={{
				type: 'number', value: 0, min: 0, max: 99, placeholder: 'Seconds',
				id: ElementIds.bodyTimerEditSeconds
			}}/>
		</div>
		<form slot="footer" method="dialog" style="display:contents">
			<Button ButtonVariant={ButtonVariant.tonal}>Cancel</Button>
			<Button id={ElementIds.bodyTimerEditSave} ButtonVariant={ButtonVariant.filled}>Save</Button>
		</form>
	</Dialog>
	<Dialog style="width:360px" id={ElementIds.bodyTimerDone}>
		<Fragment slot="header">Timer Done</Fragment>
		<p id={ElementIds.bodyTimerDoneTimeInfo}></p>
		<p id={ElementIds.bodyTimerDoneDate}></p>
		<form style="display:contents" method="dialog" slot="footer">
			<Button ButtonVariant={ButtonVariant.filled}>
				<Icon IconCode={IconCodes.dismiss}/>
				Dismiss
			</Button>
		</form>
	</Dialog>
</div>