---
import Icon from '@/components/Icon/index.astro'
import Button from '@/components/Button/index.astro'
import TextAreaField from '@/components/TextAreaField/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Toast from '@/components/Toast/index.astro'
import Dialog from '@/components/Dialog/index.astro'
import { CSSClasses } from '../_styles/_css'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
import { CButton } from '@/components/Button'
import { DEFAULT_LATEX_TEXT } from '../_scripts/_shared/_constant'
import { Commands } from '../_scripts/_shared/_commands'
import { pxToRem } from '@/utils/css'
---

<main class={CSSClasses.body}>
	<Button id={ElementIds.bd_add}
		style={{'margin-left': pxToRem(16) + 'rem'}}
		ButtonVariant={CButton.Variant.Filled}>
		<Icon IconCode={IconCodes.Add}/>
		New equation
	</Button>
	<ul class={CSSClasses.bodyList} data-text-wrap id={ElementIds.bd_list}>
		<li>
			<textarea id={ElementIds.bdLat_textarea}>{DEFAULT_LATEX_TEXT}</textarea>
			<output for={ElementIds.bdLat_textarea}>
				<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
					<semantics>
						<mrow><msubsup><mo>∫</mo><mrow><mo>−</mo><mi mathvariant="normal">∞</mi></mrow><mi mathvariant="normal">∞</mi></msubsup><mfrac><mn>1</mn><msqrt><mrow><mn>2</mn><mi>π</mi><msup><mi>σ</mi><mn>2</mn></msup></mrow></msqrt></mfrac><mi>exp</mi><mo>⁡</mo><mrow><mo fence="true">(</mo><mo>−</mo><mfrac><mrow><mo stretchy="false">(</mo><mi>x</mi><mo>−</mo><mi>μ</mi><msup><mo stretchy="false">)</mo><mn>2</mn></msup></mrow><mrow><mn>2</mn><msup><mi>σ</mi><mn>2</mn></msup></mrow></mfrac><mo fence="true">)</mo></mrow><mo>⋅</mo><munderover><mo>∑</mo><mrow><mi>n</mi><mo>=</mo><mn>0</mn></mrow><mi mathvariant="normal">∞</mi></munderover><mfrac><mrow><mo stretchy="false">(</mo><mo>−</mo><mn>1</mn><msup><mo stretchy="false">)</mo><mi>n</mi></msup></mrow><mrow><mi>n</mi><mo stretchy="false">!</mo></mrow></mfrac><msup><mrow><mo fence="true">(</mo><mfrac><mrow><mi>x</mi><mo>−</mo><mi>μ</mi></mrow><mi>σ</mi></mfrac><mo fence="true">)</mo></mrow><mrow><mn>2</mn><mi>n</mi></mrow></msup><mi>d</mi><mi>x</mi></mrow>
					</semantics>
				</math>
			</output>
			<Button
				data-command={Commands.EquationNew}
				ButtonVariant={CButton.Variant.Outlined}>
				<Icon IconCode={IconCodes.Add}/>
				New equation
			</Button>
			<IconButton
				data-command={Commands.EquationCopy}
				IconButtonCode={IconCodes.Copy}
				aria-label="Copy"
				data-tooltip="Copy"
			/>
			<IconButton
				data-command={Commands.EquationMathML}
				IconButtonCode={IconCodes.Code}
				aria-label="MathML"
				data-tooltip="MathML"
			/>
			<IconButton
				data-command={Commands.EquationDelete}
				IconButtonCode={IconCodes.Delete}
				aria-label="Delete"
				data-tooltip="Delete"
				disabled
			/>
		</li>
	</ul>
</main>
<Toast id={ElementIds.toa_copied} ToastCloseDelay={1500}>
	<Icon IconCode={IconCodes.Copy} slot="leading"/>
	Copied
</Toast>
<Dialog
	id={ElementIds.bd_dialogMathML}
	style={{width: pxToRem(512) + 'rem'}}
	autofocus>
	<Fragment slot="header">MathML</Fragment>
	<TextAreaField
		aria-label="MathML"
		id={ElementIds.bd_inputMathML}
		style="resize:none;font-family:var(--g-font-family-monospace)"
		rows={10}
	/>
	<form style="display:contents" method="dialog" slot="footer">
		<Button ButtonVariant={CButton.Variant.Tonal}>Close</Button>
		<Button id={ElementIds.bd_mathMLCopy} ButtonVariant={CButton.Variant.Filled}>Copy</Button>
	</form>
</Dialog>