---
import AppBar from '@/components/AppBar2/index.astro'
import IconButton from '@/components/Button/IconButton.astro'
import Tooltip from '@/components/Tooltip/index.astro'
import Dialog from '@/components/Dialog/index.astro'
import Button from '@/components/Button/index.astro'
import Menu from '@/components/Menu/index.astro'
import TextField from '@/components/TextField/index.astro'
import SubMenu from '@/components/Menu/SubMenu.astro'
import SubMenuItem from '@/components/Menu/SubMenuItem.astro'
import RadioMenuItem from '@/components/Menu/RadioMenuItem.astro'
import MenuHeader from '@/components/Menu/MenuHeader.astro'
import MenuItem from '@/components/Menu/MenuItem.astro'
import MenuIndent from '@/components/Menu/MenuIndent.astro'
import Icon from '@/components/Icon/index.astro'
import LinkMenuItem from '@/components/Menu/LinkMenuItem.astro'
import Divider from '@/components/Divider/index.astro'
import { PlatformAnimationMode, PlatformThemeMode } from '@/enums/platforms'
import logoRedmerah from '@/assets/images/logos/redmerah-logo.svg'
import { RoutesLinks, ExternalLinks } from '@/enums/links'
import { pxToRem } from '@/utils/css'
import { IconCodes } from '@/enums/icons'
import { ElementIds } from '../_scripts/_shared/_ids'
import { RadioNames } from '../_scripts/_shared/_input-names'
import { APP, DEFAULT_ANIMATION, DEFAULT_PX_PER_PERCENTAGE, DEFAULT_PX_PER_REM, DEFAULT_PX_PER_VIEWPORT_HEIGHT, DEFAULT_PX_PER_VIEWPORT_WIDTH, DEFAULT_THEME } from '../_scripts/_shared/_constant'
import { CSSClasses } from '../_styles/_css'
import { CButton } from '@/components/Button'

const animations: {
	value: PlatformAnimationMode
	text: string
	icon: number
}[] = [
	{
		value: PlatformAnimationMode.auto,
		text: 'Automatic',
		icon: IconCodes.videoClipOptimize
	},
	{
		value: PlatformAnimationMode.on,
		text: 'On',
		icon: IconCodes.videoClip
	},
	{
		value: PlatformAnimationMode.off,
		text: 'Off',
		icon: IconCodes.videoClipOff
	},
]
const themes: {
	value: PlatformThemeMode
	text: string
	icon: number
}[] = [
	{
		value: PlatformThemeMode.auto,
		text: 'Automatic',
		icon: IconCodes.laptopSettings
	},
	{
		value: PlatformThemeMode.light,
		text: 'Light',
		icon: IconCodes.weatherSunny
	},
	{
		value: PlatformThemeMode.dark,
		text: 'Dark',
		icon: IconCodes.weatherMoon
	},
]
---

<AppBar
	id={ElementIds.appbar}
	AppBarLeadingAttr={{class: CSSClasses.smallScreenOnly}}>
	<Fragment slot="leading">
		<IconButton
			class={CSSClasses.smallScreenOnly}
			id={ElementIds.ap_openDrawerBtn}
			IconButtonCode={IconCodes.lineHorizontal3}
		/>
	</Fragment>
	<Fragment slot="headline">
		<img
			src={APP.logoUrl}
			alt={APP.name + ' logo'}
			style={{
				width: pxToRem(24) + 'rem',
				marginLeft: pxToRem(4) + 'rem'
			}}
		/>
		{APP.name}
	</Fragment>
	<Tooltip slot="trailing">
		<IconButton
			id={ElementIds.apInf_btn}
			data-tooltip="Info"
			aria-label="Info"
			IconButtonCode={IconCodes.info}
			popovertarget={ElementIds.apInf_menu}
		/>
		<Menu id={ElementIds.apInf_menu} PopoverAnchorBy={ElementIds.apInf_btn}>
			<MenuHeader>{APP.name}</MenuHeader>
			<MenuItem id={ElementIds.apInf_shareBtn}>
				<Icon IconCode={IconCodes.shareAndroid}/>
				Share
			</MenuItem>
			<LinkMenuItem href={'mailto:' + ExternalLinks.contactEmail + '?subject=' + encodeURI(APP.name)}>
				<Icon IconCode={IconCodes.chat}/>
				Send feedback
			</LinkMenuItem>
			<Divider />
			<LinkMenuItem href="/">
				<img src={logoRedmerah.src} style={{width: pxToRem(20) + 'rem'}}/>
				Redmerah
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.apps}>
				<Icon IconCode={IconCodes.apps}/>
				More apps
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.about}>
				<Icon IconCode={IconCodes.info}/>
				About us
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.privacy}>
				<Icon IconCode={IconCodes.shieldCheckmark}/>
				Privacy policy
			</LinkMenuItem>
			<LinkMenuItem href={RoutesLinks.terms}>
				<Icon IconCode={IconCodes.receipt}/>
				Terms & conditions
				<MenuIndent />
			</LinkMenuItem>
			<LinkMenuItem href={ExternalLinks.donate} LinkButtonNewTab>
				<Icon IconCode={IconCodes.gift}/>
				Donate
			</LinkMenuItem>
			<MenuHeader>&copy; {new Date().getFullYear()} Redmerah</MenuHeader>
		</Menu>

		<IconButton
			id={ElementIds.apSett_btn}
			data-tooltip="Settings"
			IconButtonCode={IconCodes.settings}
			aria-label="Settings"
			popovertarget={ElementIds.apSett_menu}
		/>
		<Menu id={ElementIds.apSett_menu} PopoverAnchorBy={ElementIds.apSett_btn}>
			<SubMenuItem
				popovertarget={ElementIds.apSett_animationMenu}>
				<Icon IconCode={IconCodes.playCircleHint}/>
				Animation
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu style={{width: pxToRem(150) + 'rem'}} id={ElementIds.apSett_animationMenu}>
				{animations.map(v =>
					<RadioMenuItem
						RadioMenuItemName={RadioNames.animation}
						RadioMenuItemChecked={DEFAULT_ANIMATION === v.value}
						RadioMenuItemValue={v.value}>
						<Icon IconCode={v.icon}/>
						{v.text}
					</RadioMenuItem>
				)}
			</SubMenu>

			<SubMenuItem
				popovertarget={ElementIds.apSett_themeMenu}>
				<Icon IconCode={IconCodes.weatherSunny}/>
				Theme
				<div style="flex:1"/>
				<Icon IconCode={IconCodes.chevronRight}/>
			</SubMenuItem>
			<SubMenu style={{width: pxToRem(150) + 'rem'}} id={ElementIds.apSett_themeMenu}>
				{themes.map(v =>
					<RadioMenuItem
						RadioMenuItemName={RadioNames.theme}
						RadioMenuItemChecked={DEFAULT_THEME === v.value}
						RadioMenuItemValue={v.value}>
						<Icon IconCode={v.icon}/>
						{v.text}
					</RadioMenuItem>
				)}
			</SubMenu>
			<MenuItem id={ElementIds.apSett_relativeBtn}>
				<Icon IconCode={IconCodes.numberRow}/>
				Relative unit value
				<MenuIndent/>
			</MenuItem>
		</Menu>
	</Tooltip>
</AppBar>
<Dialog
	id={ElementIds.apSett_relativeDialog}
	style={{width: pxToRem(360) + 'rem'}}>
	<Fragment slot="header">Relative Unit Value</Fragment>

	<label
		style={{'margin': `0 0 ${pxToRem(2)}rem 0`}}
		for={ElementIds.apSett_relativeRem}>1rem = ? px</label>
	<TextField TextFieldInputAttr={{
		id: ElementIds.apSett_relativeRem,
		type: 'number',
		value: DEFAULT_PX_PER_REM
	}}/>

	<label
		style={{'margin': `${pxToRem(8)}rem 0 ${pxToRem(2)}rem 0`}}
		for={ElementIds.apSett_relativePercent}>100% = ? px</label>
	<TextField TextFieldInputAttr={{
		id: ElementIds.apSett_relativePercent,
		type: 'number',
		value: DEFAULT_PX_PER_PERCENTAGE
	}}/>

	<label
		style={{'margin': `${pxToRem(8)}rem 0 ${pxToRem(2)}rem 0`}}
		for={ElementIds.apSett_relativeVw}>100vw = ? px</label>
	<TextField TextFieldInputAttr={{
		id: ElementIds.apSett_relativeVw,
		type: 'number',
		value: DEFAULT_PX_PER_VIEWPORT_WIDTH
	}}/>

	<label
		style={{'margin': `${pxToRem(8)}rem 0 ${pxToRem(2)}rem 0`}}
		for={ElementIds.apSett_relativeVh}>100vh = ? px</label>
	<TextField TextFieldInputAttr={{
		id: ElementIds.apSett_relativeVh,
		type: 'number',
		value: DEFAULT_PX_PER_VIEWPORT_HEIGHT
	}}/>

	<form method="dialog" slot="footer" style="display:contents">
		<Button ButtonVariant={CButton.Variant.tonal}>Close</Button>
		<Button
			id={ElementIds.apSett_relativeViewport}
			ButtonVariant={CButton.Variant.filled}>Update viewport</Button>
	</form>
</Dialog>