---
import { ThemeData } from '@/enums/theme'
import { generateColor, hexToRgb } from '@/utils/color'
import { CornerData } from '@/enums/corner'
import { ElementIds } from '@/enums/ids'
import '@/styles/fonts.scss'
import '@/styles/variables.scss'
import '@/styles/animations.scss'
import '@/styles/index.scss'
import type { HEXColor } from '@/types/color'

type Props = {
    title?: string
    description?: string
    lang?: string
    theme?: ThemeData
    accentColor?: HEXColor
    corner?: CornerData
}

const {
    title = 'Redmerah - Increase your productivity with our apps',
    description = 'Get things done faster with zero interruptions! Redmerah offers powerful, privacy-focused tools to boost your productivity. Free, secure & data stays local.',
    lang = 'en-US',
    theme = ThemeData.system,
    accentColor = '#FF0000',
    corner = CornerData.round
} = Astro.props

const colors = generateColor(accentColor)
const colorToCSS = (hex: string) => {
    const rgb = hexToRgb(hex)
    return `${rgb.r}, ${rgb.g}, ${rgb.b}`
}
---

<html lang={ lang } data-theme={ theme } data-corner={ corner }>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content={ accentColor } />
        <meta name="description" content={ description }>
        <title>{ title }</title>
        <style id={ElementIds.color_accent} set:html={`:root{--color-accent-light: ${colorToCSS(colors.color)};--color-accent-dark: ${colorToCSS(colors.colorDark)};--color-on-accent-light: ${colorToCSS(colors.onColor)};--color-on-accent-dark: ${colorToCSS(colors.onColorDark)};}`}/>
        <slot name="favicon">
            <link rel="shortcut icon" type="image/ico" href="/favicon/favicon.ico" />
            <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
            <link rel="manifest" href="/favicon/site.webmanifest">
        </slot>
        <slot name="open-graph-protocol" />
    </head>
    <body>
        <slot />
    </body>
</html>