---
import type { HEXColor } from '@/types/color'
import { ThemeData } from '@/enums/theme'
import { colorGeneratePalette, colorHexToRgb } from '@/utils/color'
import { CornerData } from '@/enums/corner'
import { ElementIds } from '@/enums/ids'
import { PlatformData } from '@/enums/platforms'
import { AnimationData } from '@/enums/animation'
import '@/styles/variables.scss'
import '@/styles/animations.scss'
import '@/styles/index.scss'

type Props = {
	title?: string
	description?: string
	lang?: string
	theme?: ThemeData
	accentColor?: HEXColor
	corner?: CornerData
	componentCount?: number
}

const {
	title = 'Redmerah - Increase your productivity with our apps',
	description = 'Get things done faster with zero interruptions! Redmerah offers powerful, privacy-focused tools to boost your productivity. Free, secure & data stays local.',
	lang = 'en-US',
	theme = ThemeData.system,
	accentColor = '#FF0000',
	corner = CornerData.round,
	componentCount = 0
} = Astro.props

const colors = colorGeneratePalette(accentColor)
const colorToCSS = (hex: HEXColor) => {
	const rgb = colorHexToRgb(hex)
	return `${Math.round(rgb.r * 0xff)}, ${Math.round(rgb.g * 0xff)}, ${Math.round(rgb.b * 0xff)}`
}
---

<html lang={ lang } data-animation={AnimationData.on} data-platform={ PlatformData.desktop } data-theme={ theme } data-corner={ corner }>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content={ accentColor } />
		<meta name="description" content={ description }>
		<title>{ title }</title>
		<style id={ElementIds.colorAccent} set:html={`:root{--g-color-accent-light: ${colorToCSS(colors.color)};--g-color-accent-dark: ${colorToCSS(colors.colorDark)};--g-color-on-accent-light: ${colorToCSS(colors.onColor)};--g-color-on-accent-dark: ${colorToCSS(colors.onColorDark)};}`}/>
		<slot name="favicon">
			<link rel="shortcut icon" type="image/ico" href="/favicon/favicon.ico" />
			<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
			<link rel="manifest" href="/favicon/site.webmanifest">
		</slot>
		<slot name="open-graph-protocol" />
	</head>
	<body data-g-component-count={componentCount}>
		<slot />
	</body>
</html>