---
import type { HEXColor } from '@/types/color'
import { generateColorPalette, hexToRgb } from '@/utils/color'
import { GlobalElementIds } from '@/enums/ids'
import { PlatformAnimationMode, PlatformThemeMode } from '@/enums/platforms'
import Dialog from '@/components/Dialog/index.astro'
import Tooltip from '@/layouts/Tooltip/index.astro'
import Icon from '@/components/Icon/index.astro'
import Button from '@/components/Button/index.astro'
import LinkButton from '@/components/Button/LinkButton.astro'
import '@/styles/variables.scss'
import '@/styles/index.scss'
import { IconCodes } from '@/enums/icons'
import { AppCSSColors } from '@/enums/app-data'
import { CButton } from '@/components/Button'
import { pxToRem } from '@/utils/css'

type Props = {
	title?: string
	description?: string
	lang?: string
	theme?: PlatformThemeMode
	animation?: PlatformAnimationMode
	accentColor?: HEXColor
}

const {
	title = 'Redmerah • Increase your productivity with our apps',
	description = 'Get things done faster with zero interruptions! Redmerah offers powerful, privacy-focused tools to boost your productivity. Free, secure & data stays local.',
	lang = 'en-US',
	theme = PlatformThemeMode.auto,
	animation = PlatformAnimationMode.auto,
	accentColor = '#FF0000',
} = Astro.props

const colors = generateColorPalette(accentColor)
const colorToCSS = (hex: HEXColor) => {
	const rgb = hexToRgb(hex)
	return `${Math.round(rgb.r * 0xff)}, ${Math.round(rgb.g * 0xff)}, ${Math.round(rgb.b * 0xff)}`
}
---

<html lang={ lang } data-animation={ animation } data-theme={ theme }>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content={ accentColor } />
		<meta name="description" content={ description }>
		<title>{ title }</title>
		<script is:inline src='/scripts/root-settings.min.js'/>
		<style id={GlobalElementIds.colorAccent} set:html={`:root{--g-color-accent-light: ${colorToCSS(colors.color)};--g-color-accent-dark: ${colorToCSS(colors.colorDark)};--g-color-on-accent-light: ${colorToCSS(colors.onColor)};--g-color-on-accent-dark: ${colorToCSS(colors.onColorDark)};}`}/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,400,0,0" />
		<slot name="favicon">
			<link rel="shortcut icon" type="image/ico" href="/favicon/favicon.ico" />
			<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
			<link rel="manifest" href="/favicon/site.webmanifest">
		</slot>
		<slot name="open-graph-protocol" />
	</head>
	<body>
		<Tooltip>
			<slot />
		</Tooltip>
		<Dialog
			id={GlobalElementIds.popoverWarningNotice}
			style={`width:${pxToRem(512)}rem`}
			DialogHeaderAttr={{style: 'opacity:var(--g-opacity-inv2)'}}>
			<Fragment slot="header">
				<Icon IconCode={IconCodes.warning} style={`font-size:${pxToRem(32)}rem`}/>
				Browser Compatibility Notice
			</Fragment>
			<p>This web app heavily utilizes the <a style={`border-bottom:${pxToRem(1)}rem solid rgb(${AppCSSColors.accent})`} href="https://developer.mozilla.org/en-US/docs/Web/API/Popover_API">Popover API</a>, which may not be fully supported by your browser. Some features might not function as expected. Please consider using a modern browser for the best experience.</p>
			<form slot="footer" style="display:contents" method="dialog">
				<Button ButtonVariant={CButton.Variant.tonal}>Close</Button>
				<LinkButton LinkButtonNewTab autofocus LinkButtonVariant={CButton.Variant.filled} href="https://developer.mozilla.org/en-US/docs/Web/API/Popover_API#browser_compatibility">Check browser</LinkButton>
			</form>
		</Dialog>
		<script src="./_popover-api-check.ts" />
	</body>
</html>